<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="../../font2/iconfont.css">
<link href="../../style/bootstrap.min.css" rel="stylesheet">
<link href="../../style/style.css" rel="stylesheet">
<link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
<link href="../../toastr/toastr.css" rel="stylesheet">
<style lang="">
.UpperPart {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
}

.selected {
	background: rgba(247, 161, 3, 0.2);
}

#mainContent th {
	cursor: pointer;
}
</style>
</head>
<body>

	<!-- 面包屑 -->
	<div class="mianbao">
		<ul class="breadcrumb">
			<li>
				<i class="iconfont icon-knowledgebase"></i>
			</li>
			<li>道路施工质量管理</li>
			<li class="active">沥青砼摊铺监控管理</li>
			<li class="active">施工现场来料管理</li>
		</ul>
	</div>

	<div class="zhuti-content">
		<div class="UpperPart">
			<div class="UpperPartL">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin: 5PX;">录入施工现场来料管理</button>
			</div>
			<div class="UpperPartR">
				<!--<button type="button" class="btn btn-primary" style="margin: 5PX;">导出Excel文件</button>-->
			</div>
		</div>
		<div class="LowerPart" style="margin-top: 3px;">
			<table class="table table-bordered table-condensed" id="mainContent">
				<thead>
					<tr>
						<th>批次</th>
						<th>路段编号</th>
						<th>车牌</th>
						<th>来料类型</th>
						<th>来料温度</th>
						<th>空车重量</th>
						<th>来料重量</th>
						<th>来料时间</th>
						<th>录入人</th>
						<th style="width: 70px;">操作</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
	<!-- allMsg -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">
						<b>所有信息</b>
					</h4>
				</div>
				<div class="modal-body">
					<div>
						<form class="form-inline">
							<table class="table table-bordered">
								<tr>
									<td style="width: 20%;">路段编号</td>
									<td style="width: 30%;">1</td>
									<td style="width: 20%;">车牌</td>
									<td style="width: 30%;">1</td>
								</tr>
								<tr>
									<td>批次</td>
									<td>1</td>
									<td>来料类型</td>
									<td>1</td>
								</tr>
								<tr>
									<td>来料温度</td>
									<td>12</td>
									<td>来料重量</td>
									<td>50</td>
								</tr>
								<tr>
									<td>空车重量</td>
									<td>50</td>
									<td>来料时间</td>
									<td>2019-10-23 11:23:22</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	<!-- allMsg结束 -->
	
	<!-- Modal -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" id="addLaiLiaoVm">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">
						<b>录入施工现场来料管理</b>
					</h4>
				</div>
				<div class="modal-body">
					<div>
						<form class="form-inline">
							<table class="table table-bordered">
								<tr>
									<td style="width: 20%;">批次</td>
									<td style="width: 30%;">
										<select  class="form-control" @change="getBatchVoById" v-model="batchid" style="width: 100%;">
											<option :value="item.id" v-for="item in batchList">{{item.batch}}</option>
										</select></td>
									<td style="height: 100%;">车牌</td>
									<td style="height: 100%;">{{licenceplate}}</td>
								</tr>
								<tr>
									<td>路段</td>
									<td>{{roadname}}</td>
									<td>来料类型</td>
									<td>{{flname}}</td>
								</tr>
								<tr>
									<td>空车重量</td>
									<td>{{unloadedweight}}</td>
									<td>来料重量</td>
									<td><input type="text" class="form-control" @blur="reg(yuguweight,'xiaoshu','yuguweight')" v-model="weight = yuguweight" style="width: 100%;" /></td>
								</tr>
								<tr>
									<td>来料温度</td>
									<td><input type="text" class="form-control" @blur="reg(temp,'xiaoshu','temp')" v-model="temp" style="width: 100%;" /></td>
									<td></td>
									<td></td>
								</tr>
							</table>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-success" @click="save">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!-- model结束 -->

	<!-- 修改Modal -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" id="xgLaiLiaoVm">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">
						<b>修改来料温度预警</b>
					</h4>
				</div>
				<div class="modal-body">
					<div>
						<form class="form-inline">
							<table class="table table-bordered">
								<tr>
									<td style="width: 20%;">批次</td>
									<td style="width: 30%;">
										<select  class="form-control" @change="getBatchVoById" v-model="batchid" style="width: 100%;">
											<option :value="item.id" v-for="item in batchList">{{item.batch}}</option>
										</select></td>
									<td style="height: 100%;">车牌</td>
									<td style="height: 100%;">{{licenceplate}}</td>
								</tr>
								<tr>
									<td>路段</td>
									<td>{{roadname}}</td>
									<td>来料类型</td>
									<td>{{flname}}</td>
								</tr>
								<tr>
									<td>空车重量</td>
									<td>{{unloadedweight}}</td>
									<td>来料重量</td>
									<td><input type="text" class="form-control" @blur="reg(yuguweight,'xiaoshu','yuguweight')" v-model="weight = yuguweight" style="width: 100%;" /></td>
								</tr>
								<tr>
									<td>来料温度</td>
									<td><input type="text" class="form-control" @blur="reg(temp,'xiaoshu','temp')" v-model="temp" style="width: 100%;" /></td>
									<td></td>
									<td></td>
								</tr>
							</table>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-success" @click="save">保存</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 修改model结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script>
	$(document).ready(function() {
		initTable();
	});
	var table = $('#mainContent')
			.dataTable(
					{
						"deferRender" : true,
						"processing" : true,
						"bDestroy" : true,
						"iDisplayLength" : 10,
						"searching" : true,
						"lengthChange" : false,
						"oLanguage" : {
							"sSearch" : '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
						},

						"order" : [ [ 0, 'asc' ] ],
						"columns" : [ {
							"data" : "batch"
						}, {
							"data" : "roadno"
						}, {
							"data" : "licenceplate"
						}, {
							"data" : "flname"
						}, {
							"data" : "temp"
						}, {
							"data" : "unloadedweight"
						}, {
							"data" : "weight"
						}, {
							"data" : "datetime"
						}, {
							"data" : "uname"
						}, {
							"data" : "id"
						}, ],
						"columnDefs" : [ {
							"class" : "tcenter",
							"targets" : 9,
							"searchable" : true,
							"render" : function(data, type, full) {
								var xiugai = '<i class="iconfont icon-xiugai" style="font-size:18px;cursor:pointer;" data-f="'
										+ full
										+ '"   onclick="udMsg(this)" title="修改" data-toggle="modal" data-target="#change"></i>';

								var qiyong = '<i class="iconfont icon-shanchu" style="font-size:18px;cursor:pointer;" data-id="'
										+ data
										+ '" onclick="delMsg(this)" title="删除"></i>';


								return xiugai + qiyong ;
							}
						} ,{
                            "class" : "tcenter",
                            "targets" : 8,
                            "searchable" : true,
                            "render" : function(data, type, full) {
                                if(data==null||data==""||data==undefined){
                                    return '';
                                }else{
                                    return data
                                }
                            }
                        }
                        ],
						"oLanguage" : { //国际化配置
							"sProcessing" : "正在获取数据，请稍后...",
							"sLengthMenu" : "显示 _MENU_ 条",
							"sZeroRecords" : "查询不到相关数据",
							"sInfo" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
							"sInfoEmpty" : "记录数为0",
							"sInfoFiltered" : "(全部记录数 _MAX_ 条)",
							"sInfoPostFix" : "",
							"sSearch" : "搜索",
							"sUrl" : "",
							"oPaginate" : {
								"sFirst" : "第一页",
								"sPrevious" : "上一页",
								"sNext" : "下一页",
								"sLast" : "最后一页"
							}
						},

					});
	function initTable() {
		$.ajax({
			type : 'POST',
			url : '/ShiGongLaiLiaoGuanLi/getAllShiGongLaiLiao',
			dataType : 'json',
			data : {},
			error : function(msg) {
				errMessage("请求UserController失败");
			},
			success : function(json) {
				$('#mainContent').dataTable().fnClearTable();
				$('#mainContent').DataTable().rows.add(json).draw(false);
			}
		});
	}
	
	//新建生产计划
	var addLaiLiaoVm = new Vue({
	  el: '#addLaiLiaoVm',
	  //表单数据
	  data: {
		  //批次id
		  batchid:"",
		  batch:"",
		  //车牌
		  licenceplate:"",
		  roadname:"",
		  roadno:"",
		  //来料类型
		  flname:"",
		  //空车重量
		  unloadedweight:"",
		  //预估净重
		  yuguweight:"",
		  //净重
		  weight:"",
		  temp:"",
		  loadingTemperature:"",
		  batchList:'',
	  },
	  methods: {
		//新建生产计划保存按钮事件
	    save: function () {
            //发送 post 请求  then中第一个function或者箭头函数为success回调函数, 第二个function为失败fail回调函数
            this.$http.post('/ShiGongLaiLiaoGuanLi/addShiGongLaiLiao',JSON.stringify(this._data),{}).then((res)=>{
            	var resMsg = res.body;
            	if(resMsg.daoMsg>0){
           		  $('#mainContent').DataTable().row.add(resMsg.obj).draw(); 
            		$("#myModal").modal("hide");
            		toastr.success(resMsg.resultMsg);
            	}else{
            		toastr.error(resMsg.resultMsg);
            	}
            },(res)=>{
            	
            });
	    },
	    reg:function(value,regType,id){
	    	var re = new RegExp(regMap[regType]);
	    	var flag;
    		flag = reg(parseFloat(value),re);
    		if(null!=value&&''!=value){
		    	if(!flag){
		    		this._data[id]="";
		    		toastr.error(errMsg[id]);
    		    }
    		}
	    },
        batchPost:function(){
            //发送 post 请求  then中第一个function或者箭头函数为success回调函数, 第二个function为失败fail回调函数
            this.$http.post('/BatchMgt/getAllBatchMgt',{},{}).then((res)=>{
            	this.batchList=res.body;
            	this.batchid=this.batchList[0].id;
            	this.getBatchVoById();
            },(res)=>{
                console.log(res.status);
            });
        },
        getBatchVoById:function(){
        	
       	 	this.$http.post('/BatchMgt/getBatchMgtVoById',{'id':this.batchid},{emulateJSON:true}).then((res)=>{
		       	 	var batchVo = res.body;
		        	this.licenceplate = batchVo.licencePlate;
		        	this.roadname = batchVo.roadname;
		        	this.flname = batchVo.flname;
		        	this.unloadedweight = batchVo.unloadedWeight;
		        	this.yuguweight = batchVo.yuguweight;
		        	this.temp = batchVo.loadingTemperature;
		        	this.batch = batchVo.batch;
		        	this.roadno = batchVo.roadno;
            },(res)=>{
                console.log(res.status);
            });
        }
	  }
	})
	//初始化下拉框路段
	addLaiLiaoVm.batchPost();
	
	
	
	//新建生产计划
	var xgLaiLiaoVm = new Vue({
	  el: '#xgLaiLiaoVm',
	  //表单数据
	  data: {
		  //来料id
		  id:"",
		  //批次id
		  batchid:"",
		  batch:"",
		  //车牌
		  licenceplate:"",
		  roadname:"",
		  roadno:"",
		  //来料类型
		  flname:"",
		  //空车重量
		  unloadedweight:"",
		  //预估净重
		  yuguweight:"",
		  //净重
		  weight:"",
		  temp:"",
		  loadingTemperature:"",
		  batchList:'',
	  },
	  methods: {
		//新建生产计划保存按钮事件
	    save: function () {
            //发送 post 请求  then中第一个function或者箭头函数为success回调函数, 第二个function为失败fail回调函数
            this.$http.post('/ShiGongLaiLiaoGuanLi/updateShiGongLaiLiao',JSON.stringify(this._data),{}).then((res)=>{
            	var resMsg = res.body;
            	if(resMsg.daoMsg>0){
            		$('#mainContent').DataTable().row(page_tr).data(resMsg.obj);//修改行立即显示 */
            		$("#change").modal("hide");
            		toastr.success(resMsg.resultMsg);
            	}else{
            		toastr.error(resMsg.resultMsg);
            	}
            },(res)=>{
            	
            });
	    },
	    reg:function(value,regType,id){
	    	var re = new RegExp(regMap[regType]);
	    	var flag;
    		flag = reg(parseFloat(value),re);
    		if(null!=value&&''!=value){
		    	if(!flag){
		    		this._data[id]="";
		    		toastr.error(errMsg[id]);
    		    }
    		}
	    },
        batchPost:function(){
            //发送 post 请求  then中第一个function或者箭头函数为success回调函数, 第二个function为失败fail回调函数
            this.$http.post('/BatchMgt/getAllBatchMgt',{},{}).then((res)=>{
            	this.batchList=res.body;
            	this.batchid=this.batchList[0].id;
            },(res)=>{
                console.log(res.status);
            });
        },
        getBatchVoById:function(){
        	
       	 	this.$http.post('/BatchMgt/getBatchMgtVoById',{'id':this.batchid},{emulateJSON:true}).then((res)=>{
		       	 	var batchVo = res.body;
		        	this.licenceplate = batchVo.licencePlate;
		        	this.roadname = batchVo.roadname;
		        	this.flname = batchVo.flname;
		        	this.unloadedweight = batchVo.unloadedWeight;
		        	this.yuguweight = batchVo.yuguweight;
		        	this.temp = batchVo.loadingTemperature;
		        	this.batch = batchVo.batch;
		        	this.roadno = batchVo.roadno;
            },(res)=>{
                console.log(res.status);
            });
        }
	  }
	})
	//初始化下拉框路段
	xgLaiLiaoVm.batchPost();
	
	var page_tr;
	
	var udMsg = (e)=>{
		var tr=$(e).parents("tr");
		page_tr = tr;
  	var data=$("#mainContent").DataTable().row(tr).data();
  	xgLaiLiaoVm.batchid = data.batchid;
  	xgLaiLiaoVm.batch = data.batch;
	  //车牌
	  xgLaiLiaoVm.licenceplate = data.licenceplate;
	  xgLaiLiaoVm.roadname = data.roadname;
	  xgLaiLiaoVm.roadno = data.roadno;
	  xgLaiLiaoVm.id = data.id;
	  //来料类型
	  xgLaiLiaoVm.flname = data.flname;
	  //空车重量
	  xgLaiLiaoVm.unloadedweight = data.unloadedweight;
	  //预估净重
	  xgLaiLiaoVm.yuguweight = data.weight;
	  //净重
	  xgLaiLiaoVm.weight = data.weight;
	  xgLaiLiaoVm.temp = data.temp;
	  xgLaiLiaoVm.loadingTemperature = data.loadingTemperature;
	}
	
	//箭头函数，内部this永远指向父级
	var delMsg = (e)=>{
		var tr = $(e).parents("tr");
		var data=$("#mainContent").DataTable().row(tr).data();
		var msg = "确定要删除吗？\n\n请确认！";
		if (confirm(msg) == true) {
	        $.ajax({
	            type: 'POST',
	            url: '/ShiGongLaiLiaoGuanLi/delShiGongLaiLiao',
	            dataType: 'json',
	            data: {
	            	id:data.id
	            },
	            error: function (msg) {
	                errMessage("请求UserController失败");
	            },
	            success: function (json) {
	            	if(json>0){
	            		toastr.success("删除成功");
	                $('#mainContent').DataTable().row(tr).remove().draw(false); //删除行立即显示
	            	}else{
	            	  toastr.error("删除失败");
	            	}
	            }
	        });
		}else{
			return false;
		}
	  console.log(msg);
	}
//全局正则KV集合
var regMap = {
		xiaoshu: '^[0-9]+\.?[0-9]*$'
}

function reg(str,re){
	if (re.test(str)) {
		return true;
	} else {
		return false;
	}
}
//全局错误提示
var errMsg = {
		yuguweight:'重量错误，请输入纯数字',
	  temp:'温度输入错误，请输入纯数字',
}
</script>
</html>