<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/laydate.css"/>
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>

<!-- 面包屑 -->
<div class="mianbao">
    <ul class="breadcrumb">
        <li><i class="iconfont icon-knowledgebase"></i></li>
        <li>道路施工质量管理</li>
        <li class="active">沥青砼摊铺监控管理</li>
        <li class="active">来料温度预警</li>
    </ul>
</div>

<div class="zhuti-content">
    <div class="UpperPart">
        <div class="UpperPartL">
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin: 5PX;">录入来料温度预警</button> -->
        </div>
        <div class="UpperPartR">
            <!--<button type="button" class="btn btn-primary" style="margin: 5PX;">导出Excel文件</button>-->
        </div>
        <!-- Modal -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"><b>录入来料温度预警</b></h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form class="form-inline">
                                <table class="table table-bordered">
                                    <tr>
                                        <td style="width: 20%;">序号</td>
                                        <td style="width: 30%;"><input type="text" /></td>
                                        <td style="width: 20%;">时间</td>
                                        <td style="width: 30%;"><input type="date" /></td>

                                    </tr>
                                    <tr>
                                        <td>路段编号</td>
                                        <td><input type="text" /></td>
                                        <td>沥青砼批次</td>
                                        <td><input type="text" /></td>
                                    </tr>
                                    <tr>
                                        <td>沥青砼类型</td>
                                        <td><input type="text" /></td>
                                        <td>预警内容</td>
                                        <td><input type="text" /></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-success" >保存</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- model结束 -->

        <!-- 修改Modal -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" id="xgLaiLiaoVm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><b>修改来料温度预警</b></h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <form class="form-inline">
                                <table class="table table-bordered">
                                    <tr>
                                        <td style="width: 20%;">沥青砼批次</td>
                                        <td style="width: 30%;"><label>{{batch}}</label></td>
                                        <td style="width: 20%;">路段编号</td>
                                        <td style="width: 30%;"><label>{{roadno}}</label></td>

                                    </tr>
                                    <tr>
                                        <td>沥青砼类型</td>
                                        <td><label>{{flname}}</label></td>
                                        <td>预警内容</td>
                                        <td><label><input class="form-control" v-model="warningcontent" type="text" /></label></td>
                                    </tr>
                                    <tr>
                                        <td>预警状态</td>
                                        <td><label>{{warningstate}}</label></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" @click="save" class="btn btn-success">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 修改model结束 -->

    </div>
    <div class="LowerPart" style="margin-top:3px;">
        <table class="table table-bordered table-condensed" id="mainContent">
            <thead>
            <tr>
                <th>沥青砼批次</th>
                <th>路段编号</th>
                <th>沥青砼类型</th>
                <th>预警内容</th>
                <th>处理状态</th>
                <th>时间</th>
                <th>操作人</th>
                <th style="width:70px;">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>2019-10-23 11:23:22</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>
                    <i class="iconfont icon-icon-test" style="font-size:20px;cursor:pointer;" title="查看详细信息"  data-toggle="modal" data-target="#allMsg1"></i>
                    <i class="iconfont icon-xiugai" style="font-size:18px;cursor:pointer;" title="修改" data-toggle='modal' data-target='#change'></i>
                    <i class="iconfont icon-shanchu" style="font-size:18px;cursor:pointer;" title="删除"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ><b>所有信息</b></h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-inline">
                        <table class="table table-bordered">
                            <tr>
                                <td style="width: 20%;">序号</td>
                                <td style="width: 30%;">1</td>
                                <td style="width: 20%;">时间</td>
                                <td style="width: 30%;">2019-10-23 11:23:22</td>

                            </tr>
                            <tr>
                                <td>路段编号</td>
                                <td>1</td>
                                <td>沥青砼批次</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>沥青砼类型</td>
                                <td>1</td>
                                <td>预警内容</td>
                                <td>1</td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script>
    $(document).ready( function () {
        initTable();
    });
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
            "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
        },
        "order": [[1, 'asc']],
        "columns" : [ {
            "data" : "batch"
        }, {
            "data" : "roadno"
        }, {
            "data" : "flname"
        }, {
            "data" : "warningcontent"
        }, {
            "data" : "warningstate"
        }, {
            "data" : "datetime"
        }, {
            "data" : "uname"
        }, {
            "data" : "id"
        }],
        "columnDefs" : [ {
                            "class" : "tcenter",
                            "targets" : 7,
                            "searchable" : true,
                            "render" : function(data, type, full) {
                                //var xiugai = '<i class="iconfont icon-xiugai" style="font-size:18px;cursor:pointer;" data-f="'+ full+ '"   onclick="udMsg(this)" title="修改" data-toggle="modal" data-target="#change"></i>';
                                //var qiyong = '<i class="iconfont icon-shanchu" style="font-size:18px;cursor:pointer;" data-id="'+ data+ '" onclick="delMsg(this)" title="删除"></i>';
                                var quxiao='<i class="glyphicon glyphicon-share-alt" style="font-size:18px;cursor:pointer;" data-id="'+ data+ '" onclick="quxaio(this)" title="取消"></i> &nbsp';
                                var feiliao='<i class="glyphicon glyphicon-floppy-remove" style="font-size:18px;cursor:pointer;" data-id="'+ data+ '" onclick="feiliao(this)" title="废料"></i>'
                                if(full.warningstate=="0"){
                                    return quxiao+feiliao;;
                                }else if(full.warningstate=="1"){
                                    return '';
                                }else{
                                    return '';
                                }
                            }
                        },{
                            "class" : "tcenter",
                            "targets" : 4,
                            "searchable" : true,
                            "render" : function(data, type, full) {
                                if(data=='0'){
                                    return '<span class="label label-success state">未操作</span>';
                                }else if(data=='1'){
                                    return '<span class="label label-info state">已取消</span>';
                                }
                                else if(data=='2'){
                                    return '<span class="label label-danger state">以废料</span>';
                                }
                            }
                        }

                ],
        "oLanguage": { //国际化配置
            "sProcessing": "正在获取数据，请稍后...",
            "sLengthMenu": "显示 _MENU_ 条",
            "sZeroRecords": "查询不到相关数据",
            "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
            "sInfoEmpty": "记录数为0",
            "sInfoFiltered": "(全部记录数 _MAX_ 条)",
            "sInfoPostFix": "",
            "sSearch": "搜索",
            "sUrl": "",
            "oPaginate": {
                "sFirst": "第一页",
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "最后一页"
            }},

    });
    function initTable(){
        $.ajax({
            type: 'POST',
            url: '/LaiLiaoWenDuYuJing/getAllLaiLiaoWenDu',
            dataType: 'json',
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }

    //箭头函数，内部this永远指向父级
    var delMsg = (e)=>{
        var tr = $(e).parents("tr");
        var data=$("#mainContent").DataTable().row(tr).data();
        var msg = "确定要删除吗？\n\n请确认！";
        if (confirm(msg) == true) {
            $.ajax({
                type: 'POST',
                url: '/LaiLiaoWenDuYuJing/delLaiLiaoWenDu',
                dataType: 'json',
                data: {
                    id:data.id
                },
                error: function (msg) {
                    errMessage("请求UserController失败");
                },
                success: function (json) {
                    if(json>0){
                        toastr.success("删除成功");
                        $('#mainContent').DataTable().row(tr).remove().draw(false); //删除行立即显示
                    }else{
                        toastr.error("删除失败");
                    }
                }
            });
        }else{
            return false;
        }
        console.log(msg);
    }
    //新建生产计划
    var xgLaiLiaoVm = new Vue({
        el: '#xgLaiLiaoVm',
        //表单数据
        data: {
            //来料id
            id:"",
            //批次id
            batch:"",
            roadname:"",
            roadno:"",
            //来料类型
            flname:"",
            warningcontent:"",
            warningstate:"",
            warningtype:"",
        },
        methods: {
            //新建生产计划保存按钮事件
            save: function () {
                //发送 post 请求  then中第一个function或者箭头函数为success回调函数, 第二个function为失败fail回调函数
                this.$http.post('/LaiLiaoWenDuYuJing/updateLaiLiaoWenDu',JSON.stringify(this._data),{}).then((res)=>{
                    var resMsg = res.body;
                    if(resMsg.daoMsg>0){
                        $('#mainContent').DataTable().row(page_tr).data(resMsg.obj);//修改行立即显示 */
                        $("#change").modal("hide");
                        toastr.success(resMsg.resultMsg);
                    }else{
                        toastr.error(resMsg.resultMsg);
                    }
                },(res)=>{

                });
            }
        }
    })

    var udMsg = (e)=>{
        var tr=$(e).parents("tr");
        page_tr = tr;
        var data=$("#mainContent").DataTable().row(tr).data();
        xgLaiLiaoVm.id = data.id;
        xgLaiLiaoVm.batch = data.batch;
        //车牌
        xgLaiLiaoVm.roadname = data.roadname;
        xgLaiLiaoVm.roadno = data.roadno;
        //来料类型
        xgLaiLiaoVm.flname = data.flname;
        //净重
        xgLaiLiaoVm.warningcontent = data.warningcontent;
        xgLaiLiaoVm.warningstate = data.warningstate;
    }


    var quxaio=(e)=>{
        var tr=$(e).parents("tr");
        var data=$("#mainContent").DataTable().row(tr).data();
        $.SmartMessageBox({
            title: "取消提示",
            content: "确认取消？",
            buttons: '[取消][确定]'
        }, function (ButtonPressed) {
            if (ButtonPressed === "确定") {
                myTool.mask.show('取消中...');
                $.ajax({
                    type: 'POST',
                    url:'/LaiLiaoWenDuYuJing/updWarningstate',
                    dataType: 'json',
                    data: {
                        id:data.id,
                        warningstate:1,
                    },
                    success: function (json) {
                        myTool.mask.hide();
                        if(json!=0){
                            data.warningstate=1;
                            $('#mainContent').DataTable().row(tr).data(data);
                            toastr.success('取消成功');
                        }else{
                            toastr.error('取消失败');
                        }
                    }
                });
            }
        });
    }

    function feiliao(obj){
        var tr=$(obj).parents("tr");
        var data=$("#mainContent").DataTable().row(tr).data();
        $.SmartMessageBox({
            title: "废料提示",
            content: "确认废料？",
            buttons: '[取消][确定]'
        }, function (ButtonPressed) {
            if (ButtonPressed === "确定") {
                myTool.mask.show('废料中...');
                $.ajax({
                    type: 'POST',
                    url:'/LaiLiaoWenDuYuJing/updWarningstate',
                    dataType: 'json',
                    data: {
                        id:data.id,
                        warningstate:2,
                    },
                    success: function (json) {
                        myTool.mask.hide();
                        if(json!=0){
                            data.warningstate=2;
                            $('#mainContent').DataTable().row(tr).data(data);
                            toastr.success('废料成功');
                        }else{
                            toastr.error('废料失败');
                        }
                    }
                });
            }
        });
    }

</script>
</html>