<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/laydate.css"/>
    <style lang="">
        * { margin: 0; padding: 0; }
		a { text-decoration: none; }
		ul { list-style: none; }
		body,  html { height: 100%; font-family: "微软雅黑"; }
		.box { width: 100%; height: 600px; margin: 40px 0; }
		#container1,  #container2 { width: 100%; height: 100%; }
		#container3 { width: 80%; height: 100%; }
		.list { width: 20%; height: 100%; background: #eee; }
		.list li { height: 34px; line-height: 34px; padding-left: 20px; }
		.list li.active a { color: red; }
		.title { font-size: 14px; font-weight: bold; color: #cc5522; }
		.content { font-size: 13px; color: #333; margin-top: 6px; }
		.fl { float: left; }
    </style>
</head>
<body>
   
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>道路施工质量管理</li>
			<li class="active">沥青砼摊铺监控管理</li>
			<li class="active">摊铺地点管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin: 5PX;">录入摊铺地点管理</button>
            </div>
            <div class="UpperPartR">
                <!-- <button type="button" class="btn btn-primary" style="margin: 5PX;">导出Excel文件</button> -->
            </div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>录入摊铺地点</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered">
							<tr>
								<td style="width: 20%;">序号</td>
								<td style="width: 30%;"><input type="text" id="xuhao"/></td>
								<td style="width: 20%;">工地名称</td>
								<td style="width: 30%;"><input type="text" id="gongdimingcheng"/></td>
							</tr>
							<tr>
								<td>经度</td>
								<td><input type="text" id="jingdu"/></td>
								<td>纬度</td>
								<td><input type="text" id="weidu"/></td>
							</tr>
							<tr>
								<td>桩号</td>
								<td><input type="text" id="zhuanghao"/></td>
								<td>车道</td>
								<td><input type="text" id="chedao"/></td>
							</tr>
                        </table>
                    </form> 
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="baocun" >保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改摊铺地点管理</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered">
						<tr>
							<td style="width: 20%;">序号</td>
							<td style="width: 30%;"><input type="text" /></td>
							<td style="width: 20%;">工地名称</td>
							<td style="width: 30%;"><input type="text" /></td>
						</tr>
						<tr>
							<td>经度</td>
							<td><input type="text" /></td>
							<td>纬度</td>
							<td><input type="text" /></td>
						</tr>
						<tr>
							<td>桩号</td>
							<td><input type="text" /></td>
							<td>车道</td>
							<td><input type="text" /></td>
						</tr>
                    </table>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->

        </div>
        <div class="LowerPart" style="margin-top:3px;">
            <div class="box">
	          <div id="container1" ></div>
	        </div>
        </div>
    </div>
<!-- allMsg -->

<!-- allMsg结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=mvusu4bCgPW13rbGBCfOz7GZF9mh3yaa"></script>
<script src="../../js/jquery.baiduMap.min.js"></script>
<script>
    $(document).ready( function () {
    	
	});
    
    var points = [{
		id: 1,
		lng: 118.096525,
		lat: 24.462602,
		title: "工地名称：厦门中山公园",
		content: ["经度：118.096525;纬度：24.462602","桩号：010 ; 车道：010"]
	}, {
		id: 2,
		lng: 118.095231,
		lat: 24.461615,
		title: "工地名称：厦门实验小学",
		content: ["经度：118.095231 , 纬度：24.461615", "桩号：011 , 车道：011"]
	}, {
		id: 3,
		lng: 118.092644,
		lat: 24.468522,
		title: "工地名称：厦门光明大厦",
		content: ["经度：118.092644 , 纬度：24.468522", "桩号：012 , 车道：012"]
	}, {
		id: 4,
		lng: 118.106586,
		lat: 24.467207,
		title: "工地名称：厦门将军祠",
		content: ["经度：118.106586 , 纬度：24.467207", "桩号：013 , 车道：013"]
	}, {
		id: 5,
		lng: 118.108526,
		lat: 24.474245,
		title: "工地名称：厦门古龙商城",
		content: ["经度：118.108526 , 纬度：24.474245","桩号：014 , 车道：014"]
	}];
    
    new BaiduMap({
		id: "container1",
		level: 16,//  选填--地图级别--(默认15)
		zoom: true, // 选填--是否启用鼠标滚轮缩放功能--(默认false)
		type: ["地图", "卫星"],// 选填--显示地图类型--(默认不显示)
		width: 320, // 选填--信息窗口width--(默认自动调整)
		height: 70, // 选填--信息窗口height--(默认自动调整)
		titleClass: "title",
		contentClass: "content",
		centerPoint: { // 地图中心点经纬度
			lng: 118.106586,
			lat: 24.467207
		},
		index: -1,// 开启对应的信息窗口，默认-1不开启
		points: points,
		//showLabel: true
	});
    
</script>
</html>