<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/icon.css" />
	<link rel="stylesheet" type="text/css" href="../../easyUI/demo/demo.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.mobile.css" />
	<link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
	<link rel="stylesheet" type="text/css" href="../../css/code.css" />
	<link rel="stylesheet" type="text/css" href="../../../js/skin/default/layer.css" />
    <link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
    <link href="../../toastr/toastr.css" rel="stylesheet">
	    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
   <!--  <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css"> -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
     <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/all.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
   
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>沥青砼运输监控管理</li>
			<li class="active">车辆管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
                <button type="button" class="btn btn-primary Pdaa" data-toggle="modal" data-target="#myModal" style="margin: 5PX;">录入车辆管理</button>
            </div>
            <div class="UpperPartR">
                <!-- <button type="button" class="btn btn-primary" style="margin: 5PX;">导出Excel文件</button> -->
            </div>


        </div>
        <div class="LowerPart" style="margin-top:3px;">
            <table class="layui-table" lay-skin="line" id="mainContent">
                <thead>
                    <tr style="background-color:#EBF4FF;border-bottom:none;background-image:none;">
                        <th>车牌</th>
                        <th>车型</th>
						<th>载重</th>
						<th>驾驶员</th>
						<th>GPS序号</th>
                        <th style="width:70px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>   
            </table>
        </div>
    </div>
<!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered">
                        <tr>
								<td>序号</td>
								<td>1</td>
								<td>车牌</td>
								<td>123456</td>
							</tr>
							<tr>
								<td>车型</td>
								<td>大型货车</td>
								<td>载重</td>
								<td>100</td>
							</tr>
							<tr>
								<td>驾驶员</td>
								<td>张三</td>
								<td>GPS序号</td>
								<td>1</td>
							</tr>
							<tr>
								<td>车辆进场时间</td>
								<td>2019-10-24 10:23:57</td>
								<td>车辆出场时间</td>
								<td>2019-10-24 10:23:57</td>
							</tr>
                    </table>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>录入车辆管理</b></h4>
        </div>
        <div class="modal-body">
                <div id="NewCheLiang">     
                    <form class="form-inline">
                        <table class="layui-table "lay-skin="line" >
							<tr>
								<td>车牌</td>
								<td><input type="text" id="chepai" /></td>
								<td>车型</td>
								<td><input type="text" id="chexing" /></td>
							</tr>
							<tr>
								<td>载重</td>
								<td><input type="text" id="zaizhong" /></td>
								<td>驾驶员</td>
								<td><input type="text" id="jiashiyuan" /></td>
							</tr>
							<tr>
								<td>GPS序号</td>
								<td><input type="text" id="gpsxuhao"/></td>
								<td></td>
								<td></td>
							</tr>
                        </table>
                    </form> 
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="baocun">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改车辆管理</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="layui-table "lay-skin="line" style="height:auto;">
							<tr>
								<td>车牌</td>
								<td><input type="text" id="xg_chepai" /></td>
								<td>车型</td>
								<td><input type="text" id="xg_chexing" /></td>
							</tr>
							<tr>
								<td>载重</td>
								<td><input type="text" id="xg_zaizhong" /></td>
								<td>驾驶员</td>
								<td><input type="text" id="xg_jiashiyuan" /></td>
							</tr>
							<tr>
								<td>GPS序号</td>
								<td><input type="text" id="xg_gpsxuhao"/></td>
								<td></td>
								<td></td>
							</tr>
                    </table>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="xg_baocun">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->


</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/quanxian.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
            { "data": "truckIc"}, 
            { "data": "truckType"},
            { "data": "weight"},
            { "data": "driver"},
            { "data": "GPSId"},
            { "data": null},
        ],
        "columnDefs": [{	
					 "class": "tcenter",
					    "targets": 5,
					    "searchable": true,
					    "render": function(data, type, full) {
					  	  		return '<i class="iconfont icon-xiugai Pdab" style="font-size:18px;cursor:pointer;display:none;" id="upd" title="修改" data-toggle="modal" data-target="#change"></i>'
	                            +'<i class="iconfont icon-shanchu Pdac" style="font-size:18px;cursor:pointer;display:none;" id="del"  title="删除"></i>'
					        }
					  }
					  
			],"fnDrawCallback" : function() {
                initTableQuanxian()
            },
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
	});

    function initTableQuanxian(){
        $.ajax({
            type:"post",
            url:"/login/getUser",
            async:false,
            data:{
            },
            success:function(json){
                if(json!=null &&json!=""){
                    var arr = json.uPermissions.split(',');
                    for(var i=0;i<arr.length;i++){
                        var arr2 = arr[i].replace("+","");
                        if(arr[i].indexOf("Pdab") >= 0 ){
                            $(".Pdab").show();
                        }
                        if(arr[i].indexOf("Pdac") >= 0 ){
                            $(".Pdac").show();
                        }

                    }

                }

            }
        });
    }

	function initTable(){
        $.ajax({
            type: 'POST',
            url: '/TruckInfo/getAllTruckInfo',
            dataType: 'json',
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }
	

	
	 $("#baocun").click(function(){
		var truckIc=$("#chepai").val();
		var truckType=$("#chexing").val()
		var weight=$("#zaizhong").val()
		var driver=$("#jiashiyuan").val()
		var GPSId=$("#gpsxuhao").val()
		if(truckIc==""){
			toastr.error("车牌为空");
			return false;
		}
		if(truckType==""){
			toastr.error("车型为空");
			return false;
		}
		if(weight==""){
			toastr.error("载重为空");
			return false;
		}
		if(driver==""){
			toastr.error("驾驶员为空");
			return false;
		}
		if(GPSId==""){
			toastr.error("GPS序号为空");
			return false;
		}
		
		$.ajax({
            type: 'POST',
            url: '/TruckInfo/insertTruckInfo',
            dataType: 'json',
            data: {
            	truckIc:truckIc,
            	truckType:truckType,
            	weight:weight,
            	driver:driver,
            	GPSId:GPSId,
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
               if(json.result>0){
            	   toastr.success("添加成功");
            	   $('#mainContent').DataTable().row.add(json.TruckInfo).draw(false);     //新增行立即显示
            	   $("#myModal").modal('hide');
               }else{
            	   toastr.error("添加失败");
               }
            }
        });
	}) 
	
	
		//删除
    $('#mainContent').delegate('#del','click', function () {
		var dom = $(this).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		$.SmartMessageBox({
	            title: "删除提示",
	            content: "确认删除？",
	            buttons: '[取消][确定]'
	        }, function (ButtonPressed) {
	        	if (ButtonPressed === "确定") {
	        		myTool.mask.show('删除中...');
	        		$.ajax({
	                    type: 'POST',
	                    url:'/TruckInfo/delTruckInfo',
	                    dataType: 'json',
	                    data: {
	                    	id:data.id
	                    },
	                    success: function (json) {
							myTool.mask.hide();
	                    	if(json!=0){
	                    		$('#mainContent').DataTable().row(dom).remove().draw(false); //删除行立即显示
	                    		toastr.success('删除成功');
	                    	}else{
	                    		 toastr.error('删除失败');
	                    	}
	                    }
	                }); 
	        	    	
	        	}
	        });
	})
	
	
	var xgId;
	var tr;
	$("#mainContent").delegate("#upd","click",function(){
		var dom = $(this).parents('tr');
		tr = $(this).closest('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		xgId=data.id
		$("#xg_chepai").val(data.truckIc);
		$("#xg_chexing").val(data.truckType)
		$("#xg_zaizhong").val(data.weight)
		$("#xg_jiashiyuan").val(data.driver)
		$("#xg_gpsxuhao").val(data.GPSId)
	})
	
	$("#xg_baocun").click(function(){
		var truckIc=$("#xg_chepai").val();
		var truckType=$("#xg_chexing").val()
		var weight=$("#xg_zaizhong").val()
		var driver=$("#xg_jiashiyuan").val()
		var GPSId=$("#xg_gpsxuhao").val()
		if(truckIc==""){
			toastr.error("车牌为空");
			return false;
		}
		if(truckType==""){
			toastr.error("车型为空");
			return false;
		}
		if(weight==""){
			toastr.error("载重为空");
			return false;
		}
		if(driver==""){
			toastr.error("驾驶员为空");
			return false;
		}
		if(GPSId==""){
			toastr.error("GPS序号为空");
			return false;
		}
		
		$.ajax({
            type: 'POST',
            url: '/TruckInfo/updTruckInfo',
            dataType: 'json',
            data: {
            	id:xgId,
            	truckIc:truckIc,
            	truckType:truckType,
            	weight:weight,
            	driver:driver,
            	GPSId:GPSId,
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
               if(json.result>0){
            	   toastr.success("修改成功");
            	   $('#mainContent').DataTable().row(tr).data(json.TruckInfo);//修改行立即显示 */
            	   $("#change").modal('hide');
                   initTableQuanxian()
               }else{
            	   toastr.error("添加失败");
               }
            }
        });
	}) 
    
</script>
</html>