<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
	<link href="../../style/style.css" rel="stylesheet">
	<link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
	<link rel="stylesheet" href="../../style/jquery-editable-select.css">
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/default/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="../../easyUI/demo/demo.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/layui.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/layui.mobile.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/laydate.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/code.css"/>
	<link rel="stylesheet" type="text/css" href="../../js/skin/default/layer.css"/>
	<link href="../../toastr/toastr.css" rel="stylesheet">
	<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
	<link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
	<!-- SmartAdmin RTL Support  -->
	<link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="../../css/all.css">
	<style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
       .layui-tab-brief>.layui-tab-title .layui-this{
        	color: #5B82b3;
        }
        .layui-btn{
        	width: 50px;
        	height: 30px;
        	padding: 0px;
        	line-height: 0px;
        	border-radius: 7px;
        	border: none;
        }
        .anniu button{
        	width: 70px;
        	margin-right: 10px;
        }
        .layui-table tr:hover{
        	background-color: #E5F1FF !important;
        }
        .layui-laypage .layui-laypage-curr .layui-laypage-em{
        	background-color: #215Ba3;
        }
        h1{
        	margin: 0px;
        }
    </style>
</head>
<body>
   <div class="bg" id="bg" onclick="bg()" style="width: 100%;height: 100%;background-color: black;position: absolute;z-index: 3;background-color:rgba(0,0,0,0.3);display: none;">
   	<div class="ceng col-xs-7" style="height: 600px;background-color: white;position: absolute;z-index: 4;margin-top: 10%;margin-left: 20%;border-radius: 10px;padding: 0px;">
   		<div class="title" style="width: 100%;height: 70px;background-color: #3567A2;border-radius: 10px 10px 0px 0px;">
   			<h1 style="color: white;font-size: 25px;font-weight: bold;padding: 21px;display: inline-block;">里程详情</h1>
   			<a href="JavaScript:;" onclick="fs()"><img src="../../images/false.png"/ style="width: 30px;height: 30px;float: right;margin-top: 20px;margin-right: 20px;"></a>
   		</div>
   		 <table class="layui-table" lay-skin="line">
   		 	 			<colgroup>
					    <col width="80">
					    <col width="120">
					    <col>
					  </colgroup>
					  <thead>
					    <tr style="color: #5C82B2;font-weight: bolder">
					      <th>序号</th>
					      <th>车牌号</th>
					      <th>日期</th>
					      <th>开始里程（KM）</th>
					      <th>结束里程（KM）</th>
					      <th>行驶里程（KM）</th>
					       <th>开始地址</th>
					      <th>结束地址</th>
					  </thead>
					  <tbody>
					    <tr>
					      <td>1</td>
					      <td>苏A2912929</td>
					      <td>2020-08-25</td>
					       <td>12314.8</td>
					       <td>12314.8</td>
					       <td>8</td>
					       <td style="color: #63A1EF;">南京市秦淮区永智路5号科技创业研发孵化综合楼F幢523</td>
					       <td style="color: #63A1EF;">南京市秦淮区永智路5号科技创业研发孵化综合楼F幢523</td>
					    </tr>
					     <tr>
					      <td>1</td>
					      <td>苏A2912929</td>
					      <td>2020-08-25</td>
					       <td>12314.8</td>
					       <td>12314.8</td>
					       <td>8</td>
					       <td style="color: #63A1EF;">南京市秦淮区永智路5号科技创业研发孵化综合楼F幢523</td>
					       <td style="color: #63A1EF;">南京市秦淮区永智路5号科技创业研发孵化综合楼F幢523</td>
					    </tr>
					     <tr>
					      <td>1</td>
					      <td>苏A2912929</td>
					      <td>2020-08-25</td>
					       <td>12314.8</td>
					       <td>12314.8</td>
					       <td>8</td>
					       <td style="color: #63A1EF;">南京市秦淮区永智路5号科技创业研发孵化综合楼F幢523</td>
					       <td style="color: #63A1EF;">南京市秦淮区永智路5号科技创业研发孵化综合楼F幢523</td>
					    </tr>
					     <tr>
					      <td>1</td>
					      <td>苏A2912929</td>
					      <td>2020-08-25</td>
					       <td>12314.8</td>
					       <td>12314.8</td>
					       <td>8</td>
					       <td style="color: #63A1EF;">南京市秦淮区永智路5号科技创业研发孵化综合楼F幢523</td>
					       <td style="color: #63A1EF;">南京市秦淮区永智路5号科技创业研发孵化综合楼F幢523</td>
					    </tr>
					  </tbody>
					</table>
					 <div id="fy1" style="position: relative;margin-left: 45%;"></div>
					 <button type="button" onclick="qs()" class="layui-btn layui-btn-primary" style="background-color: #B5B5B5;">取消</button>
   	</div>
   </div>
     
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
    			<li>道路施工质量管理</li>
			<li>沥青砼摊铺监控管理</li>
			<li class="active" style="color: #5F84B2;">摊铺地点管理</li>
		</ul>
    </div>

<!-- allMsg -->
<div class="maindiv" style="background-color: white;border-radius: 10px;margin-left: 1%;width: 98%;height:800px;">
		<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
			  <ul class="layui-tab-title">
				  <li class="layui-this">车辆动态数据</li>
				  <li>车辆里程数据</li>
				  <li>车辆历史轨迹</li>
				  <li>行驶路线规划</li>
			  </ul>
			<div class="layui-tab-content" style="height: 100px;">
				<!--分页1-->
			    <div class="layui-tab-item layui-show">
			    	<!-- <div class="gj" style="background-color: white;border-radius:10px;width: 350px;height: 70px;position: absolute;z-index: 1;box-shadow: 10px 10px 10px #818181;left: 5%;margin-top: 1%;">
			    		<div class="layui-input-block">
			    			<label for="" style="line-height: 70px;margin-left: -90px;">车辆筛选：</label>
					      <select name="city" lay-verify="required" style="width:100%;margin-top: 15px;height: 30px;border: 1px solid #dedede;padding: 5px;border-radius: 5px;color: #818181;">
					        <option value="" >支持搜索</option>
					        <option value="0">1</option>
					        <option value="1">2</option>
					        <option value="2">3</option>
					        <option value="3">4</option>
					        <option value="4">5</option>
					      </select>
					    </div>
			    	</div>
			    	<div style="width: 97%;height: 84%;overflow: hidden;margin:0;position: absolute;"id="dituContent"></div> -->
					<iframe src="../guiji_23.html" width="100%" id="iframeFirst" height="750px" frameborder="no"
							border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
				</div>
			    <!--分页2-->
			    <div class="layui-tab-item">
			    	<iframe src="../guiji5.html" width="100%" height="750px" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
			    </div>
				<div class="layui-tab-item">
					<iframe src="../guiji4.html" width="100%" height="750px" frameborder="no" border="0" marginwidth="0"
							marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
				</div>
				<div class="layui-tab-item">
					<iframe src="../guiji.html" width="100%" height="730px" frameborder="no" border="0" marginwidth="0"
							marginheight="0" scrolling="no" allowtransparency="yes"></iframe>
				</div>
			</div>
		</div>
	<!-- allMsg结束 -->


	<!-- model结束 -->

	<!-- 修改Modal -->get
	<!-- 修改model结束 -->
</div>

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/laydate/laydate.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/quanxian.js"></script>
<script src="../../js/myTool.js"></script>
<script>
	document.getElementById('iframeFirst').contentWindow.location.reload(true);
</script>
</html>