<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/icon.css" />
	<link rel="stylesheet" type="text/css" href="../../easyUI/demo/demo.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.mobile.css" />
	<link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
	<link rel="stylesheet" type="text/css" href="../../css/code.css" />
	<link rel="stylesheet" type="text/css" href="../../../js/skin/default/layer.css" />
    <link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
    <link href="../../toastr/toastr.css" rel="stylesheet">
	    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
   <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
     <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/all.css">
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
   
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>沥青砼运输监控管理</li>
			<li class="active">沥青砼批次管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
            	<button type="button" class="btn btn-primary Pdba" data-toggle="modal"  id="kc_luru" style="margin: 5PX;">空车重量录入</button>
                 <button type="button" class="btn btn-primary Pdbb" data-toggle="modal" id="luru" style="margin: 5PX;">录入沥青砼批次管理</button>
            </div>
            <div class="UpperPartR">
                <div id="tabBtn" style="margin-left: 10px;margin-top: 1%;"></div>
            </div>

        </div>
        <div class="LowerPart" style="margin-top:3px;">
            <table class="layui-table" lay-skin="line" id="mainContent">
                <thead>
                    <tr style="background-color:#EBF4FF;border-bottom:none;background-image:none;">
                        <th>桩号</th>
                        <th style="width: 15%;">批次</th>
                        <th>车牌</th>
                        <th>空车重量(kg)</th>
                        <th>装料重量(kg)</th>
                        <th>料净重量(kg)</th>
                        <th>装料温度(°)</th>
                        <th>成品沥青类型</th>
                        <th>客户名称</th>
                        <th>入场时间</th>
                        <th>出场时间</th>
                        <th>录入人</th>
                        <th style="width:70px;">操作</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>   
            </table>
        </div>
    </div>
<!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered">
                        	<tr>
								<td style="width:20%;">批次</td>
								<td style="width:30%;">1</td>
								<td style="width:20%;">编号</td>
								<td style="width:30%;">123</td>
							</tr>
							<tr>
                                <td>重量(kg)</td>
                                <td>100</td>
                                <td>温度</td>
                                <td>30</td>
                            </tr>
							<tr>
								<td>成品沥青类型</td>
								<td>2</td>
								<td></td>
								<td></td>
							</tr>
                    </table>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>录入空车</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="layui-table "lay-skin="line">
							<tr>
								<td style="width: 20%;">车牌</td>
								<td style="width: 30%;"><input type="text" id="kc_chepai" style="width: 70%;"/></td>
								<td style="width: 20%;">空车重量(kg)</td>
								<td style="width: 30%;">
									<select class="form-inline" id="kc_chepaizhongliang" style="width: 70%;">
									</select>
								</td>
							</tr>
							<tr>
								<td>入场时间</td>
								<td><input type="text" id="kc_ruchangshijian" style="width: 70%;"/></td>
							</tr>
                        </table>
                    </form> 
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="kc_baocun">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>录入沥青砼批次管理</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="layui-table "lay-skin="line">
							<tr>
								<td>桩号</td>
								<td>
									<select class="form-inline" id="luduanbianhao" style="width: 70%;">
									</select>
								</td>
								<td>车牌</td>
								<td><input type="text" id="chepai" style="width: 70%;" disabled/></td>
							</tr>
							<tr>
								<td>空车重量(kg)</td>
								<td><input type="text" id="kongchezhongliang" style="width: 70%;" disabled/></td>
								<td>装料后重量(kg)</td>
								<td>
									<select class="form-inline" id="zhuangzaihouzhongliang" style="width: 70%;">
									</select>
								</td>
							</tr>
							<tr>
								<td>装料温度(°)</td>
								<td><input type="text" id="zhuangliaowendu" style="width: 70%;"/></td>
								<td>成品沥青类型</td>
								<td>
									<select class="form-inline" id="liqingleixing" style="width: 70%;">
									</select>
								</td>
							</tr>
							<tr>
								<td>入场时间</td>
								<td><input type="text" id="ruchangshijian" style="width: 70%;" disabled/></td>
								<td>出场时间</td>
								<td><input type="text" id="chuchangshijian" style="width: 70%;"/></td>
							</tr>
							<!--<tr>
								<td>录入人</td>
								<td><input type="text" id="lururen" style="width: 70%;"/></td>
								<td></td>
								<td></td>
							</tr>-->
                        </table>
                    </form> 
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="baocun">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改沥青砼批次管理</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered">
							<tr>
								<td>路段编号</td>
								<td>
									<select class="form-inline" id="xg_luduanbianhao" style="width: 70%;">
									</select>
								</td>
								<td>车牌</td>
								<td><input type="text" id="xg_chepai"/></td>
							</tr>
							<tr>
								<td>空车重量(kg)</td>
								<td><input type="text" id="xg_kongchezhongliang" style="width: 70%;"/></td>
							</tr>
							<tr>
								<td>装料后重量(kg)</td>
								<td><input type="text" id="xg_zhuangzaihouzhongliang" style="width: 70%;"/></td>
								<td>装料温度(°)</td>
								<td><input type="text" id="xg_zhuangliaowendu" style="width: 70%;"/></td>
							</tr>
							<tr>
								<td>成品沥青类型</td>
								<td>
									<select class="form-inline" id="xg_liqingleixing" style="width: 70%;">
									</select>
								</td>
								<td>入场时间</td>
								<td><input type="text" id="xg_ruchangshijian" style="width: 70%;"/></td>
							</tr>
                            <tr>
								<td>出场时间</td>
								<td><input type="text" id="xg_chuchangshijian" style="width: 70%;"/></td>

                            </tr>
							<!--<tr>
								<td>录入人</td>
								<td><input type="text" id="xg_lururen" style="width: 70%;"/></td>
								<td></td>
								<td></td>
							</tr>-->
                    </table>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="xg_baocun">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/quanxian.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<!--导出CSV开始-->
<script src="../../js/datatables/jquery.dataTables.min.js"></script>
<script src="../../js/datatables/dataTables.colVis.min.js"></script>
<script src="../../js/datatables/dataTables.tableTools.min.js"></script>
<script src="../../js/datatables/datatables.responsive.min.js"></script>
<script src="../../js/datatables/dataTables.buttons.min.js" ></script>
<script src="../../js/datatables/buttons.html5.min.js" ></script>
<script src="../../js/datatables/buttons.flash.min.js" ></script>
<script src="../../js/datatables/jszip.min.js"></script>
<!--导出CSV结束-->
<script>
    $(document).ready( function () {
    	initTable();
    	initluduanbianhao();
    	initliqingleixing();
    	var now=new Date().getTime();
    	laydate.render({
	        elem: '#kc_ruchangshijian', //指定元素
	        type: 'datetime' ,
	        value:new Date(now),
	        done:function(value,date,endDate){
	        	this.value=value;
	        }
	    });
    	laydate.render({
	        elem: '#ruchangshijian', //指定元素
	        type: 'datetime' 
	    });
    	laydate.render({
	        elem: '#chuchangshijian', //指定元素
	        type: 'datetime' 
	    });
	});
    var table=$('#mainContent').DataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
            {"data": "stakeMark"},
            {"data": "batch"},
            {"data": "licencePlate"},
            {"data": "unloadedWeight"},
            {"data": "loadingWeight"},
            {"data": "weight"},
            {"data": "loadingTemperature"},
            {"data": "pitchType"},
            {"data": "keHuMingCheng"},
            {"data": "datetimeIn"},
            {"data": "datetimeOut"},
            {"data": "editUserId"},
            {"data": null},
        ],
        "columnDefs": [{
            "class": "tcenter",
            "targets": 12,
            "searchable": true,
            "render": function (data, type, full) {
                //'<i class="iconfont icon-xiugai" style="font-size:18px;cursor:pointer;" id="upd" title="修改" data-toggle="modal" data-target="#change"></i>'
                return '<i class="iconfont icon-shanchu Pdbc" style="font-size:18px;cursor:pointer;display:none;" id="del"  title="删除"></i>'
            }
        }

        ], "fnDrawCallback": function () {
            initTableQuanxian()
        },
        "order": [[9, 'desc']],
        "oLanguage": { //国际化配置
            "sProcessing": "正在获取数据，请稍后...",
            "sLengthMenu": "显示 _MENU_ 条",
            "sZeroRecords": "查询不到相关数据",
            "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
            "sInfoEmpty": "记录数为0",
            "sInfoFiltered": "(全部记录数 _MAX_ 条)",
            "sInfoPostFix": "",
            "sSearch": "搜索",
            "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        "buttons": [
            {
                extend: "csv",
                text: "导出Excel",
                bom: true,
                filename: '沥青砼批次',
                fieldSeparator: ',',
                exportOptions: {
                    format: {
                        header: function ( data) {
                            return data;
                        },
                        body: function ( data, columnIdx, rowIdx, code ) {
                            return data;
                        }
                    },
                    columns:[0,1,2,3,4,5,6,7,8,9,10,11]
                }
            }
        ]
        
	});
    table.buttons().container().appendTo( $('#tabBtn') );
    $('.buttons-csv').addClass('btn btn-primary');

    $.fn.dataTable.ext.errMode = 'none';

    function initTableQuanxian(){
        $.ajax({
            type:"post",
            url:"/login/getUser",
            async:false,
            data:{
            },
            success:function(json){
                if(json!=null &&json!=""){
                    var arr = json.uPermissions.split(',');
                    for(var i=0;i<arr.length;i++){
                        var arr2 = arr[i].replace("+","");
                        if(arr[i].indexOf("Pdbc") >= 0 ){
                            $(".Pdbc").show();
                        }
                    }

                }

            }
        });
    }


	function initTable(){
        $.ajax({
            type: 'POST',
            url: '/BatchMgt/getAllBatchMgt',
            dataType: 'json',
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }
	
	function initluduanbianhao(){
		 $.ajax({
            type: 'POST',
            url: '/TanPuDiDianGuanLi/getAllTanPuDiDian',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	$("#luduanbianhao").html('');
	        	$("#xg_luduanbianhao").html('');
	        	 for(var i=0;i<json.length;i++){
	        		$("#luduanbianhao").append( "<option value='" + json[i].id + "'>"
			                    + json[i].stakemark + "</option>")
		            $("#xg_luduanbianhao").append( "<option value='" + json[i].id + "'>"
		                    + json[i].stakemark + "</option>")
	        	} 
            }
        }); 
	}
	

	function initliqingleixing(){
		$.ajax({
            type: 'POST',
            url: '/SysFormulationManagement/getFlName',
            dataType: 'json',
            data: {
            },
            success: function (json) {
            	$("#liqingleixing").html('');
	        	$("#xg_liqingleixing").html('');
	        	 for(var i=0;i<json.length;i++){
	        		 $("#liqingleixing").append( "<option value='" + json[i].flName + "'>"
			                    + json[i].flName + "</option>")
		            $("#xg_liqingleixing").append( "<option value='" + json[i].flName + "'>"
		                    + json[i].flName + "</option>")
	        	}
            }
        });
	}
	
	function getChepai(){
		var chepai;
		$.ajax({
            type: 'POST',
            url: '/TmpPlate/getTmpPlate',
            dataType: 'json',
            async: false, 
            data: {
            },
            success: function (json) {
            	chepai=json;
            }
        });
		return chepai;
	}
	function getzhongliang(){
		var zhongliang;
		$.ajax({
            type: 'POST',
            url: '/TmpWeight/getTmpWeight',
            dataType: 'json',
            async: false, 
            data: {
            },
            success: function (json) {
            	zhongliang=json;
            }
        });
		return zhongliang;
	}
	$("#kc_luru").click(function(){
		var chepai=getChepai();
		$("#kc_chepai").val(chepai.plate);
		var kc_zhongliang=getzhongliang();
		$("#kc_chepaizhongliang").html('');
	   	for(var i=0;i<kc_zhongliang.length;i++){
	       	$("#kc_chepaizhongliang").append( "<option value='" + kc_zhongliang[i].weight + "'>"
	                   + kc_zhongliang[i].weight + "</option>")
	   	}
		$("#myModal2").modal("show")
	})
	
	
	$("#kc_baocun").click(function(){
		var chepai=$("#kc_chepai").val();
		var kongchezhongliang=$("#kc_chepaizhongliang").val();
		var ruchangshijian=$("#kc_ruchangshijian").val();
		$.ajax({
	            type: 'POST',
	            url: '/BatchMgt/insertBatchMgt',
	            dataType: 'json',
	            data: {
	            	licencePlate:chepai,
	            	unloadedWeight:kongchezhongliang,
	            	datetimeIn:ruchangshijian,
	            },
	            error: function (msg) {
	                errMessage("请求UserController失败");
	            },
	            success: function (json) {
	               if(json.result>0){
	            	   toastr.success("添加成功");
	            	   $('#mainContent').DataTable().row.add(json.BatchMgt).draw(false);     //新增行立即显示
	            	   $("#myModal2").modal('hide');
                       initTable();
	               }else{
	            	   toastr.error("添加失败");
	               }
	            }
	        });
	})
	
	var luru_id;
	$("#luru").click(function(){
		var chepai=getChepai();
		$("#chepai").val(chepai.plate)
		var zhongliang=getzhongliang();
		$("#zhuangzaihouzhongliang").html('');
	   	for(var i=0;i<zhongliang.length;i++){
	       	$("#zhuangzaihouzhongliang").append( "<option value='" + zhongliang[i].weight + "'>"
	                   + zhongliang[i].weight + "</option>")
	   	}
		$.ajax({
            type: 'POST',
            url: '/BatchMgt/getBatchMgtByPlate',
            dataType: 'json',
            data: {
            	licencePlate:chepai.plate
            },
            error: function (msg) {
                toastr.error("请先录入空车重量");
            },
            success: function (json) {
            	luru_id=json.id;
            	$("#kongchezhongliang").val(json.unloadedWeight)
            	$("#ruchangshijian").val(json.datetimeIn)
				$("#myModal").modal("show")
            }
        });
	})
	
	
	$("#baocun").click(function(){
		var roadId=$("#luduanbianhao").val();
		var licencePlate=$("#chepai").val();
		var unloadedWeight=$("#kongchezhongliang").val();
		var loadingWeight=$("#zhuangzaihouzhongliang").val();
		var loadingTemperature=$("#zhuangliaowendu").val();
		var pitchType=$("#liqingleixing").val();
		var datetimeIn=$("#ruchangshijian").val();
		var datetimeOut=$("#chuchangshijian").val();
		//var editUserId=$("#lururen").val();
		
		$.ajax({
            type: 'POST',
            url:'/BatchMgt/updBatchMgt',
            dataType: 'json',
            data: {
            	id:luru_id,
                siteId:roadId,
            	licencePlate:licencePlate,
            	unloadedWeight:unloadedWeight,
            	loadingWeight:loadingWeight,
            	loadingTemperature:loadingTemperature,
            	pitchType:pitchType,
            	datetimeIn:datetimeIn,
            	datetimeOut:datetimeOut,
            	//editUserId:editUserId,
            },
            success: function (json) {
            	if(json.result>0){
            	    json.siteNumber=$("#luduanbianhao").find("option:selected").text();
            	   toastr.success("录入成功");
            	   $("#myModal").modal('hide');
            	   initTable();
               }else{
            	   toastr.error("录入失败");
               }
            }
        });
	})
	
	//删除
    $('#mainContent').delegate('#del','click', function () {
		var dom = $(this).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		$.SmartMessageBox({
	            title: "删除提示",
	            content: "确认删除？",
	            buttons: '[取消][确定]'
	        }, function (ButtonPressed) {
	        	if (ButtonPressed === "确定") {
	        		myTool.mask.show('删除中...');
	        		$.ajax({
	                    type: 'POST',
	                    url:'/BatchMgt/delBatchMgt',
	                    dataType: 'json',
	                    data: {
	                    	id:data.id
	                    },
	                    success: function (json) {
							myTool.mask.hide();
	                    	if(json!=0){
	                    		$('#mainContent').DataTable().row(dom).remove().draw(false); //删除行立即显示
	                    		toastr.success('删除成功');
	                    	}else{
	                    		 toastr.error('删除失败');
	                    	}
	                    }
	                }); 
	        	    	
	        	}
	        });
		
	})
	
	var xgId;
	var tr;
	$("#mainContent").delegate("#upd","click",function(){
		var dom = $(this).parents('tr');
		tr = $(this).closest('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		xgId=data.id
		$("#xg_luduanbianhao").val(data.roadId);
		$("#xg_chepai").val(data.licencePlate);
		$("#xg_kongchezhongliang").val(data.unloadedWeight);
		$("#xg_zhuangzaihouzhongliang").val(data.loadingWeight);
		$("#xg_zhuangliaowendu").val(data.loadingTemperature);
		$("#xg_liqingleixing").val(data.pitchType);
		$("#xg_ruchangshijian").val(data.datetimeIn);
		$("#xg_chuchangshijian").val(data.datetimeOut);
		//$("#xg_lururen").val(data.editUserId);
	})
	
	
	$("#xg_baocun").click(function(){
		var roadId=$("#xg_luduanbianhao").val();
		var licencePlate=$("#xg_chepai").val();
		var unloadedWeight=$("#xg_kongchezhongliang").val();
		var loadingWeight=$("#xg_zhuangzaihouzhongliang").val();
		var loadingTemperature=$("#xg_zhuangliaowendu").val();
		var pitchType=$("#xg_liqingleixing").val();
		var datetimeIn=$("#xg_ruchangshijian").val();
		var datetimeOut=$("#xg_chuchangshijian").val();
		//var editUserId=$("#xg_lururen").val();
		
		$.ajax({
            type: 'POST',
            url:'/BatchMgt/updBatchMgt',
            dataType: 'json',
            data: {
            	id:xgId,
            	roadId:roadId,
            	licencePlate:licencePlate,
            	unloadedWeight:unloadedWeight,
            	loadingWeight:loadingWeight,
            	loadingTemperature:loadingTemperature,
            	pitchType:pitchType,
            	datetimeIn:datetimeIn,
            	datetimeOut:datetimeOut,
            	//editUserId:editUserId,
            },
            success: function (json) {
            	if(json.result>0){
            	   toastr.success("修改成功");
            	   json.BatchMgt.pitchTypeName=$("#xg_liqingleixing").find("option:selected").text();
            	   json.BatchMgt.roadName=$("#xg_luduanbianhao").find("option:selected").text();
            	   $('#mainContent').DataTable().row(tr).data(json.BatchMgt);//修改行立即显示 */
            	   $("#change").modal('hide');
                    initTableQuanxian()
               }else{
            	   toastr.error("修改失败");
               }
            }
        });
	})
    
</script>
</html>