<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/icon.css" />
	<link rel="stylesheet" type="text/css" href="../../easyUI/demo/demo.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.mobile.css" />
	<link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
	<link rel="stylesheet" type="text/css" href="../../css/code.css" />
	<link rel="stylesheet" type="text/css" href="../../../js/skin/default/layer.css" />
	<link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
	<style lang="">
	        body{
	            background: #fff;
	        }
	        .UpperPart{
	            display: flex;
	            justify-content:space-between;
	            border-bottom: 1px solid #ccc;
	            padding-bottom: 12px;
	        }
	        .selected{
	            background: rgba(247, 161, 3,0.2);
	        }
	        #mainContent th{
	            cursor: pointer;
	        }
	    </style>
	</head>
	<body>
		<div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>沥青砼生产过程管理</li>
			<li class="active">物料管理</li>
			<li class="active">仓储管理</li>
		</ul>
    </div>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="background:#fff;">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">仓储管理</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">仓储管理分析</a></li>
        </ul>     
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="zhuti-content">
                    <div class="UpperPart">
                        <div class="UpperPartL">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin: 5PX;float: left;">录入仓储管理</button>
                        </div>
                        <div class="UpperPartR">
                            <button type="button" class="btn btn-primary" style="margin: 5PX;">导出Excel文件</button>
                        </div>
            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><b>录入仓储管理</b></h4>
                    </div>
                    <div class="modal-body">
                            <div>     
                                <form class="form-inline">
                                    <table class="table table-bordered table-condensed" >
                                    	<tr>
											<td style="width: 20%;">料仓编号</td>
											<td style="width: 30%;"><input type="text" style="width: 70%;" /></td>
											<td style="width: 20%;">时间</td>
											<td style="width: 30%;"><input type="date" style="width: 70%;" /></td>
										</tr>
										<tr>
											<td>重量</td>
											<td><input type="text" style="width: 70%;" /></td>
											<td>材料</td>
											<td><input type="text" style="width: 70%;"/></td>
										</tr>
										<tr>
											<td>备注</td>
											<td colspan="3"><textarea rows="3" style="width: 90%;"/></textarea></td>
										</tr>
                                    </table>
                                </form>  
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-default">保存</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- model结束 -->

            <!-- 修改Modal -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><b>修改仓储管理</b></h4>
                    </div>
                    <div class="modal-body">
                            <div>     
                                <form class="form-inline">
                                    <table class="table table-bordered table-condensed" >
                                    	<tr>
											<td style="width: 20%;">料仓编号</td>
											<td style="width: 30%;"><input type="text" style="width: 70%;" /></td>
											<td style="width: 20%;">时间</td>
											<td style="width: 30%;"><input type="date" style="width: 70%;" /></td>
										</tr>
										<tr>
											<td>重量</td>
											<td><input type="text" style="width: 70%;" /></td>
											<td>材料</td>
											<td><input type="text" style="width: 70%;"/></td>
										</tr>
										<tr>
											<td>备注</td>
											<td colspan="3"><textarea rows="3" style="width: 90%;"/></textarea></td>
										</tr>
                                    </table>
                                </form>  
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-success">保存</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- 修改model结束 -->

                    </div>
                    <div class="LowerPart" style="margin-top:3px;">
                        <table class="table table-bordered table-condensed" id="mainContent">
                            <thead>
                                <tr>
                                    <td>料仓编号</td>
                                    <td>时间</td>
                                    <td>重量</td>
                                    <td>材料</td>
                                    <td>备注</td>
                                    <th style="width:75px;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>
                                        <i class="iconfont icon-icon-test" style="font-size:20px;cursor:pointer;" title="查看详细信息"  data-toggle="modal" data-target="#allMsg1"></i>
                                        <i class="iconfont icon-xiugai" style="font-size:18px;cursor:pointer;" title="修改" data-toggle='modal' data-target='#change'></i>
                                        <i class="iconfont icon-shanchu" style="font-size:18px;cursor:pointer;" title="删除"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>
                                        <i class="iconfont icon-icon-test" style="font-size:20px;cursor:pointer;" title="查看详细信息"  data-toggle="modal" data-target="#allMsg1"></i>
                                        <i class="iconfont icon-xiugai" style="font-size:18px;cursor:pointer;" title="修改" data-toggle='modal' data-target='#change'></i>
                                        <i class="iconfont icon-shanchu" style="font-size:18px;cursor:pointer;" title="删除"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>
                                        <i class="iconfont icon-icon-test" style="font-size:20px;cursor:pointer;" title="查看详细信息"  data-toggle="modal" data-target="#allMsg1"></i>
                                        <i class="iconfont icon-xiugai" style="font-size:18px;cursor:pointer;" title="修改" data-toggle='modal' data-target='#change'></i>
                                        <i class="iconfont icon-shanchu" style="font-size:18px;cursor:pointer;" title="删除"></i>
                                    </td>
                                </tr>
                            </tbody>   
                        </table>
<!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered table-condensed" >
                    	<tr>
							<td style="width: 20%;">料仓编号</td>
							<td style="width: 30%;">1</td>
							<td style="width: 20%;">时间</td>
							<td style="width: 30%;">2</td>
						</tr>
						<tr>
							<td>重量</td>
							<td>1</td>
							<td>材料</td>
							<td>1</td>
						</tr>
						<tr>
							<td>备注</td>
							<td colspan="3">1</td>
						</tr>
                    </table>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="profile">
    			<div style="margin:5px;z-index: 999;">
					<form class="form-inline">
						<label>路段编号:</label>
						<select class="form-control" style="width:180px;" id="luduanbianhao">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</form>
				</div>
    			<div class="LowerPart" style="margin-top:3px;">
					<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
					<div id="main" style="width: 1000px;height:400px;">
					</div>  
				</div>
            </div>

            
        </div>
    </div>
	</body>
		<script src="../../js/jquery.js"></script>
	<script src="../../easyUI/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../easyUI/jquery.easyui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/common-scripts.js"></script>
	<script src="../../js/jquery.dataTables.min.js"></script>
	<script src="../../js/main.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/element.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/echarts.min.js" type="text/javascript" charset="utf-8"></script>

	<script>
	$(document).ready( function () {
    	$("#luduanbianhao").trigger("change");
	});
		 // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
 
        var option;
        $("#luduanbianhao").on("change",function(){
        	if($("#luduanbianhao").val()==1){
        		option = {
    				    title: {
    				            text: '百分比(%)',
    				        },
    					color: ['#3398DB'],
    				    tooltip : {
    				        trigger: 'axis',
    				        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
    				            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    				        }
    				    },
    				    grid: {
    				        left: '3%',
    				        right: '4%',
    				        bottom: '3%',
    				        containLabel: true
    				    },
    				    xAxis : [
    				        {
    				            type : 'category',
    				            data : ['2019-08-03', '2019-08-02', '2019-08-01'],
    				            axisTick: {
    				                alignWithLabel: true
    				            }
    				        }
    				    ],
    				    yAxis : [
    				        {
    				            type : 'value'
    				        }
    				    ],
    				    series : [
    				        {
    				            name:'直接访问',
    				            type:'bar',
    				            barWidth: '20%',
    				            data:[10, 32, 40]
    				        }
    				    ]
    				};
        	}else if($("#luduanbianhao").val()==2){
        		option = {
    				    title: {
    				            text: '百分比(%)',
    				        },
    					color: ['#3398DB'],
    				    tooltip : {
    				        trigger: 'axis',
    				        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
    				            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    				        }
    				    },
    				    grid: {
    				        left: '3%',
    				        right: '4%',
    				        bottom: '3%',
    				        containLabel: true
    				    },
    				    xAxis : [
    				        {
    				            type : 'category',
    				            data : ['2019-08-03', '2019-08-02', '2019-08-01'],
    				            axisTick: {
    				                alignWithLabel: true
    				            }
    				        }
    				    ],
    				    yAxis : [
    				        {
    				            type : 'value'
    				        }
    				    ],
    				    series : [
    				        {
    				            name:'直接访问',
    				            type:'bar',
    				            barWidth: '20%',
    				            data:[40, 52, 90]
    				        }
    				    ]
    				};
        	}else if($("#luduanbianhao").val()==3){
        		option = {
    				    title: {
    				            text: '百分比(%)',
    				        },
    					color: ['#3398DB'],
    				    tooltip : {
    				        trigger: 'axis',
    				        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
    				            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    				        }
    				    },
    				    grid: {
    				        left: '3%',
    				        right: '4%',
    				        bottom: '3%',
    				        containLabel: true
    				    },
    				    xAxis : [
    				        {
    				            type : 'category',
    				            data : ['2019-08-03', '2019-08-02', '2019-08-01'],
    				            axisTick: {
    				                alignWithLabel: true
    				            }
    				        }
    				    ],
    				    yAxis : [
    				        {
    				            type : 'value'
    				        }
    				    ],
    				    series : [
    				        {
    				            name:'直接访问',
    				            type:'bar',
    				            barWidth: '20%',
    				            data:[10, 62, 150]
    				        }
    				    ]
    				};
        	}
        	
        	 // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);

    		layui.use('element', function() {
    			var $ = layui.jquery,
    				element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

    			//触发事件
    			var active = {
    				tabAdd: function() {
    					//新增一个Tab项
    					element.tabAdd('demo', {
    						title: '新选项' + (Math.random() * 1000 | 0) //用于演示
    							,
    						content: '内容' + (Math.random() * 1000 | 0),
    						id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
    					})
    				},
    				tabDelete: function(othis) {
    					//删除指定Tab项
    					element.tabDelete('demo', '44'); //删除：“商品管理”


    					othis.addClass('layui-btn-disabled');
    				},
    				tabChange: function() {
    					//切换到指定Tab项
    					element.tabChange('demo', '22'); //切换到：用户管理
    				}
    			};

    			$('.site-demo-active').on('click', function() {
    				var othis = $(this),
    					type = othis.data('type');
    				active[type] ? active[type].call(this, othis) : '';
    			});

    			//Hash地址的定位
    			var layid = location.hash.replace(/^#test=/, '');
    			element.tabChange('test', layid);

    			element.on('tab(test)', function(elem) {
    				location.hash = 'test=' + $(this).attr('lay-id');
    			});

    		});
        })
 
       
	</script>
</html>
