<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../../favicon.ico" rel="shortcut icon">
		<link href="../../style/bootstrap.min.css" rel="stylesheet">
		<link href="../../style/style.css" rel="stylesheet">
		<link href="../../toastr/toastr.css" rel="stylesheet">
		<link rel="stylesheet" href="../../font2/iconfont.css">
		<link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="../../easyUI/themes/default/easyui.css" />
		<link rel="stylesheet" type="text/css" href="../../easyUI/themes/icon.css" />
		<link rel="stylesheet" type="text/css" href="../../easyUI/demo/demo.css" />
		<link rel="stylesheet" type="text/css" href="../../css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/layui.mobile.css" />
		<link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
		<link rel="stylesheet" type="text/css" href="../../css/code.css" />
		<link rel="stylesheet" type="text/css" href="../../../js/skin/default/layer.css" />
		<link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
	</head>

	<body>

		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<!--<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>新建</b></h4>
        </div>-->
					<div class="modal-body">
						<div>
							<form class="form-inline">
								<table class="table table-bordered table-condensed" style="height: 400PX;">
									<tr>
										<td>路程编号</td>
										<td>2</td>
									</tr>
									<tr>
										<td>路段名称</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									<tr>
										<td>标段号</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									<tr>
										<td>路段经度</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									<tr>
										<td>路段纬度</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									<tr>
										<td>配方编号</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									<tr>
										<td>成品需要量</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									<tr>
										<td>干拌时间</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									<tr>
										<td>湿拌时间</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									<tr>
										<td>油石比</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									<tr>
										<td>成品温度要求</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									<tr>
										<td>到现场温度要求</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									<tr>
										<td>价格</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									</tr>
								</table>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-success">保存</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="six">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<!--<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    <h4 class="modal-title" id="myModalLabel"><b>新建</b></h4>
		</div>-->
					<div class="modal-body">
						<div>
							<form class="form-inline">
								<table class="table table-bordered table-condensed" style="height: 400PX;">
									<tr>
										<td>序号</td>
										<td>2</td>
									</tr>
									<tr>
										<td>计划编号</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									<tr>
										<td>时间</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									<tr>
										<td>油石比</th>
										<td><input type="text" id="" placeholder="请输入" /style="width: 100%;height: 100%;border: none;"></td>
									</tr>
									<tr>
								</table>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-success">保存</button>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-tab">
			<ul class="layui-tab-title">
				<li class="layui-this">关键筛孔通过率列表</li>
				<li>关键筛孔通过率统计表</li>
				<li>实时生产数据报表</li>
				<li>实时生产热料配比</li>
				<li>实时级配曲线图</li>
				<li>级配统计图</li>
				<li>逐盘油石比</li>
				<li>油石比走势</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<div class="bottom">
						<div class="UpperPartR">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin: 5PX;">录入</button>
						</div>
						<table class="layui-table">
							<colgroup>
								<col width="150">
								<col width="200">
								<col>
							</colgroup>
							<thead>
								<tr>
									<th>序号</th>
									<td>路段编号</td>
									<td>生产时间</td>
									<th>4.75</th>
									<td>2.36</td>
									<td>0.075</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="layui-tab-item weadmin-body">
					<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
					<div id="main" style="width: 1000px;height:400px;"></div>
				</div>
				<div class="layui-tab-item">
					<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
					<div id="two" style="width: 1000px;height:400px;"></div>
				</div>
				<div class="layui-tab-item">
					<div class="bottom">
						<div class="UpperPartR">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin: 5PX;">录入</button>
						</div>
						<table class="layui-table">
							<colgroup>
								<col width="150">
								<col width="200">
								<col>
							</colgroup>
							<thead>
								<tr>
									<th>序号</th>
									<td>路段编号</td>
									<td>料1偏差</td>
									<th>料2偏差</th>
									<td>料3偏差</td>
									<td>料4偏差</td>
									<td>料5偏差</td>
									<td>料6偏差</td>
									<td>粉偏差</td>
									<td>沥青偏差</td>
									<td>最低温度</td>
									<td>最高温度</td>
									<td>干拌偏差</td>
									<td>湿拌偏差</td>
									<td>生产时间</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td>1</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="layui-tab-item">
					<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
					<div id="sec" style="width: 1000px;height:400px;"></div>
				</div>
				<div class="layui-tab-item">
					<div id="fou" style="width: 1000px;height:400px;"></div>
				</div>
				<div class="layui-tab-item">
					<div class="bottom">
						<div class="UpperPartR">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#six" style="margin: 5PX;">录入</button>
						</div>
					<table class="layui-table">
						<colgroup>
							<col width="150">
							<col width="200">
							<col>
						</colgroup>
						<thead>
							<tr>
								<th>序号</th>
								<td>计划编号</td>
								<td>时间</td>
								<th>油石比</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>1</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>1</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>1</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>1</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>1</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
							<td>1</td>
							<td></td>
							<td></td>
							<td></td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
				<div class="layui-tab-item">
					<div id="seven" style="width: 1000px;height:400px;"></div>
				</div>
			</div>
		</div>
		</div>
	</body>
	<script src="../../js/jquery.js"></script>
	<script src="../../easyUI/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../easyUI/jquery.easyui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/common-scripts.js"></script>
	<script src="../../js/jquery.dataTables.min.js"></script>
	<script src="../../js/main.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/element.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
	<script>
		// 基于准备好的dom，初始化echarts实例
		var myChart = echarts.init(document.getElementById('main'));

		var option = {
			title: {
				text: '折线图堆叠'
			},
			tooltip: {
				trigger: 'axis'
			},
			legend: {
				data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
			},
			grid: {
				left: '3%',
				right: '4%',
				bottom: '3%',
				containLabel: true
			},
			toolbox: {
				feature: {
					saveAsImage: {}
				}
			},
			xAxis: {
				type: 'category',
				boundaryGap: false,
				data: ['12:56:33', '13:03:01', '14:23:21', '15:00:01', '16:23:01', '17:03:01', '18:03:01']
			},
			yAxis: {
				type: 'value'
			},
			series: [{
					name: '0.075',
					type: 'line',
					stack: '总量',
					data: [8, 10, 10, 10, 10, 10, 10]
				},
				{
					name: '2.36',
					type: 'line',
					stack: '总量',
					data: [38, 40, 40, 40, 40, 40, 40]
				},
				{
					name: '4.75',
					type: 'line',
					stack: '总量',
					data: [47, 50, 50, 50, 50, 50, 50]
				}
			]
		};
		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);

		var myChart = echarts.init(document.getElementById('two'));

		var option = {
			title: {
				text: '折线图堆叠'
			},
			tooltip: {
				trigger: 'axis'
			},
			legend: {
				data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
			},
			grid: {
				left: '3%',
				right: '4%',
				bottom: '3%',
				containLabel: true
			},
			toolbox: {
				feature: {
					saveAsImage: {}
				}
			},
			xAxis: {
				type: 'category',
				boundaryGap: false,
				data: ['12:56:33', '13:03:01', '14:23:21', '15:00:01', '16:23:01', '17:03:01', '18:03:01']
			},
			yAxis: {
				type: 'value'
			},
			series: [{
					name: '0.075',
					type: 'line',
					stack: '总量',
					data: [8, 10, 10, 10, 10, 10, 10]
				},
				{
					name: '2.36',
					type: 'line',
					stack: '总量',
					data: [38, 40, 40, 40, 40, 40, 40]
				},
				{
					name: '4.75',
					type: 'line',
					stack: '总量',
					data: [47, 50, 50, 50, 50, 50, 50]
				},
				{
					name: '2.36',
					type: 'line',
					stack: '总量',
					data: [28, 30, 30, 30, 30, 30, 30]
				}, ,
				{
					name: '2.36',
					type: 'line',
					stack: '总量',
					data: [39, 40, 40, 40, 40, 40, 40]
				},

			]
		};
		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
		//      ==========================================================折线=======================================================================
		var myChart = echarts.init(document.getElementById('sec'));

		var option = {
			title: {
				text: '折线图堆叠'
			},
			tooltip: {
				trigger: 'axis'
			},
			legend: {
				data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
			},
			grid: {
				left: '3%',
				right: '4%',
				bottom: '3%',
				containLabel: true
			},
			toolbox: {
				feature: {
					saveAsImage: {}
				}
			},
			xAxis: {
				type: 'category',
				boundaryGap: false,
				data: ['0.07', '0.16', '0.3', '0.9', '1.38', '2,36', '4.75','5.75','5.25','6.15','7.2','8.7']
			},
			yAxis: {
				type: 'value'
			},
			series: [{
					name: '1',
					type: 'line',
					stack: '总量',
					data: [10,24,36,43,56,62,79,89,92,43,56,62,]
				},
				{
					name: '2',
					type: 'line',
					stack: '总量',
					data: [19,38,50,50,72,92,80,75,60,80,75,60]
				},
				{
					name: '3',
					type: 'line',
					stack: '总量',
					data: [10,20,30,40,50,60,70,80,90,92,80,75,]
				},
				{
					name: '4',
					type: 'line',
					stack: '总量',
					data: [10,20,30,40,50,60,70,80,90,79,89,92,]
				},
				{
					name: '5',
					type: 'line',
					stack: '总量',
					data: [10,20,30,40,50,60,70,80,90,79,89,92, ]
				}
			]
		};
		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
		
		var myChart = echarts.init(document.getElementById('fou'));
		
		var option = {
    title : {
        text: '分部沥青拌和楼沥青站数据实时监控',
        // subtext: '纯属虚构'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['mm','200']
    },
    toolbox: {
        show : true,
        feature : {
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    xAxis : [
        {
            type : 'category',
            data : ['2018-03-29','2018-03-29','2018-03-29','2018-03-29','2018-03-29','2018-03-29','2018-03-29','2018-03-29']
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'蒸发量',
            type:'bar',
            data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2],
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
        {
            name:'降水量',
            type:'bar',
            data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6],
            markPoint : {
                data : [
                    {name : '年最高', value : 182.2, xAxis: 7, yAxis: 183},
                    {name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name : '平均值'}
                ]
            }
        }
    ]
};
		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
		
		
		var myChart = echarts.init(document.getElementById('seven'));
		
		var option = {
    xAxis: {
        type: 'category',
        data: ['12:03', '12:03', '12:03', '12:03', '12:03', '12:03', '12:03', '12:03']
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        data: [9,9,10,11,11,11,11,11,11,11],
        type: 'line'
    }]
};

		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);
		
		
		layui.use('element', function() {
			var $ = layui.jquery,
				element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

			//触发事件
			var active = {
				tabAdd: function() {
					//新增一个Tab项
					element.tabAdd('demo', {
						title: '新选项' + (Math.random() * 1000 | 0) //用于演示
							,
						content: '内容' + (Math.random() * 1000 | 0),
						id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
					})
				},
				tabDelete: function(othis) {
					//删除指定Tab项
					element.tabDelete('demo', '44'); //删除：“商品管理”

					othis.addClass('layui-btn-disabled');
				},
				tabChange: function() {
					//切换到指定Tab项
					element.tabChange('demo', '22'); //切换到：用户管理
				}
			};

			$('.site-demo-active').on('click', function() {
				var othis = $(this),
					type = othis.data('type');
				active[type] ? active[type].call(this, othis) : '';
			});

			//Hash地址的定位
			var layid = location.hash.replace(/^#test=/, '');
			element.tabChange('test', layid);

			element.on('tab(test)', function(elem) {
				location.hash = 'test=' + $(this).attr('lay-id');
			});

		});
	</script>

</html>
