<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
    <link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
    <link rel="stylesheet" type="text/css" href="../../easyUI/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="../../easyUI/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="../../easyUI/demo/demo.css" />
    <link rel="stylesheet" type="text/css" href="../../css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/layui.mobile.css" />
    <link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
    <link rel="stylesheet" type="text/css" href="../../css/code.css" />
    <link rel="stylesheet" type="text/css" href="../../../js/skin/default/layer.css" />
    <link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
    <link href="../../toastr/toastr.css" rel="stylesheet">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/all.css">

    <!--引入播放器样式-->
    <link href="/img/video-js.min.css" rel="stylesheet">
    <!--引入播放器js-->
    <script src="/img/video.min.js"></script>
    <script src="/img/videojs-flash.min.js"></script>



    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>

<!-- 面包屑 -->
<div class="mianbao">
    <ul class="breadcrumb">
        <li><i class="iconfont icon-knowledgebase"></i></li>
        <li>视频监控</li>
        <li class="active">仓储视频监控</li>
    </ul>
</div>

<div class="zhuti-content">
    <div class="UpperPart">
    </div>
    <div class="LowerPart" style="margin-top:3px;">
        <!--vjs-big-play-centered 播放按钮居中-->
        <!--poster默认的显示界面，就是还没点播放，给你显示的界面-->
        <!--controls 规定浏览器应该为视频提供播放控件-->
        <!--preload="auto" 是否提前加载-->
        <!--autoplay 自动播放-->
        <!--loop=true 自动循环-->
        <!--data-setup='{"example_option":true}' 可以把一些属性写到这个里面来，如data-setup={"autoplay":true}-->

        <video id="my-player"  class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" autoplay="autoplay"
               poster="//vjs.zencdn.net/v/oceans.png" width="1400" height="700" data-setup='{"fluid":true}'>
            <!--src: 规定媒体文件的 URL  type:规定媒体资源的类型-->
            <source src='rtmp://rtmp.open.ys7.com/openlive/1c4ed59029a64839b89614d1ab2d2627' type='rtmp/flv'/>
            <!--                <source src='rtmp://58.200.131.2:1935/livetv/hunantv' type='rtmp/flv'/>-->
        </video>
    </div>
</div>
<!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-inline">
                        <table class="table table-bordered">

                        </table>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<!--&lt;!&ndash;引入播放器js&ndash;&gt;-->
<!--<script src="../../video.min.js"></script>-->
<!--<script src="../../js/videojs-flash.min.js"></script>-->
<script>
    videojs.options.flash.swf = '/img/VideoJS.swf';

    $(document).ready( function () {

    });
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
            "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
        },
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
            "sProcessing": "正在获取数据，请稍后...",
            "sLengthMenu": "显示 _MENU_ 条",
            "sZeroRecords": "查询不到相关数据",
            "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
            "sInfoEmpty": "记录数为0",
            "sInfoFiltered": "(全部记录数 _MAX_ 条)",
            "sInfoPostFix": "",
            "sSearch": "搜索",
            "sUrl": "",
            "oPaginate": {
                "sFirst": "第一页",
                "sPrevious": "上一页",
                "sNext": "下一页",
                "sLast": "最后一页"
            }},

    });
    function initTable(){
        $.ajax({
            type: 'POST',
            url: '',
            dataType: 'json',
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
                $('#').dataTable().fnClearTable();
                $('#').DataTable().rows.add(json).draw(false);
            }
        });
    }

    function getCreat(bb){
        var EnterpriseRating= $(bb).parent().prev().text();
        var Remarks= $(bb).parent().prev().prev().text();
        var ContactPhone1= $(bb).parent().prev().prev().prev().text();
        var Contacts= $(bb).parent().prev().prev().prev().prev().text();
        var address= $(bb).parent().prev().prev().prev().prev().prev().text();
        var ProprietorUnit= $(bb).parent().prev().prev().prev().prev().prev().prev().text();
        var Code= $(bb).parent().prev().prev().prev().prev().prev().prev().prev().text();
        $("#CEnterprise-rating").val(EnterpriseRating);
        $("#CRemarks").val(Remarks);
        $("#CContact-phone1").val(ContactPhone1);
        $("#CContacts").val(Contacts);
        $("#Caddress").val(address);
        $("#CProprietor-unit").val(ProprietorUnit);
        $("#CCode").val(Code);
        rowIndex = bb.parentNode.parentNode.rowIndex;
    }

    // 设置flash路径,用于在videojs发现浏览器不支持HTML5播放器的时候自动唤起flash播放器
    let player = videojs('my-player'); //my-player为页面video元素的id
    player.play(); //播放
    // 1. 播放   player.play()
    // 2. 停止   player.pause()
    // 3. 暂停   player.pause()
</script>
</html>