<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/icon.css" />
	<link rel="stylesheet" type="text/css" href="../../easyUI/demo/demo.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.mobile.css" />
	<link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
	<link rel="stylesheet" type="text/css" href="../../css/code.css" />
	<link rel="stylesheet" type="text/css" href="../../../js/skin/default/layer.css" />
    <link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
    <link href="../../toastr/toastr.css" rel="stylesheet">
	    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
     <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/all.css">
    <style lang="">
        body{
            background: #fff;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>系统管理</li>
			<li class="active">路段管理</li>
		</ul>
    </div>

    <div>
        <!-- Tab panes -->
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="zhuti-content">
                    <div class="UpperPart">
                        <div class="UpperPartL">
                            <button type="button" class="btn btn-primary Phda" data-toggle="modal" data-target="#myModal" style="margin: 5PX;float: left;">录入路段信息</button>
                        </div>
                        <div class="UpperPartR">
                            <!--<button type="button" class="btn btn-primary" style="margin: 5PX;">导出Excel文件</button>-->
                        </div>
                    </div>
                    <div class="LowerPart" style="margin-top:3px;">
                        <table class="layui-table "lay-skin="line" id="mainContent">
                            <thead>
                                <tr>
                                    <th>路段编号</th>
                                    <th>路段名称</th>
                                    <th>所属高速</th>
                                    <th>起经度</th>
                                    <th>起纬度</th>
                                    <th>止经度</th>
                                    <th>止纬度</th>
                                    <th>施工状态</th>
                                    <th style="width:75px;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>   
                        </table>
                    </div>
                </div>
            </div>
 </div>

 <!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>录入路段信息</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" style="height: auto;">
                        	<tr>
                        		<td style="width: 20%;">路段编号</td>
                        		<td><input type="text" class="form-control" id="roadNo" v-model="roadNo" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                        		<td>路段名称</td>
                        		<td><input type="text" class="form-control" id="roadName" v-model="roadName" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                        	</tr>
                            <tr>
                                <td>所属高速</td>
                                <td><input type="text" class="form-control" id="" v-model="expresswayName" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        	<tr>
                        		<td style="width: 20%;">起经度</td>
                        		<td><input type="text" class="form-control" id="startLng" v-model="startLng" @input="checknum('startLng')"  placeholder="请输入" style="width: 100%;height: 100%;"></td>
                        		<td>起纬度</td>
                        		<td><input type="text" class="form-control" id="startLat" v-model="startLat" @input="checknum('startLat')" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                        	</tr>
                        	<tr>
                        		<td style="width: 20%;">止经度</td>
                        		<td><input type="text" class="form-control" id="endLng" v-model="endLng" @input="checknum('endLng')" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                        		<td>止纬度</td>
                        		<td><input type="text" class="form-control" id="endLat" v-model="endLat" @input="checknum('endLat')" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                        	</tr>
                            <tr>
                                <td style="width: 20%;">起桩号</td>
                                <td><input type="text" class="form-control" id="startMark" v-model="startMark"  placeholder="请输入" style="width: 100%;height: 100%;"></td>
                                <td>止桩号</td>
                                <td><input type="text" class="form-control" id="endMark" v-model="endMark" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                            </tr>
                            <tr>
                                <td style="width: 20%;">路段方向</td>
                                <td><input type="text" class="form-control" id="direction" v-model="direction"  placeholder="请输入" style="width: 100%;height: 100%;"></td>
                                <td>沥青层次</td>
                                <td><input type="text" class="form-control" id="storey" v-model="storey" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                            </tr>
                            <tr>
                                <td style="width: 20%;">长</td>
                                <td><input type="text" class="form-control" id="roadLong" v-model="roadLong"  placeholder="请输入" style="width: 100%;height: 100%;"></td>
                                <td>宽</td>
                                <td><input type="text" class="form-control" id="roadWeight" v-model="roadWeight" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                            </tr>
                            <tr>
                                <td>深</td>
                                <td><input type="text" class="form-control" id="roadDeep" v-model="roadDeep" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </table>
                    </form>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default" @click="saveLuDuan">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="changeLuDuan">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改路段信息</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" style="height: auto;">
                        	<tr>
                        		<td style="width: 20%;">路段编号</td>
                        		<td><input type="text" class="form-control" id="" v-model="roadNo" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                        		<td>路段名称</td>
                        		<td><input type="text" class="form-control" id="" v-model="roadName" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                        	</tr>
                            <tr>
                                <td>所属高速</td>
                                <td><input type="text" class="form-control" id="" v-model="expresswayName" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        	<tr>
                                <td style="width: 20%;">起经度</td>
                                <td><input type="text" class="form-control" id="" v-model="startLng" @input="checknum('startLng')"  placeholder="请输入" style="width: 100%;height: 100%;"></td>
                        		<td>起纬度</td>
                        		<td><input type="text" class="form-control" id="" v-model="startLat" @input="checknum('startLat')" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                        	</tr>
                        	<tr>
                        		<td style="width: 20%;">止经度</td>
                        		<td><input type="text" class="form-control" id="" v-model="endLng" @input="checknum('endLng')" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                        		<td>止纬度</td>
                        		<td><input type="text" class="form-control" id="" v-model="endLat" @input="checknum('endLat')" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                        	</tr>
                            <tr>
                                <td style="width: 20%;">起桩号</td>
                                <td><input type="text" class="form-control"  v-model="startMark"  placeholder="请输入" style="width: 100%;height: 100%;"></td>
                                <td>止桩号</td>
                                <td><input type="text" class="form-control"  v-model="endMark" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                            </tr>
                            <tr>
                                <td style="width: 20%;">路段方向</td>
                                <td><input type="text" class="form-control"  v-model="direction"  placeholder="请输入" style="width: 100%;height: 100%;"></td>
                                <td>沥青层次</td>
                                <td><input type="text" class="form-control"  v-model="storey" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                            </tr>
                            <tr>
                                <td style="width: 20%;">长</td>
                                <td><input type="text" class="form-control"  v-model="roadLong"  placeholder="请输入" style="width: 100%;height: 100%;"></td>
                                <td>宽</td>
                                <td><input type="text" class="form-control"  v-model="roadWeight" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                            </tr>
                            <tr>
                                <td>深</td>
                                <td><input type="text" class="form-control"  v-model="roadDeep" placeholder="请输入" style="width: 100%;height: 100%;"></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" @click="saveLuDuan">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->

    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="finish">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><b>完成路段施工</b></h4>
                </div>
                <div class="modal-body">
                    <div>
                        <select multiple class="form-control" id="finishUser">
                            <option :value="user.userId" v-for="user in userList">{{user.uName}}</option>
                        </select>
                        <div>
                            <span>以上用户只拥有该路段权限，确定完成后将停用该用户的账户。</span><br/>
                            <span>相关摊铺地点也将全部完成，请确认是否完成。</span>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-default" @click="finishButton">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- model结束 -->
<!-- allMsg结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../easyUI/jquery.easyui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/main.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../js/quanxian.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

<script>
    $(document).ready( function () {
    	initTable();
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
        },
        "columns": [
		            { "data": "roadNo"},
		            { "data": "roadName"},
                    { "data": "expresswayName"},
		            { "data": "startLng"},
		            { "data": "startLat"},
		            { "data": "endLng"},
                    { "data": "endLat"},
                    { "data": "deleteState"},
                    { "data": "deleteState"}
                ],
         "columnDefs": [
							{
							"class": "tcenter",
							"targets": 7,
							"searchable": false,
							"render": function(data, type, full) {
                                        if(data=="1")
                                        {return '<span class="label label-success state">正在施工</span>' }
                                        else if(data=="2")
                                        {return '<span class="label label-info state">施工完成</span>'}
								    	/* return  '<i class="iconfont icon-xiugai Phdb" style="font-size:18px;cursor:pointer;display:none;" title="修改" data-toggle="modal" data-target="#changeLuDuan" onclick="xghxshebei(this)"></i>'
			                            +'<i class="iconfont icon-shanchu Phdc" style="font-size:18px;cursor:pointer;display:none;" title="删除" onclick="deleteyige(this)"></i>';
                                        */
                                    }
                            },
                            {
							"class": "tcenter",
							"targets": 8,
							"searchable": false,
							"render": function(data, type, full) {
                                        if(data=="1"){
                                            return  '<i class="iconfont icon-xiugai Phdb" style="font-size:18px;cursor:pointer;display:none;" title="修改" data-toggle="modal" data-target="#changeLuDuan" onclick="xghxshebei(this)"></i>'
                                            +'&nbsp&nbsp<i class="iconfont icon-tuichu Phdc" style="font-size:18px;cursor:pointer;display:none;" title="施工完成" data-toggle="modal" data-target="#finish" onclick="finishGetUser(this)"></i>'
                                            +'<i class="iconfont icon-shanchu Phdc" style="font-size:18px;cursor:pointer;display:none;" title="删除" onclick="deleteyige(this)"></i>';
                                        }else{
                                            return '';
                                        }
                                    }
							},
						], "fnDrawCallback" : function() {
                                initTableQuanxian()
                            },
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},  
	});

    function initTableQuanxian(){
        $.ajax({
            type:"post",
            url:"/login/getUser",
            async:false,
            data:{
            },
            success:function(json){
                if(json!=null &&json!=""){
                    var arr = json.uPermissions.split(',');
                    for(var i=0;i<arr.length;i++){
                        var arr2 = arr[i].replace("+","");
                        if(arr[i].indexOf("Phdb") >= 0 ){
                            $(".Phdb").show();
                        }if(arr[i].indexOf("Phdc") >= 0 ){
                            $(".Phdc").show();
                        }
                    }

                }

            }
        });
    }
    
	function initTable(){
        $.ajax({
            type: 'POST',
            url: '/SysRoadMgnController/getAllSysRoadMgn',
            dataType: 'json',
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }

    var addLuDuan = new Vue({
        el:"#myModal",
        data:{
            roadId:"",
            roadNo:"",
            roadName:"",
            expresswayName:"",
            startLng:"",
            startLat:"",
            endLng:"",
            endLat:"",
            remarks:"",
            deleteState:"",
            direction:"",
            startMark:"",
            endMark:"",
            storey:"",
            roadLong:"",
            roadWeight:"",
            roadDeep:"",
        },
        methods:{
            checknum(msg){           
                this._data[msg]=this._data[msg].replace(/[^\d.]/g,'');
                var str = this._data[msg].split('.');
                if(str.length>2)
                {this._data[msg]=this._data[msg].substr(0,this._data[msg].length-1);}
            },
            saveLuDuan:function(){
                this.$http.post('/SysRoadMgnController/addSysRoadMgn',this._data,{}).then((res)=>{
                    var resMsg = res.body;
                    if(resMsg.result>0){
                        $('#mainContent').DataTable().row.add(resMsg.sysRoadMgn).draw();
                        $("#myModal").modal("hide");
                        toastr.success("添加成功");
                    }else{
                        toastr.error("添加失败");
            	    }
            },(res)=>{
            	toastr.error("发生错误");
            });
            }
        }
    });

var trr;
//修改回显
function xghxshebei(obj){
    var tr=$(obj).parents("tr");
    var data=$("#mainContent").DataTable().row(tr).data();
    trr=$(obj).closest('tr');
    changeLuDuan.roadId=data.roadId;
    changeLuDuan.roadNo=data.roadNo;
    changeLuDuan.roadName=data.roadName;
    changeLuDuan.startLng=data.startLng;
    changeLuDuan.startLat=data.startLat;
    changeLuDuan.endLng=data.endLng;
    changeLuDuan.endLat=data.endLat;
    changeLuDuan.remarks=data.remarks;
    changeLuDuan.deleteState=data.deleteState;
    changeLuDuan.direction=data.direction;
    changeLuDuan.startMark=data.startMark;
    changeLuDuan.endMark=data.endMark;
    changeLuDuan.storey=data.storey;
    changeLuDuan.roadLong=data.roadLong;
    changeLuDuan.roadWeight=data.roadWeight;
    changeLuDuan.roadDeep=data.roadDeep;
}
    var changeLuDuan = new Vue({
        el:"#changeLuDuan",
        data:{
            roadId:"",
            roadNo:"",
            roadName:"",
            expresswayName:"",
            startLng:"",
            startLat:"",
            endLng:"",
            endLat:"",
            remarks:"",
            deleteState:"",
            direction:"",
            startMark:"",
            endMark:"",
            storey:"",
            roadLong:"",
            roadWeight:"",
            roadDeep:"",
        },
        methods:{
            checknum(msg){           
                this._data[msg]=this._data[msg].replace(/[^\d.]/g,'');
                var str = this._data[msg].split('.');
                if(str.length>2)
                {this._data[msg]=this._data[msg].substr(0,this._data[msg].length-1);}
            },
            saveLuDuan:function(){
                this.$http.post('/SysRoadMgnController/updateSysRoadMgnById',this._data,{}).then((res)=>{
                    var resMsg = res.body;
                    if(resMsg.result>0){
                        $('#mainContent').DataTable().row(trr).data(resMsg.sysRoadMgn);
                        $("#changeLuDuan").modal("hide");
                        toastr.success("修改成功");
                        initTableQuanxian()
                    }else{
                        toastr.error("修改失败");
            	    }
            },(res)=>{
            	toastr.error("发生错误");
            });
            }
        }
    });

    //配比材料删除
    function deleteyige(obj) {
		var dom = $(obj).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		$.SmartMessageBox({
	            title: "删除提示",
	            content: "确认删除？",
	            buttons: '[取消][确定]'
	        }, function (ButtonPressed) {
	        	if (ButtonPressed === "确定") {
	        		myTool.mask.show('删除中...');
	        		$.ajax({
	                    type: 'POST',
	                    url:'/SysRoadMgnController/delSysRoadMgn',
	                    dataType: 'json',
	                    data: {
	                    	id:data.roadId
	                    },
	                    success: function (json) {
							myTool.mask.hide();
	                    	if(json!=0){
	                    		$('#mainContent').DataTable().row(dom).remove().draw(false); //删除行立即显示
	                    		toastr.success('删除成功');
	                    	}else{
	                    		toastr.error('删除失败');
	                    	}
	                    }
	                }); 
	        	}
	        });
	}

	var finish=new Vue({
        el:"#finish",
        data:{
            roadId:"",
            userList:""
        },
        methods:{

            finishButton:function(){
                //发送 post 请求  then中第一个function或者箭头函数为success回调函数, 第二个function为失败fail回调函数
                this.$http.post('/SysRoadMgnController/finishRoad',{'roadId':this.roadId},{emulateJSON:true}).then((res)=>{
                    var resMsg = res.body;
                    if(resMsg.result>0){
                        $('#mainContent').DataTable().row(trr).data(resMsg.sysRoadMgn);
                        toastr.success('项目已完成');
                        $("#finish").modal("hide");
                    }else{
                        toastr.error('项目完成失败');
                        $("#finish").modal("hide");
                    }
                },(res)=>{
                    toastr.error('项目完成失败');
                    $("#finish").modal("hide");
                    console.log(res.status);
                });


            },
            getRoadUser:function(){
                //发送 post 请求  then中第一个function或者箭头函数为success回调函数, 第二个function为失败fail回调函数
                this.$http.post('/user/selectUserByRoadIdIsOne',{'roadId':this.roadId},{emulateJSON:true}).then((res)=>{
                    this.userList=res.body;
                },(res)=>{
                    console.log(res.status);
                });

            }
        }
    });

    function finishGetUser(obj){
        var tr=$(obj).parents("tr");
        var data=$("#mainContent").DataTable().row(tr).data();
        trr=$(obj).closest('tr');
        finish.roadId=data.roadId;
        finish.getRoadUser();
        $("#finish").show();
    }

</script>
</html>