<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../../easyUI/themes/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/icon.css" />
	<link rel="stylesheet" type="text/css" href="../../easyUI/demo/demo.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.mobile.css" />
	<link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
	<link rel="stylesheet" type="text/css" href="../../css/code.css" />
	<link rel="stylesheet" type="text/css" href="../../../js/skin/default/layer.css" />
	<link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
    <link href="../../toastr/toastr.css" rel="stylesheet">
	    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
     <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/all.css">
    
    
    <style lang="">
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
   
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>系统管理</li>
			<li class="active">配比管理</li>
		</ul>
    </div>

    <div class="zhuti-content">
        <div class="UpperPart">
            <div class="UpperPartL">
                <button type="button" class="btn btn-primary Phea" data-toggle="modal" data-target="#myModal" style="margin: 5PX;">录入配比</button>
            </div>
            <div class="UpperPartR">
                <!--<button type="button" class="btn btn-primary" style="margin: 5PX;">导出Excel文件</button>-->
            </div>
     </div>
<!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>录入配比</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="layui-table "lay-skin="line">
                            <tr>
                                <td>配方名称:</td>
                                <td><input type="text" class="form-control" id="fl_name"></td>
                                <td colspan="2"></td>
							</tr>
							<tr>	
								<td>0-3用量:</td>
								<td><input type="text" class="form-control" id="materials_use_1"></td>
							    <td>3-6用量:</td>
							    <td><input type="text" class="form-control" id="materials_use_2"></td>
							</tr>
							<tr>	
								<td>6-11用量:</td>
								<td><input type="text" class="form-control" id="materials_use_3"></td>
							    <td>11-17用量:</td>
							    <td><input type="text" class="form-control" id="materials_use_4"></td>
							</tr>
							<tr>	
								<td>17-22用量:</td>
								<td><input type="text" class="form-control" id="materials_use_5"></td>
							    <td>22-32用量:</td>
							    <td><input type="text" class="form-control" id="materials_use_6"></td>
							</tr>
							<tr>	
								<td>粉用量:</td>
								<td><input type="text" class="form-control" id="bone_flour_use"></td>
							    <td>沥青用量:</td>
							    <td><input type="text" class="form-control" id="pitch_use"></td>
							</tr>
                        </table>
                         <table class="layui-table "lay-skin="line" id="new_materials">
							<thead>
								<tr>
	                                <td style="width:15%;">添加剂材料:  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
	                                <td >
	                                    <button type="button" class="btn btn-primary" onclick="new_materials()">增加添加剂材料</button>
	                                </td>
	                                <td colspan="2"> 材料重量</td>
                            	</tr>
							</thead>
							<tbody></tbody>
						</table>
                    </form> 
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="subpeibi()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="pbchange">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改配比</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="layui-table "lay-skin="line">
                    	 	<tr>
                    	 		<td>配方编号</td>
                                <td><input type="text" class="form-control" id="edit_fl_no" disabled></td>
                                <td>配方名称:</td>
                                <td><input type="text" class="form-control" id="edit_fl_name"></td>
                            </tr>
							<tr>
								<td>0-3用量:</td>
								<td><input type="text" class="form-control" id="edit_materials_use_1"></td>
							    <td>3-6用量:</td>
							    <td><input type="text" class="form-control" id="edit_materials_use_2"></td>
							</tr>
							<tr>   
								<td>6-11用量:</td>
								<td><input type="text" class="form-control" id="edit_materials_use_3"></td>
							    <td>11-17用量:</td>
							    <td><input type="text" class="form-control" id="edit_materials_use_4"></td>
							</tr>
							<tr>
								<td>17-22用量:</td>
								<td><input type="text" class="form-control" id="edit_materials_use_5"></td>
							    <td>22-32用量:</td>
							    <td><input type="text" class="form-control" id="edit_materials_use_6"></td>
							</tr>
							<tr>
								<td>粉用量:</td>
								<td><input type="text" class="form-control" id="edit_bone_flour_use"></td>
							    <td>沥青用量:</td>
							    <td><input type="text" class="form-control" id="edit_pitch_use"></td>
							    
							</tr>
                    </table>
                   	<table class="layui-table "lay-skin="line" id="edit_fushumaterials">
							<thead>
								<tr>
	                                <td style="width:15%;">添加剂材料:  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
	                                <td >
	                                    <button type="button" class="btn btn-primary" onclick="edit_fushumaterials()">增加添加剂材料</button>
	                                </td>
	                                <td colspan="2"> 材料重量</td>
                            	</tr>
							</thead>
							<tbody></tbody>
						</table>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" onclick="xgbaocun()">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->

       
        

<!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="pfxq">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="layui-table "lay-skin="line">
                    	 	<tr>
                    	 		<td>配方编号</td>
                                <td><input type="text" class="form-control" id="xq_fl_no" readonly="readonly"></td>
                                <td>配方名称:</td>
                                <td><input type="text" class="form-control" id="xq_fl_name" readonly="readonly"></td>
                            </tr>
							<tr>
								<td>0-3用量:</td>
								<td><input type="text" class="form-control" id="xq_materials_use_1" readonly="readonly"></td>
							    <td>3-6用量:</td>
							    <td><input type="text" class="form-control" id="xq_materials_use_2" readonly="readonly"></td>
							</tr>
							<tr>   
								<td>6-11用量:</td>
								<td><input type="text" class="form-control" id="xq_materials_use_3" readonly="readonly"></td>
							    <td>11-17用量:</td>
							    <td><input type="text" class="form-control" id="xq_materials_use_4" readonly="readonly"></td>
							</tr>
							<tr>
								<td>17-22用量:</td>
								<td><input type="text" class="form-control" id="xq_materials_use_5" readonly="readonly"></td>
							    <td>22-32用量:</td>
							    <td><input type="text" class="form-control" id="xq_materials_use_6" readonly="readonly"></td>
							</tr>
							<tr>
								<td>粉用量:</td>
								<td><input type="text" class="form-control" id="xq_bone_flour_use" readonly="readonly"></td>
							    <td>沥青用量:</td>
							    <td><input type="text" class="form-control" id="xq_pitch_use" readonly="readonly"></td>
							</tr>
                    </table>
                    <table class="layui-table "lay-skin="line" id="xq_fushumaterials">
							<thead>
								<tr>
	                                <td style="width:15%;">添加剂材料:  <i class="iconfont icon-xingxing-copy" style="color:red;"></i></td>
	                                <td ></td>
	                                <td colspan=""> 材料重量</td>
                            	</tr>
							</thead>
							<tbody></tbody>
						</table>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->

<div class="LowerPart" style="margin-top:3px;">
            <table class="layui-table "lay-skin="line" id="mainContent">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>配方名称</th>
                        <th>0-3用量(kg)</th>
						<th>3-6用量(kg)</th>
						<th>6-11用量(kg)</th>
						<th>11-17用量(kg)</th>
						<th>17-22用量(kg)</th>
						<th>22-32用量(kg)</th>
						<th>粉用量(kg)</th>
						<th>沥青用量(kg)</th>
						
                        <th style="width:50px;">操作</th>
                    </tr>
                </thead>
                <!-- <tbody>
                    <tr>
                        <td id="1">1</td>
                        <td>石油</td>
                        <td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>木质纤维</td>
                        <td>
                            <i class="iconfont icon-icon-test" style="font-size:20px;cursor:pointer;" title="查看详细信息"  data-toggle="modal" data-target="#allMsg1"></i>
                            <i class="iconfont icon-xiugai" style="font-size:18px;cursor:pointer;" title="修改" data-toggle='modal' data-target='#change'></i>
                            <i class="iconfont icon-shanchu" style="font-size:18px;cursor:pointer;" title="删除"></i>
                        </td>
                    </tr>
                </tbody>    -->
            </table>
        </div>
    </div>

</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>
<script src="../../js/quanxian.js"></script>
<script>
    $(document).ready( function () {
    	initTable();
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "sDom": 
			"t"+
			"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
		            { "data": "flNo"}, 
		            { "data": "flName"},
		            { "data": "materialsUse1"},
		            { "data": "materialsUse2"},
		            { "data": "materialsUse3"},
		            { "data": "materialsUse4"},
		            { "data": "materialsUse5"},
		            { "data": "materialsUse6"},
		            { "data": "boneFlourUse"},
		            { "data": "pitchUse"},
		            { "data": null}
		        ],
		 "columnDefs": [
							{
							"class": "tcenter",
							"targets": 10,
							"searchable": false,
							"render": function(data, type, full) {
								    	var chakan=  '<i class="iconfont icon-icon-test" style="font-size:20px;cursor:pointer;" title="查看添加剂材料"  data-toggle="modal" onclick="xiangqingpeibihuixian(this)"></i>'
			                            var xiugai='<i class="iconfont icon-xiugai Pheb" style="font-size:18px;cursor:pointer;" title="修改" data-toggle="modal" onclick="xgpeibihuixian(this)"></i>'
			                            var shanchu='<i class="iconfont icon-shanchu Phec" style="font-size:18px;cursor:pointer;" title="删除" onclick="deleteyige(this)"></i>';
								    	return chakan;
								        }
							},
						],"fnDrawCallback" : function() {
								initTableQuanxian()
							},
        "order": [[1, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},  
	});

	function initTableQuanxian(){
		$.ajax({
			type:"post",
			url:"/login/getUser",
			async:false,
			data:{
			},
			success:function(json){
				if(json!=null &&json!=""){
					var arr = json.uPermissions.split(',');
					for(var i=0;i<arr.length;i++){
						var arr2 = arr[i].replace("+","");
						if(arr[i].indexOf("Pheb") >= 0 ){
							$(".Pheb").show();
						}if(arr[i].indexOf("Phec") >= 0 ){
							$(".Phec").show();
						}
					}

				}

			}
		});
	}

	function initTable(){
        $.ajax({
            type: 'POST',
            url: "/SysFormulationManagement/selectAllSysFormulationManagement",
            dataType: 'json',
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }
	//添加页面添加剂材料数量的增加
	var len=1;
	function new_materials(){
			$("#new_materials tbody").append(
			"<tr><td>添加剂材料</td><td>"+
			"<select class='form-control' style='width:180px;' id='materialName"+len+"'>"+
			"</select></td>"+
			"<td><input type='text' id='materialWeight"+len+"' name='materialWeight' class='form-control'></td>"+
			"<td><button type='button' class='btn btn-primary' onclick='removeThis(this)'>移除</button></td></tr>");
			initMaterials(len);
			len++;
		}
	//删除已增加到列表的添加剂材料
	function removeThis(obj){
    	var tr=$(obj).parent().parent();
		  $(tr).remove();
    }
    //初始化添加剂材料类型
	function initMaterials(obj){
		$.ajax({
            type: 'POST',
            url: '/DicMaterials/selectAllDicMaterials',
            dataType: 'json',
            async:false,
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
            	for(var i=0;i<json.length;i++){
            		$("#materialName"+obj).append("<option value="+json[i].materialName+">"+json[i].materialName+"</option>");
            		$("#edit_fushumaterialName"+obj).append("<option value="+json[i].materialName+">"+json[i].materialName+"</option>");
            	}
            	
            }
        });
    }
    //新增配比提交
    function subpeibi(){
    	var fsclList=new Array();
    	
    	$("#new_materials tbody").find("tr").each(function(){
    		var mName=$(this).find("td").eq(1).find("option:selected").val();
			var weight=$(this).find("td").eq(2).find("input").val();
			var fscl={
	    			flId:undefined,
	    			mName:undefined,
	    			weight:undefined
	    	}
			fscl.mName=mName;
			fscl.weight=weight;
			fsclList.push(fscl);
    	});
    	var flName=$("#fl_name").val();
    	var materialsUse1=$("#materials_use_1").val();
    	var materialsUse2=$("#materials_use_2").val();
    	var materialsUse3=$("#materials_use_3").val();
    	var materialsUse4=$("#materials_use_4").val();
    	var materialsUse5=$("#materials_use_5").val();
    	var materialsUse6=$("#materials_use_6").val();
    	var boneFlourUse=$("#bone_flour_use").val();
    	var pitchUse=$("#pitch_use").val();
    	if(flName==''){
    		toastr.error("配方名称不能为空");
    		return;
    	}
    	
    	var pb={
    			flId:undefined,
    			flNo:undefined,
    			flName:undefined,
    			materialsUse1:0,
    			materialsUse2:0,
    			materialsUse3:0,
    			materialsUse4:0,
    			materialsUse5:0,
    			materialsUse6:0,
    			boneFlourUse:0,
    			pitchUse:0,
    			fsclList:undefined
    	}
    	pb.flName=flName;
    	pb.materialsUse1=materialsUse1;
    	pb.materialsUse2=materialsUse2;
    	pb.materialsUse3=materialsUse3;
    	pb.materialsUse4=materialsUse4;
    	pb.materialsUse5=materialsUse5;
    	pb.materialsUse6=materialsUse6;
    	pb.boneFlourUse=boneFlourUse;
    	pb.pitchUse=pitchUse;
    	pb.fsclList=fsclList;
    	var pbjson=JSON.stringify(pb);
    	$.ajax({
            type: 'POST',
            url: '/SysFormulationManagement/addSysFormulationManagement',
            contentType: 'application/json',
            dataType: 'json',
            data: pbjson,
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
            	if(json.result=='0'){
	        		toastr.error("保存失败");
	        	}/* else if(json.result=='-1'){
	        		toastr.error("改材料已存在");
	        		return;
	        	} */else{
	        		$("#myModal").modal("hide");
		        	toastr.success('保存成功');
	            	$('#mainContent').DataTable().row.add(json.SysFormulationManagement).draw(false);     //新增行立即显示
	            	$("#myModal").modal("hide");
		        	  }
	        	},
            error:function(json){
            	toastr.error("保存失败"+json);
            	$("#myModal").modal("hide");
            
            }
        });
    }
    //修改列表增加添加剂材料
    
    function edit_fushumaterials(){
    	len=$("#edit_fushumaterials tbody tr").length;
    	len++;
		$("#edit_fushumaterials tbody").append(
		"<tr><td>添加剂材料</td><td>"+
		"<select class='form-control' style='width:180px;' id='edit_fushumaterialName"+len+"' >"+
		"</select></td>"+
		"<td><input type='text' id='materialWeight"+len+"' name='edit_materialWeight' class='form-control' ></td>"+
		"<td><button type='button' class='btn btn-primary' onclick='removeThis(this)'>移除</button></td></tr>");
		initMaterials(len);
		len++;
	}
    
    var ddtId;
	var trr;
    //修改配比回显
    function xgpeibihuixian(obj){
    	var tr=$(obj).parents("tr");
		trr=$(obj).closest('tr');
		var data=$("#mainContent").DataTable().row(tr).data();
		ddtId=data.flId;
		$.ajax({
            type: 'POST',
            url: '/SysFormulationManagement/selectByIdSysFormulationManagement',
            dataType: 'json',
            async: false,
            data:{
            	id:ddtId,
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
            	data=json;
	        },
            error:function(json){
            	toastr.error("出错了"+json);
            	$("#pbchange").modal("hide");
            }
		});
		$("#edit_fl_no").val(data.flNo);
		$("#edit_fl_name").val(data.flName);
		$("#edit_materials_use_1").val(data.materialsUse1);
		$("#edit_materials_use_2").val(data.materialsUse2);
		$("#edit_materials_use_3").val(data.materialsUse3);
		$("#edit_materials_use_4").val(data.materialsUse4);
		$("#edit_materials_use_5").val(data.materialsUse5);
		$("#edit_materials_use_6").val(data.materialsUse6);
		$("#edit_bone_flour_use").val(data.boneFlourUse);
		$("#edit_pitch_use").val(data.pitchUse);
		$("#edit_fushumaterials tbody").html('');
		len=1;
		if(data.fsclList!=null)
		{
			for(var k=0;k<data.fsclList.length;k++)
			{
				$("#edit_fushumaterials tbody").append(
						"<tr><td>添加剂材料</td><td>"+
						"<select class='form-control' style='width:180px;' id='edit_fushumaterialName"+k+"'>"+
						"</select></td>"+
						"<td><input type='text' id='materialWeight"+k+"' name='edit_materialWeight' class='form-control' value='"+data.fsclList[k].weight+"'></td>"+
						"<td><button type='button' class='btn btn-primary' onclick='removeThis(this)'>移除</button></td></tr>");
						initMaterials(k);
						$("#edit_fushumaterialName"+k+"").val(data.fsclList[k].mName);
			}
		}
		
		
//		$("#edit_type_name").val(data.typeName);
		$("#pbchange").modal("show");
    }
    //修改配比提交
    function xgbaocun(){
		var fsclList=new Array();
    	$("#edit_fushumaterials tbody").find("tr").each(function(){
    		var mName=$(this).find("td").eq(1).find("option:selected").val();
			var weight=$(this).find("td").eq(2).find("input").val();
			var fscl={
	    			flId:undefined,
	    			mName:undefined,
	    			weight:undefined
	    	}
			fscl.flId=ddtId;
			fscl.mName=mName;
			fscl.weight=weight;
			fsclList.push(fscl);
    	});
    	var flNo=$("#edit_fl_no").val();
    	var flName=$("#edit_fl_name").val();
    	var materialsUse1=$("#edit_materials_use_1").val();
    	var materialsUse2=$("#edit_materials_use_2").val();
    	var materialsUse3=$("#edit_materials_use_3").val();
    	var materialsUse4=$("#edit_materials_use_4").val();
    	var materialsUse5=$("#edit_materials_use_5").val();
    	var materialsUse6=$("#edit_materials_use_6").val();
    	var boneFlourUse=$("#edit_bone_flour_use").val();
    	var pitchUse=$("#edit_pitch_use").val();
    	if(flName==''){
    		toastr.error("配方名称不能为空");
    		return;
    	}
    	
    	/* 
		edit_fl_no
		edit_fl_name
		edit_materials_use_1
		edit_materials_use_2
		edit_materials_use_3
		edit_materials_use_4
		edit_materials_use_5
		edit_materials_use_6
		edit_bone_flour_use
		edit_pitch_use 
		*/
    	var pb={
    			flId:undefined,
    			flNo:undefined,
    			flName:undefined,
    			materialsUse1:0,
    			materialsUse2:0,
    			materialsUse3:0,
    			materialsUse4:0,
    			materialsUse5:0,
    			materialsUse6:0,
    			boneFlourUse:0,
    			pitchUse:0,
    			fsclList:undefined
    	}
    	pb.flId=ddtId;
    	pb.flNo=flNo;
    	pb.flName=flName;
    	pb.materialsUse1=materialsUse1;
    	pb.materialsUse2=materialsUse2;
    	pb.materialsUse3=materialsUse3;
    	pb.materialsUse4=materialsUse4;
    	pb.materialsUse5=materialsUse5;
    	pb.materialsUse6=materialsUse6;
    	pb.boneFlourUse=boneFlourUse;
    	pb.pitchUse=pitchUse;
    	pb.fsclList=fsclList;
    	var xgpbjson=JSON.stringify(pb);
    	$.ajax({
            type: 'POST',
            url: '/SysFormulationManagement/updateSysFormulationManagement',
            contentType: 'application/json',
            dataType: 'json',
            data: xgpbjson,
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
            	if(json.result=='0'){
	        		toastr.error("保存失败");
	        	}/* else if(json.result=='-1'){
	        		toastr.error("改材料已存在");
	        		return;
	        	} */else{
	        		$("#pbchange").modal("hide");
		        	toastr.success('保存成功');
		        	$('#mainContent').DataTable().row(trr3).data(json.SysFormulationManagement);//修改行立即显示 */
					initTableQuanxian()
		        }
	        },
            error:function(json){
            	toastr.error("保存失败"+json);
            	$("#pbchange").modal("hide");
            }
        });
    }
    
    //查看详情回显
    function xiangqingpeibihuixian(obj){
    	var tr=$(obj).parents("tr");
		trr=$(obj).closest('tr');
		var data=$("#mainContent").DataTable().row(tr).data();
		ddtId=data.flId;
		$.ajax({
            type: 'POST',
            url: '/SysFormulationManagement/selectByIdSysFormulationManagement',
            dataType: 'json',
            async: false,
            data:{
            	id:ddtId,
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
            	data=json;
	        },
            error:function(json){
            	toastr.error("出错了"+json);
            	$("#pfxq").modal("hide");
            }
		});
		$("#xq_fl_no").val(data.flNo);
		$("#xq_fl_name").val(data.flName);
		$("#xq_materials_use_1").val(data.materialsUse1);
		$("#xq_materials_use_2").val(data.materialsUse2);
		$("#xq_materials_use_3").val(data.materialsUse3);
		$("#xq_materials_use_4").val(data.materialsUse4);
		$("#xq_materials_use_5").val(data.materialsUse5);
		$("#xq_materials_use_6").val(data.materialsUse6);
		$("#xq_bone_flour_use").val(data.boneFlourUse);
		$("#xq_pitch_use").val(data.pitchUse);
		$("#xq_fushumaterials tbody").html('');
		len=1;
		if(data.fsclList!=null)
		{
			for(var k=0;k<data.fsclList.length;k++)
			{
				$("#xq_fushumaterials tbody").append(
						"<tr><td>添加剂材料</td>"+
						"<td><input type='text'  name='xq_materialWeight' class='form-control' value='"+data.fsclList[k].mName+"' readonly='readonly'></td>"+
						"<td><input type='text'  name='xq_materialWeight' class='form-control' value='"+data.fsclList[k].weight+"' readonly='readonly'></td>"+
						"</tr>");
			}
		}
		
		
//		$("#edit_type_name").val(data.typeName);
		$("#pfxq").modal("show");
    }
    
	//配比材料删除
    function deleteyige(obj) {
		var dom = $(obj).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		$.SmartMessageBox({
	            title: "删除提示",
	            content: "确认删除？",
	            buttons: '[取消][确定]'
	        }, function (ButtonPressed) {
	        	if (ButtonPressed === "确定") {
	        		myTool.mask.show('删除中...');
	        		$.ajax({
	                    type: 'POST',
	                    url:'/SysFormulationManagement/deleteSysFormulationManagement',
	                    dataType: 'json',
	                    data: {
	                    	id:data.flId
	                    },
	                    success: function (json) {
							myTool.mask.hide();
	                    	if(json!=0){
	                    		$('#mainContent').DataTable().row(dom).remove().draw(false); //删除行立即显示
	                    		toastr.success('删除成功');
	                    	}else{
	                    		 toastr.error('删除失败');
	                    	}
	                    }
	                }); 
	        	}
	        });
	}
    
</script>
</html>