<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
     <link href="../../toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
     <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <style lang="">
        body{
            background: #fff;
        }
        .UpperPart{
            display: flex;
            justify-content:space-between;
            border-bottom: 1px solid #ccc;
            padding-bottom: 12px;
        }
        .selected{
            background: rgba(247, 161, 3,0.2);
        }
        #mainContent th{
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    <!-- 面包屑 -->
    <div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>系统管理</li>
			<li class="active">人员管理</li>
		</ul>
    </div>

    <div>
        <!-- Tab panes -->
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="zhuti-content">
                    <div class="UpperPart">
                        <div class="UpperPartL">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin: 5PX;float: left;">录入人员信息</button>
                        </div>
                        <div class="UpperPartR">
                            <!-- <button type="button" class="btn btn-primary" style="margin: 5PX;">导出Excel文件</button> -->
                        </div>
                    </div>
                    <div class="LowerPart" style="margin-top:3px;">
                        <table class="table table-bordered table-condensed" id="mainContent">
                            <thead>
                                <tr>
                                    <th>工号</th>
                                    <th>姓名</th>
                                    <th>性别</th>
                                    <th>身份证号</th>
                                    <th>联系方式</th>
                                    <th>职务</th>
                                    <th>单位</th>
                                    <th>是否有账户</th>
                                    <th style="width:75px;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>   
                        </table>
                    </div>
                </div>
            </div>
 </div>

 <!-- Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>录入人员信息</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed">
                        	<tr>
                        		<td style="width: 20%;">工号</td>
                        		<td><input type="text" id="gonghao" class="form-control" placeholder="请输入" style="width: 80%;"></td>
                        		<td>姓名</td>
                        		<td><input type="text" id="xingming" class="form-control" placeholder="请输入" style="width: 80%;"></td>
                        	</tr>
                        	<tr>
                        		<td style="width: 20%;">性别</td>
                        		<td>
                        			<select class="form-control" id="xingbie" style="width:80%;">
                        				<option value="男">男</option>
                        				<option value="女">女</option>
	                                </select>
                        		</td>
                        		<td>身份证号</td>
                        		<td><input type="text" id="shenfenzhenghao" class="form-control" placeholder="请输入" style="width:80%;"></td>
                        	</tr>
                        	<tr>
                        		<td style="width: 20%;">联系方式</td>
                        		<td><input type="text" id="lianxifangshi" class="form-control" placeholder="请输入" style="width: 80%;"></td>
                        		<td>职务</td>
                        		<td>
                        			<select class="form-control" id="zhiwu" style="width:80%;">
	                                </select>
                        		</td>
                        	</tr>
                        	<tr>
                        		<td style="width: 20%;">所属单位</td>
                        		<td>
	                        		<select class="form-control" id="suoshudanwei" style="width:80%;">
	                                </select>
                                </td>
                        		<td></td>
                        		<td></td>
                        	</tr>
                        </table> 
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default" id="baocun">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- model结束 -->

<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改基本信息</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" style="height: auto;">
                        	<tr>
                        		<td style="width: 20%;">工号</td>
                        		<td><input type="text" id="xg_gonghao" class="form-control" placeholder="请输入" style="width: 80%;"></td>
                        		<td>姓名</td>
                        		<td><input type="text" id="xg_xingming" class="form-control" placeholder="请输入" style="width: 80%;"></td>
                        	</tr>
                        	<tr>
                        		<td style="width: 20%;">性别</td>
                        		<td>
                        			<select class="form-control" id="xg_xingbie" style="width:80%;">
                        				<option value="男">男</option>
                        				<option value="女">女</option>
	                                </select>
	                            </td>
                        		<td>身份证号</td>
                        		<td><input type="text" id="xg_shenfenzhenghao" class="form-control" placeholder="请输入" style="width:80%;"></td>
                        	</tr>
                        	<tr>
                        		<td style="width: 20%;">联系方式</td>
                        		<td><input type="text" id="xg_lianxifangshi" class="form-control" placeholder="请输入" style="width: 80%;"></td>
                        		<td>职务</td>
                        		<td>
                        			<select class="form-control" id="xg_zhiwu" style="width:80%;">
	                                </select>
                        		</td>
                        	</tr>
                        	<tr>
                        		<td style="width: 20%;">所属单位</td>
                        		<td>
	                        		<select class="form-control" id="xg_suoshudanwei" style="width:80%;">
	                                </select>
                                </td>
                        		<td></td>
                        		<td></td>
                        	</tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="xg_baocun">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 --> 

<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>添加用户名及密码</b></h4>
        </div>
        <div class="modal-body">
                <div>     
                    <form class="form-inline">
                        <table class="table table-bordered table-condensed" style="height: auto;">
                        	<tr>
                        		<td style="width: 20%;">用户名</td>
                        		<td><input type="text" id="username" class="form-control" placeholder="请输入" style="width: 80%;"></td>
                        		<td>密码</td>
                        		<td><input type="password" id="password" class="form-control" placeholder="请输入" style="width: 80%;"></td>
                        	</tr>
                        </table>
                    </form>  
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success" id="tianjia">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 --> 

<!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>账户信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered table-condensed" style="height: auto;">
                    	<tr>
                    		<td style="width: 20%;">用户名</td>
                       		<td><input type="text" id="xg_username" class="form-control" placeholder="请输入" style="width: 80%;"></td>
                       		<td>密码</td>
                       		<td><input type="password" id="xg_password" class="form-control" placeholder="请输入" style="width: 80%;"></td>
                    	</tr>
                    </table>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        	<button type="button" class="btn btn-success" id="xgup_baocun">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../js/common-scripts.js"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery-editable-select.js"></script>
<script src="../../easyUI/jquery.easyui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/element.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../toastr/toastr.js"></script>
<script src="../../js/SmartNotification.min.js"></script>
<script src="../../js/myTool.js"></script>

<script>
    $(document).ready( function () {
        laydate.render({
            elem: '#xgstartTime' //指定元素
        });
        
        initTable()
        initzhiwu()
        initdanwei()
	});
    var table=$('#mainContent').dataTable({
        "deferRender": true,
        "processing": true,
        "bDestroy": true,
        "iDisplayLength": 10,
        "searching": true,
        "lengthChange": false,
        "oLanguage": {
		    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
		},
		"columns": [
            { "data": "workId"}, 
            { "data": "uName"},
            { "data": "sex"}, 
            { "data": "cardId"}, 
            { "data": "phoneNo"}, 
            { "data": "zhiwu"}, 
            { "data": "danwei"}, 
            { "data": "username"}, 
            { "data": null},
        ],
        "columnDefs": [{	
					 "class": "tcenter",
					    "targets": 8,
					    "searchable": true,
					    "render": function(data, type, full) {
					  	  		var xiugai='<i class="iconfont icon-xiugai" style="font-size:18px;cursor:pointer;" id="upd" title="修改" data-toggle="modal" data-target="#change"></i>';
	                            var shanchu='<i class="iconfont icon-shanchu" style="font-size:18px;cursor:pointer;" id="del"  title="删除"></i>';
	                            var tianjia='<i class="glyphicon glyphicon-plus" style="font-size:18px;cursor:pointer;" id="tianjia"  title="添加"></i>';
	                            var look='<i class="glyphicon glyphicon-pencil" style="font-size:20px;cursor:pointer;" id="xg" title="修改用户密码"></i>';
	                            if(full.username==null||full.username==""||full.username==undefined){
	                            	return xiugai+shanchu+tianjia;
	                            }else{
		                            return xiugai+shanchu+look;
	                            }
					        }
					  },
					  {	
							 "class": "tcenter",
							    "targets": 7,
							    "searchable": true,
							    "render": function(data, type, full) {
							    	if(data==null){
						    			return '<span class="label label-info state">否</span>';
						    		}else{
						    			return '<span class="label label-danger state">是</span>';
						    		}
							        }
							  }
			],
        "order": [[0, 'asc']],
        "oLanguage": { //国际化配置
        "sProcessing": "正在获取数据，请稍后...",
        "sLengthMenu": "显示 _MENU_ 条",
        "sZeroRecords": "查询不到相关数据",
        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
        "sInfoEmpty": "记录数为0",
        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
        "sInfoPostFix": "",
        "sSearch": "搜索",
        "sUrl": "",
        "oPaginate": {
            "sFirst": "第一页",
            "sPrevious": "上一页",
            "sNext": "下一页",
            "sLast": "最后一页"
        }},
        
	});
    
	
	
	function initTable(){
        $.ajax({
            type: 'POST',
            url: '/user/selectAllUser',
            dataType: 'json',
            data: {
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
                $('#mainContent').dataTable().fnClearTable();
                $('#mainContent').DataTable().rows.add(json).draw(false);
            }
        });
    }
	
	function initzhiwu(){
		 $.ajax({
	            type: 'POST',
	            url: '/DicZhiwu/getAllDicZhiwu',
	            dataType: 'json',
	            data: {
	            },
	            error: function (msg) {
	                errMessage("请求UserController失败");
	            },
	            success: function (json) {
	                if(json!=null){
	                	 $("#zhiwu").html('');
	                	 $("#xg_zhiwu").html('');
	                     for(var i=0;i<json.length;i++){
	                    	 $("#zhiwu").append("<option value='"+json[i].zhiwuName+"'>"+json[i].zhiwuName+"</option>");
	                    	 $("#xg_zhiwu").append("<option value='"+json[i].zhiwuName+"'>"+json[i].zhiwuName+"</option>");
	                     }
	                }
	            }
	        });
	}
	
	function initdanwei(){
		 $.ajax({
	            type: 'POST',
	            url: '/DicDanwei/getAllDicDanwei',
	            dataType: 'json',
	            data: {
	            },
	            error: function (msg) {
	                errMessage("请求UserController失败");
	            },
	            success: function (json) {
	                if(json!=null){
	                	 $("#suoshudanwei").html('');
	                	 $("#xg_suoshudanwei").html('');
	                     for(var i=0;i<json.length;i++){
	                    	 $("#suoshudanwei").append("<option value='"+json[i].danweiName+"'>"+json[i].danweiName+"</option>");
	                    	 $("#xg_suoshudanwei").append("<option value='"+json[i].danweiName+"'>"+json[i].danweiName+"</option>");
	                     }
	                }
	            }
	        });
	}
	

	$("#baocun").click(function(){
		var gonghao=$("#gonghao").val();
		var xingming=$("#xingming").val();
		var xingbie=$("#xingbie").val();
		var shenfenzhenghao=$("#shenfenzhenghao").val();
		var lianxifangshi=$("#lianxifangshi").val();
		var zhiwu=$("#zhiwu").val();
		var danwei=$("#suoshudanwei").val();
		if(gonghao==""){
			toastr.error("工号不能为空");
			return fasle;
		}
		if(xingming==""){
			toastr.error("姓名不能为空");
			return fasle;
		}
		if(shenfenzhenghao==""){
			toastr.error("身份证号不能为空");
			return fasle;
		}
		if(lianxifangshi==""){
			toastr.error("联系方式不能为空");
			return fasle;
		}
		$.ajax({
            type: 'POST',
            url: '/user/addUser',
            dataType: 'json',
            data: {
            	workId:gonghao,
            	uName:xingming,
            	sex:xingbie,
            	cardId:shenfenzhenghao,
            	phoneNo:lianxifangshi,
            	zhiwu:zhiwu,
            	danwei:danwei,
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
               if(json.result>0){
            	   toastr.success("添加成功");
            	   $('#mainContent').DataTable().row.add(json.user).draw(false);     //新增行立即显示
            	   $("#myModal").modal('hide');
               }else{
            	   toastr.error("添加失败");
               }
            }
        });
	})
	
	//删除
    $('#mainContent').delegate('#del','click', function () {
		var dom = $(this).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		$.SmartMessageBox({
	            title: "删除提示",
	            content: "确认删除？",
	            buttons: '[取消][确定]'
	        }, function (ButtonPressed) {
	        	if (ButtonPressed === "确定") {
	        		myTool.mask.show('删除中...');
	        		$.ajax({
	                    type: 'POST',
	                    url:'/user/deleteUser',
	                    dataType: 'json',
	                    data: {
	                    	userId:data.userId
	                    },
	                    success: function (json) {
							myTool.mask.hide();
	                    	if(json!=0){
	                    		$('#mainContent').DataTable().row(dom).remove().draw(false); //删除行立即显示
	                    		toastr.success('删除成功');
	                    	}else{
	                    		 toastr.error('删除失败');
	                    	}
	                    }
	                }); 
	        	}
	        });
	})
	
	
	var xgId;
	var tr;
	$("#mainContent").delegate("#upd","click",function(){
		var dom = $(this).parents('tr');
		tr = $(this).closest('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		xgId=data.userId
		$("#xg_gonghao").val(data.workId);
		$("#xg_xingming").val(data.uName);
		$("#xg_xingbie").val(data.sex);
		$("#xg_shenfenzhenghao").val(data.cardId);
		$("#xg_lianxifangshi").val(data.phoneNo);
		$("#xg_zhiwu").val(data.zhiwu);
		$("#xg_suoshudanwei").val(data.danwei);
	})
	
	$("#xg_baocun").click(function(){
		var gonghao=$("#xg_gonghao").val();
		var xingming=$("#xg_xingming").val();
		var xingbie=$("#xg_xingbie").val();
		var shenfenzhenghao=$("#xg_shenfenzhenghao").val();
		var lianxifangshi=$("#xg_lianxifangshi").val();
		var zhiwu=$("#xg_zhiwu").val();
		var danwei=$("#xg_suoshudanwei").val();
		if(gonghao==""){
			toastr.error("工号不能为空");
			return fasle;
		}
		if(xingming==""){
			toastr.error("姓名不能为空");
			return fasle;
		}
		if(shenfenzhenghao==""){
			toastr.error("身份证号不能为空");
			return fasle;
		}
		if(lianxifangshi==""){
			toastr.error("联系方式不能为空");
			return fasle;
		}
		$.ajax({
            type: 'POST',
            url: '/user/updateUser',
            dataType: 'json',
            data: {
            	userId:xgId,
            	workId:gonghao,
            	uName:xingming,
            	sex:xingbie,
            	cardId:shenfenzhenghao,
            	phoneNo:lianxifangshi,
            	zhiwu:zhiwu,
            	danwei:danwei,
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
               if(json.result>0){
            	   toastr.success("修改成功");
            	   $('#mainContent').DataTable().row(tr).data(json.user);//修改行立即显示 */
            	   $("#change").modal('hide');
               }else{
            	   toastr.error("添加失败");
               }
            }
        });
	})
	
	
	var tianjiaId;
	var tr2;
	$("#mainContent").delegate("#tianjia","click",function(){
		var dom = $(this).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		tianjiaId=data.userId
		tr2 = $(this).closest('tr');
		$("#change2").modal('show')
	})
	
	$("#tianjia").click(function(){
		var username=$("#username").val();
		var password=$("#password").val();
		if(username==""){
			toastr.error("用户名不能为空");
			return fasle;
		}
		if(password==""){
			toastr.error("密码不能为空");
			return fasle;
		}
		$.ajax({
            type: 'POST',
            url: '/user/updUserup',
            dataType: 'json',
            data: {
            	userId:tianjiaId,
            	username:username,
            	password:password,
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
               if(json>0){
            	   toastr.success("添加成功");
            	   $("#change2").modal('hide');
            	   initTable();
               }else{
            	   toastr.error("添加失败");
               }
            }
        });
	})
	
	var xgupId
	$("#mainContent").delegate("#xg","click",function(){
		var dom = $(this).parents('tr');
		var data=$('#mainContent').DataTable().row(dom).data();
		xgupId=data.userId;
		$("#xg_username").val(data.username)
		$("#xg_password").val(data.password)
		$("#allMsg1").modal('show');
	})
	
	$("#xgup_baocun").click(function(){
		var username=$("#xg_username").val();
		var password=$("#xg_password").val();
		if(username==""){
			toastr.error("用户名不能为空");
			return fasle;
		}
		if(password==""){
			toastr.error("密码不能为空");
			return fasle;
		}
		$.ajax({
            type: 'POST',
            url: '/user/updUserup',
            dataType: 'json',
            data: {
            	userId:xgupId,
            	username:username,
            	password:password,
            },
            error: function (msg) {
                errMessage("请求UserController失败");
            },
            success: function (json) {
               if(json>0){
            	   toastr.success("修改成功");
            	   $("#allMsg1").modal('hide');
               }else{
            	   toastr.error("修改失败");
               }
            }
        });
	})
	
</script>
</html>