<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/icon.css" />
	<link rel="stylesheet" type="text/css" href="../../easyUI/demo/demo.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.mobile.css" />
	<link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
	<link rel="stylesheet" type="text/css" href="../../css/code.css" />
	<link rel="stylesheet" type="text/css" href="../../../js/skin/default/layer.css" />
	<link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
	<link href="../../toastr/toastr.css" rel="stylesheet">
	    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
     <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
	
	<style lang="">
	        body{
	            background: #fff;
	        }
	        .UpperPart{
	            display: flex;
	            justify-content:space-between;
	            border-bottom: 1px solid #ccc;
	            padding-bottom: 12px;
	        }
	        .selected{
	            background: rgba(247, 161, 3,0.2);
	        }
	        #mainContent th{
	            cursor: pointer;
	        }
	    </style>
	</head>
	<body>
		<div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>系统管理</li>
			<li class="active">字典管理</li>
		</ul>
    </div>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="background:#fff;">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">设备</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">材料</a></li>
            <li role="presentation"><a href="#danwei" aria-controls="danwei" role="tab" data-toggle="tab">单位</a></li>
            <li role="presentation"><a href="#zhiwu" aria-controls="zhiwu" role="tab" data-toggle="tab">职务</a></li>
        </ul>     
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="zhuti-content">
                    <div class="UpperPart">
                        <div class="UpperPartL">
                            <button type="button" class="btn btn-primary Phga" data-toggle="modal" data-target="#myModal1" style="margin: 5PX;float: left;">录入设备</button>
                        </div>
                        <div class="UpperPartR">
                            
                        </div>

                    </div>
                    <div class="LowerPart" style="margin-top:3px;">
                        <table class="table table-bordered table-condensed" style="width:100%;" id="mainContent">
                            <thead>
                                <tr>
                                    <!-- <td>设备类型</td> -->
                                    <th style="width: 20%;">序号</th>
                                    <th>设备类型</th>
                                    <th style="width:75px;">操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="profile">
    			<div class="zhuti-content">
                    <div class="UpperPart">
                        <div class="UpperPartL">
                            <button type="button" class="btn btn-primary Phgd" data-toggle="modal" data-target="#myModal2" style="margin: 5PX;float: left;">录入材料</button>
                        </div>
                        <div class="UpperPartR">
                            
                        </div>

                    </div>
                    <div class="LowerPart" style="margin-top:3px;">
                        <table class="table table-bordered table-condensed" style="width:100%;" id="mainContent2">
                            <thead>
                                <tr>
                                	<th >序号</th>
                                    <th>材料名称</th>
                                    <th style="width:75px;">操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            
            <div role="tabpanel" class="tab-pane" id="danwei">
    			<div class="zhuti-content">
                    <div class="UpperPart">
                        <div class="UpperPartL">
                            <button type="button" class="btn btn-primary Phgg" data-toggle="modal" data-target="#myModal3" style="margin: 5PX;float: left;">录入单位</button>
                        </div>
                        <div class="UpperPartR">
                            
                        </div>

                    </div>
                    <div class="LowerPart" style="margin-top:3px;">
                        <table class="table table-bordered table-condensed" style="width:100%;" id="mainContent3">
                            <thead>
                                <tr>
                                	<th>序号</th>
                                    <th>单位</th>
                                    <th style="width:75px;">操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            
            <div role="tabpanel" class="tab-pane" id="zhiwu">
    			<div class="zhuti-content">
                    <div class="UpperPart">
                        <div class="UpperPartL">
                            <button type="button" class="btn btn-primary Phgj" data-toggle="modal" data-target="#myModal4" style="margin: 5PX;float: left;">录入职务</button>
                        </div>
                        <div class="UpperPartR">
                            
                        </div>

                    </div>
                    <div class="LowerPart" style="margin-top:3px;">
                        <table class="table table-bordered table-condensed" style="width:100%;" id="mainContent4">
                            <thead>
                                <tr>
                                	<th>序号</th>
                                    <th>职务</th>
                                    <th style="width:75px;">操作</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    
    <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><b>录入设备</b></h4>
                    </div>
                    <div class="modal-body">
                            <div>     
                                <form class="form-inline">
                                    <table class="table table-bordered table-condensed" >
                                    	<tr>
											<td style="width: 20%;">名称</td>
											<td style="width: 30%;"><input type="text" style="width: 70%;" id="add_type_name" /></td>
										</tr>
                                    </table>
                                </form>  
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-default" onclick="addddtSave()">保存</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- model结束 -->

            <!-- 修改Modal -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><b>修改设备</b></h4>
                    </div>
                    <div class="modal-body">
                            <div>     
                                <form class="form-inline" id="ddt_edit_form">
                                    <table class="table table-bordered table-condensed" >
                                    	<tr>
											<td style="width: 20%;">名称</td>
											<td style="width: 30%;"><input type="text" style="width: 70%;" id="edit_type_name" /></td>
										</tr>
                                    </table>
                                </form>  
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-success" onclick="ddteditSave()">保存</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- 修改model结束 -->
            
            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><b>录入材料</b></h4>
                    </div>
                    <div class="modal-body">
                            <div>     
                                <form class="form-inline" id="add_form">
                                    <table class="table table-bordered table-condensed" >
                                    	<tr>
											<td style="width: 20%;">名称</td>
											<td style="width: 30%;"><input type="text" style="width: 70%;" id="add_material_name" /></td>
										</tr>
                                    </table>
                                </form>  
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-default" onclick="adddicmSave()">保存</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- model结束 -->

            <!-- 修改Modal -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change2">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><b>修改材料</b></h4>
                    </div>
                    <div class="modal-body">
                            <div>     
                                <form class="form-inline" id="edit_form">
                                    <table class="table table-bordered table-condensed" >
                                    	<tr>
											<td style="width: 20%;">名称</td>
											<td style="width: 30%;"><input type="text" style="width: 70%;" id="edit_material_name" /></td>
										</tr>
                                    </table>
                                </form>  
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-success" onclick="editdicmSave()">保存</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- 修改model结束 -->
            
            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal3">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><b>录入单位</b></h4>
                    </div>
                    <div class="modal-body">
                            <div>     
                                <form class="form-inline" id="add_form">
                                    <table class="table table-bordered table-condensed" >
                                    	<tr>
											<td style="width: 20%;">名称</td>
											<td style="width: 30%;"><input type="text" style="width: 70%;" id="add_danwei" /></td>
										</tr>
                                    </table>
                                </form>  
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-default" onclick="adddicmSave3()">保存</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- model结束 -->
            <!-- 修改Modal -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change3">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><b>修改单位</b></h4>
                    </div>
                    <div class="modal-body">
                            <div>     
                                <form class="form-inline" id="edit_form">
                                    <table class="table table-bordered table-condensed" >
                                    	<tr>
											<td style="width: 20%;">名称</td>
											<td style="width: 30%;"><input type="text" style="width: 70%;" id="xg_danwei" /></td>
										</tr>
                                    </table>
                                </form>  
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-success" onclick="editdicmSave3()">保存</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- 修改model结束 -->
            
            <!-- Modal -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal4">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><b>录入职务</b></h4>
                    </div>
                    <div class="modal-body">
                            <div>     
                                <form class="form-inline" id="add_form">
                                    <table class="table table-bordered table-condensed" >
                                    	<tr>
											<td style="width: 20%;">名称</td>
											<td style="width: 30%;"><input type="text" style="width: 70%;" id="add_zw" /></td>
										</tr>
                                    </table>
                                </form>  
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-default" onclick="adddicmSave4()">保存</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- model结束 -->
            <!-- 修改Modal -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change4">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><b>修改单位</b></h4>
                    </div>
                    <div class="modal-body">
                            <div>     
                                <form class="form-inline" id="edit_form">
                                    <table class="table table-bordered table-condensed" >
                                    	<tr>
											<td style="width: 20%;">名称</td>
											<td style="width: 30%;"><input type="text" style="width: 70%;" id="xg_zw" /></td>
										</tr>
                                    </table>
                                </form>  
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-success" onclick="editdicmSave4()">保存</button>
                    </div>
                    </div>
                </div>
            </div>
            <!-- 修改model结束 -->
            
	</body>
		<script src="../../js/jquery.js"></script>
	<script src="../../easyUI/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../easyUI/jquery.easyui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/common-scripts.js"></script>
	<script src="../../js/jquery.dataTables.min.js"></script>
	<script src="../../js/main.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/quanxian.js"></script>
	<script src="../../js/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/element.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../toastr/toastr.js"></script>
	<script src="../../js/SmartNotification.min.js"></script>
	<script src="../../js/myTool.js"></script>

	<script>
	$(document).ready( function () {
    	initTable();
    	initTable2();
    	initTable3()
    	initTable4()
	});	
	
		var table=$('#mainContent').dataTable({
	        "deferRender": true,
	        "processing": true,
	        "bDestroy": true,
	        "iDisplayLength": 10,
	        "sDom": 
				"t"+
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
	        "searching": true,
	        "lengthChange": false,
	        "oLanguage": {
			    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
			},
			"columns": [
						{ "data" : null },
			            { "data": "typeName"}
			        ],
			"columnDefs": [
								{
								"class": "tcenter",
								"targets": 2,
								"searchable": false,
								"render": function(data, type, full) {
									    	return '<i class="iconfont icon-xiugai Phgb" style="font-size:18px;cursor:pointer;" title="修改" data-toggle="modal" onclick="ddtChange(this)"></i>'
				                            +'<i class="iconfont icon-shanchu Phgc" style="font-size:18px;cursor:pointer;" title="删除" onclick="ddtdelete(this)"></i>';
									        }
								},
							],"fnDrawCallback" : function() {
                                $.ajax({
                                    type:"post",
                                    url:"/login/getUser",
                                    async:false,
                                    data:{
                                    },
                                    success:function(json){
                                        if(json!=null &&json!=""){
                                            var arr = json.uPermissions.split(',');
                                            for(var i=0;i<arr.length;i++){
                                                var arr2 = arr[i].replace("+","");
                                                if(arr[i].indexOf("Phgb") >= 0 ){
                                                    $(".Phgb").show();
                                                }if(arr[i].indexOf("Phgc") >= 0 ){
                                                    $(".Phgc").show();
                                                }
                                            }

                                        }

                                    }
                                });
                            },

	        "order": [[0, 'asc']],
	        "oLanguage": { //国际化配置
	        "sProcessing": "正在获取数据，请稍后...",
	        "sLengthMenu": "显示 _MENU_ 条",
	        "sZeroRecords": "查询不到相关数据",
	        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
	        "sInfoEmpty": "记录数为0",
	        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
	        "sInfoPostFix": "",
	        "sSearch": "搜索",
	        "sUrl": "",
	        "oPaginate": {
	            "sFirst": "第一页",
	            "sPrevious": "上一页",
	            "sNext": "下一页",
	            "sLast": "最后一页"
	        }},
            "fnDrawCallback" : function() {
                this.api().column(0).nodes().each(function(cell, i){
                    cell.innerHTML=i+1;
                });
            },
		});
		
		var table=$('#mainContent2').dataTable({
	        "deferRender": true,
	        "processing": true,
	        "bDestroy": true,
	        "iDisplayLength": 10,
	        "sDom": 
				"t"+
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
	        "searching": true,
	        "lengthChange": false,
	        "oLanguage": {
			    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
			},
			"columns": [
						{ "data" : null },
			            { "data": "materialName"}
			        ],
			 "columnDefs": [
								{
								"class": "tcenter",
								"targets": 2,
								"searchable": false,
								"render": function(data, type, full) {
									    	return '<i class="iconfont icon-xiugai Phge" style="font-size:18px;cursor:pointer;" title="修改" data-toggle="modal" onclick="dicmChange(this)"></i>'
				                            +'<i class="iconfont icon-shanchu Phgf" style="font-size:18px;cursor:pointer;" title="删除" onclick="dicmdelete(this)"></i>';
									        }
								},
							],"fnDrawCallback" : function() {
                                    $.ajax({
                                        type:"post",
                                        url:"/login/getUser",
                                        async:false,
                                        data:{
                                        },
                                        success:function(json){
                                            if(json!=null &&json!=""){
                                                var arr = json.uPermissions.split(',');
                                                for(var i=0;i<arr.length;i++){
                                                    var arr2 = arr[i].replace("+","");
                                                    if(arr[i].indexOf("Phge") >= 0 ){
                                                        $(".Phge").show();
                                                    }if(arr[i].indexOf("Phgf") >= 0 ){
                                                        $(".Phgf").show();
                                                    }
                                                }

                                            }

                                        }
                                    });
                                },

	        "order": [[0, 'asc']],
	        "oLanguage": { //国际化配置
	        "sProcessing": "正在获取数据，请稍后...",
	        "sLengthMenu": "显示 _MENU_ 条",
	        "sZeroRecords": "查询不到相关数据",
	        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
	        "sInfoEmpty": "记录数为0",
	        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
	        "sInfoPostFix": "",
	        "sSearch": "搜索",
	        "sUrl": "",
	        "oPaginate": {
	            "sFirst": "第一页",
	            "sPrevious": "上一页",
	            "sNext": "下一页",
	            "sLast": "最后一页"
	        }},
            "fnDrawCallback" : function() {
                this.api().column(0).nodes().each(function(cell, i){
                    cell.innerHTML=i+1;
                });
            },
		});
		
		var table3=$('#mainContent3').dataTable({
	        "deferRender": true,
	        "processing": true,
	        "bDestroy": true,
	        "iDisplayLength": 10,
	        "sDom": 
				"t"+
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
	        "searching": true,
	        "lengthChange": false,
	        "oLanguage": {
			    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
			},
			"columns": [
						{ "data" : null },
			            { "data": "danweiName"}
			        ],
			 "columnDefs": [
								{
								"class": "tcenter",
								"targets": 2,
								"searchable": false,
								"render": function(data, type, full) {
									    	return '<i class="iconfont icon-xiugai Phgh" style="font-size:18px;cursor:pointer;" title="修改" data-toggle="modal" onclick="dwChange(this)"></i>'
				                            +'<i class="iconfont icon-shanchu Phgi" style="font-size:18px;cursor:pointer;" title="删除" onclick="dwdelete(this)"></i>';
									        }
								},
							],"fnDrawCallback" : function() {
                                    $.ajax({
                                        type:"post",
                                        url:"/login/getUser",
                                        async:false,
                                        data:{
                                        },
                                        success:function(json){
                                            if(json!=null &&json!=""){
                                                var arr = json.uPermissions.split(',');
                                                for(var i=0;i<arr.length;i++){
                                                    var arr2 = arr[i].replace("+","");
                                                    if(arr[i].indexOf("Phgh") >= 0 ){
                                                        $(".Phgh").show();
                                                    }if(arr[i].indexOf("Phgi") >= 0 ){
                                                        $(".Phgi").show();
                                                    }
                                                }

                                            }

                                        }
                                    });
                                },

	        "order": [[0, 'asc']],
	        "oLanguage": { //国际化配置
	        "sProcessing": "正在获取数据，请稍后...",
	        "sLengthMenu": "显示 _MENU_ 条",
	        "sZeroRecords": "查询不到相关数据",
	        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
	        "sInfoEmpty": "记录数为0",
	        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
	        "sInfoPostFix": "",
	        "sSearch": "搜索",
	        "sUrl": "",
	        "oPaginate": {
	            "sFirst": "第一页",
	            "sPrevious": "上一页",
	            "sNext": "下一页",
	            "sLast": "最后一页"
	        }},
            "fnDrawCallback" : function() {
                this.api().column(0).nodes().each(function(cell, i){
                    cell.innerHTML=i+1;
                });
            },
		});
		
		var table4=$('#mainContent4').dataTable({
	        "deferRender": true,
	        "processing": true,
	        "bDestroy": true,
	        "iDisplayLength": 10,
	        "sDom": 
				"t"+
				"<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
	        "searching": true,
	        "lengthChange": false,
	        "oLanguage": {
			    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
			},
			"columns": [
						{ "data" : null },
			            { "data": "zhiwuName"}
			        ],
			 "columnDefs": [
								{
								"class": "tcenter",
								"targets": 2,
								"searchable": false,
								"render": function(data, type, full) {
									    	return '<i class="iconfont icon-xiugai Phgk" style="font-size:18px;cursor:pointer;" title="修改" data-toggle="modal" onclick="zwChange(this)"></i>'
				                            +'<i class="iconfont icon-shanchu Phgl" style="font-size:18px;cursor:pointer;" title="删除" onclick="zwdelete(this)"></i>';
									        }
								},
							],
            "fnDrawCallback" : function() {
                $.ajax({
                    type:"post",
                    url:"/login/getUser",
                    async:false,
                    data:{
                    },
                    success:function(json){
                        if(json!=null &&json!=""){
                            var arr = json.uPermissions.split(',');
                            for(var i=0;i<arr.length;i++){
                                var arr2 = arr[i].replace("+","");
                                if(arr[i].indexOf("Phgk") >= 0 ){
                                    $(".Phgk").show();
                                }if(arr[i].indexOf("Phgl") >= 0 ){
                                    $(".Phgl").show();
                                }
                            }

                        }

                    }
                });
            },
	        "order": [[0, 'asc']],
	        "oLanguage": { //国际化配置
	        "sProcessing": "正在获取数据，请稍后...",
	        "sLengthMenu": "显示 _MENU_ 条",
	        "sZeroRecords": "查询不到相关数据",
	        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
	        "sInfoEmpty": "记录数为0",
	        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
	        "sInfoPostFix": "",
	        "sSearch": "搜索",
	        "sUrl": "",
	        "oPaginate": {
	            "sFirst": "第一页",
	            "sPrevious": "上一页",
	            "sNext": "下一页",
	            "sLast": "最后一页"
	        }},
            "fnDrawCallback" : function() {
                this.api().column(0).nodes().each(function(cell, i){
                    cell.innerHTML=i+1;
                });
            },
		});
		//设备类型表格初始化
		function initTable(){
	        $.ajax({
	            type: 'POST',
	            url: '/DicDeviceType/selectAllDicDeviceType',
	            dataType: 'json',
	            data: {
	            },
	            error: function (msg) {
	                errMessage("请求UserController失败");
	            },
	            success: function (json) {
	                $('#mainContent').dataTable().fnClearTable();
	                $('#mainContent').DataTable().rows.add(json).draw(false);
	            }
	        });
	    }
		//材料类型表格初始化
		function initTable2(){
	        $.ajax({
	            type: 'POST',
	            url: '/DicMaterials/selectAllDicMaterials',
	            dataType: 'json',
	            data: {
	            },
	            error: function (msg) {
	                errMessage("请求UserController失败");
	            },
	            success: function (json) {
	                $('#mainContent2').dataTable().fnClearTable();
	                $('#mainContent2').DataTable().rows.add(json).draw(false);
	            }
	        });
	    }
		
		//单位初始化
		function initTable3(){
	        $.ajax({
	            type: 'POST',
	            url: '/DicDanwei/getAllDicDanwei',
	            dataType: 'json',
	            data: {
	            },
	            error: function (msg) {
	                errMessage("请求UserController失败");
	            },
	            success: function (json) {
	                $('#mainContent3').dataTable().fnClearTable();
	                $('#mainContent3').DataTable().rows.add(json).draw(false);
	            }
	        });
	    }
		//职务初始化
		function initTable4(){
	        $.ajax({
	            type: 'POST',
	            url: '/DicZhiwu/getAllDicZhiwu',
	            dataType: 'json',
	            data: {
	            },
	            error: function (msg) {
	                errMessage("请求UserController失败");
	            },
	            success: function (json) {
	                $('#mainContent4').dataTable().fnClearTable();
	                $('#mainContent4').DataTable().rows.add(json).draw(false);
	            }
	        });
	    }
		
		
		//设备类型新增
		function addddtSave(){
			var typeName=$("#add_type_name").val();
			$.ajax({
    			type: 'POST',
                url: '/DicDeviceType/addDicDeviceType',
                dataType: 'json',
                data: {
                	typeName:typeName
                },
                success: function (json) {
                	if(json.result=='0'){
		        		toastr.error("保存失败");
		        	} else if(json.result=='-1'){
		        		toastr.error("该材料已存在");
		        		return;
		        	} else{
		        		$("#myModal1").modal("hide");
			        	toastr.success('保存成功');
		            	$('#mainContent').DataTable().row.add(json.DicDeviceType).draw(false);     //新增行立即显示
		            	$("#myModal1").modal("hide");
			        	  }
		        	},
                error:function(json){
                	toastr.error("保存失败"+json);
                	$("#myModal1").modal("hide");
                }
			});
			
		}
		var ddtId;
		var trr;
		//设备类型修改回显
		function ddtChange(obj){
			var tr=$(obj).parents("tr");
			trr=$(obj).closest('tr');
			var data=$("#mainContent").DataTable().row(tr).data();
			ddtId=data.id;
			$("#edit_type_name").val(data.typeName);
			$("#change1").modal("show");
		}
		
		//设备类型修改保存
		function ddteditSave(){
			var typeName=$("#edit_type_name").val();
			var oldNum=$(trr.children()[0]).text();
			$.ajax({
    			type: 'POST',
                url: '/DicDeviceType/updateDicDeviceType',
                dataType: 'json',
                data: {
                	id:ddtId,
                	typeName:typeName
                },
                success: function (json) {
                	if(json.result=='0'){
		        		toastr.error("修改失败");
		        	} else if(json.result=="-1"){
		        		toastr.error("已有相同材料名称");
		        		return;
		        	} 
		        	else{
		        		$("#change1").modal("hide");
			        	toastr.success('修改成功');
			        	$("#change").modal("hide");
		            	$('#mainContent').DataTable().row(trr).data(json.DicDeviceType);//修改行立即显示 */
		            	$(trr.children()[0]).text(oldNum);
			        	  }
		        	},
                error:function(json){
                	toastr.error("保存失败"+json);
                	$("#change1").modal("hide");
                }
			});
		}
		
		//设备类型删除
	    function ddtdelete(obj) {
			var dom = $(obj).parents('tr');
			var data=$('#mainContent').DataTable().row(dom).data();
			$.SmartMessageBox({
		            title: "删除提示",
		            content: "确认删除？",
		            buttons: '[取消][确定]'
		        }, function (ButtonPressed) {
		        	if (ButtonPressed === "确定") {
		        		myTool.mask.show('删除中...');
		        		$.ajax({
		                    type: 'POST',
		                    url:'/DicDeviceType/delDicDeviceType',
		                    dataType: 'json',
		                    data: {
		                    	id:data.id
		                    },
		                    success: function (json) {
								myTool.mask.hide();
		                    	if(json!=0){
		                    		$('#mainContent').DataTable().row(dom).remove().draw(false); //删除行立即显示
		                    		toastr.success('删除成功');
		                    	}else{
		                    		 toastr.error('删除失败');
		                    	}
		                    }
		                }); 
		        	}
		        });
		}
		
		//材料类型增加
		function adddicmSave(){
			var materialName=$("#add_material_name").val();
			$.ajax({
    			type: 'POST',
                url: '/DicMaterials/addDicMaterials',
                dataType: 'json',
                data: {
                	materialName:materialName
                },
                success: function (json) {
                	if(json.result=='0'){
		        		toastr.error("保存失败");
		        	}else if(json.result=="-1"){
		        		toastr.error("已有相同名称");
		        		return;
		        	}else{
		        		$("#myModal2").modal("hide");
			        	toastr.success('保存成功');
			        	$("#myModal2").modal("hide");
		            	$('#mainContent2').DataTable().row.add(json.DicMaterials).draw(false);     //新增行立即显示
			        	  }
		        	},
                error:function(json){
                	toastr.error("保存失败"+json);
                	$("#myModal2").modal("hide");
                }
			});
		}

		//材料类型修改回显
		var dicmId;
		function dicmChange(obj){
			var tr=$(obj).parents("tr");
			trr=$(obj).closest('tr');
			var data=$("#mainContent2").DataTable().row(tr).data();
			dicmId=data.id;
			$("#edit_material_name").val(data.materialName);
			$("#change2").modal("show");
		}
		//材料类型修改保存
		function editdicmSave(){
			var materialName=$("#edit_material_name").val();
			var oldNum=$(trr.children()[0]).text();
			$.ajax({
    			type: 'POST',
                url: '/DicMaterials/updateDicMaterials',
                dataType: 'json',
                data: {
                	id:dicmId,
                	materialName:materialName
                },
                success: function (json) {
                	if(json.result=='0'){
		        		toastr.error("修改失败");
		        	} else if(json.result=="-1"){
		        		toastr.error("已有相同名称");
		        		return;
		        	} 
		        	else{
		        		$("#change2").modal("hide");
			        	toastr.success('修改成功');
			        	$("#change2").modal("hide");
		            	$('#mainContent2').DataTable().row(trr).data(json.DicMaterials);//修改行立即显示 */
		            	$(trr.children()[0]).text(oldNum);
			        	  }
		        	},
                error:function(json){
                	toastr.error("保存失败"+json);
                	$("#change2").modal("hide");
                }
			});
		}
		
		//设备类型删除
	    function dicmdelete(obj) {
			var dom = $(obj).parents('tr');
			var data=$('#mainContent2').DataTable().row(dom).data();
			$.SmartMessageBox({
		            title: "删除提示",
		            content: "确认删除？",
		            buttons: '[取消][确定]'
		        }, function (ButtonPressed) {
		        	if (ButtonPressed === "确定") {
		        		myTool.mask.show('删除中...');
		        		$.ajax({
		                    type: 'POST',
		                    url:'/DicMaterials/delDicMaterials',
		                    dataType: 'json',
		                    data: {
		                    	id:data.id
		                    },
		                    success: function (json) {
								myTool.mask.hide();
		                    	if(json!=0){
		                    		$('#mainContent2').DataTable().row(dom).remove().draw(false); //删除行立即显示
		                    		toastr.success('删除成功');
		                    	}else{
		                    		 toastr.error('删除失败');
		                    	}
		                    }
		                }); 
		        	}
		        });
		}
		
		
		
		
		
	  
		//单位增加
		function adddicmSave3() {
			var danwei = $("#add_danwei").val();
			$.ajax({
				type : 'POST',
				url : '/DicDanwei/insertDicDanwei',
				dataType : 'json',
				data : {
					danweiName : danwei
				},
				success : function(json) {
					if (json.result == '0') {
						toastr.error("保存失败");
					}else if(json.result=="-1"){
		        		toastr.error("已有相同名称");
		        		return;
		        	} else {
						$("#myModal3").modal("hide");
						toastr.success('保存成功');
						$('#mainContent3').DataTable().row.add(json.dw).draw(false); //新增行立即显示
					}
				}
			});
		}

		//单位修改回显
		var dwId;
		var trr3;
		function dwChange(obj) {
			var tr = $(obj).parents("tr");
			trr3 = $(obj).closest('tr');
			var data = $("#mainContent3").DataTable().row(tr).data();
			dwId = data.id;
			$("#xg_danwei").val(data.danweiName);
			$("#change3").modal("show");
		}

		function editdicmSave3() {
			var xg_danwei = $("#xg_danwei").val();
			var oldNum = $(trr3.children()[0]).text();
			$.ajax({
				type : 'POST',
				url : '/DicDanwei/updDicDanwei',
				dataType : 'json',
				data : {
					id : dwId,
					danweiName : xg_danwei
				},
				success : function(json) {
					if (json.result == '0') {
						toastr.error("修改失败");
					}else if(json.result=="-1"){
		        		toastr.error("已有相同名称");
		        		return;
		        	}else {
						$("#change3").modal("hide");
						toastr.success('修改成功');
						$('#mainContent3').DataTable().row(trr3).data(json.dw);//修改行立即显示 */
						$(trr3.children()[0]).text(oldNum);
					}
				}
			});
		}

		//单位删除
		function dwdelete(obj) {
			var dom = $(obj).parents('tr');
			var data = $('#mainContent3').DataTable().row(dom).data();
			$.SmartMessageBox({
				title : "删除提示",
				content : "确认删除？",
				buttons : '[取消][确定]'
			}, function(ButtonPressed) {
				if (ButtonPressed === "确定") {
					myTool.mask.show('删除中...');
					$.ajax({
						type : 'POST',
						url : '/DicDanwei/delDicDanwei',
						dataType : 'json',
						data : {
							id : data.id
						},
						success : function(json) {
							myTool.mask.hide();
							if (json != 0) {
								$('#mainContent3').DataTable().row(dom).remove().draw(false); //删除行立即显示
								toastr.success('删除成功');
							} else {
								toastr.error('删除失败');
							}
						}
					});
				}
			});
		}

		//职务增加
		function adddicmSave4() {
			var zw = $("#add_zw").val();
			$.ajax({
				type : 'POST',
				url : '/DicZhiwu/insertDicZhiwu',
				dataType : 'json',
				data : {
					zhiwuName : zw
				},
				success : function(json) {
					if (json.result == '0') {
						toastr.error("保存失败");
					}else if(json.result=="-1"){
		        		toastr.error("已有相同名称");
		        		return;
		        	}  else {
						$("#myModal4").modal("hide");
						toastr.success('保存成功');
						$('#mainContent4').DataTable().row.add(json.zw).draw(false); //新增行立即显示
					}
				}
			});
		}

		//单位修改回显
		var zwId;
		var trr4;
		function zwChange(obj) {
			var tr = $(obj).parents("tr");
			trr4 = $(obj).closest('tr');
			var data = $("#mainContent4").DataTable().row(tr).data();
			zwId = data.id;
			$("#xg_zw").val(data.zhiwuName);
			$("#change4").modal("show");
		}

		function editdicmSave4() {
			var xg_zw = $("#xg_zw").val();
			var oldNum = $(trr4.children()[0]).text();

			$.ajax({
				type : 'POST',
				url : '/DicZhiwu/updDicZhiwu',
				dataType : 'json',
				data : {
					id : zwId,
					zhiwuName : xg_zw
				},
				success : function(json) {
					if (json.result == '0') {
						toastr.error("修改失败");
					}else if(json.result=="-1"){
		        		toastr.error("已有相同名称");
		        		return;
		        	}  else {
						$("#change4").modal("hide");
						toastr.success('修改成功');
						$('#mainContent4').DataTable().row(trr4).data(json.zw);//修改行立即显示 */
						$(trr4.children()[0]).text(oldNum);
					}
				}
			});
		}

		//职务删除
		function zwdelete(obj) {
			var dom = $(obj).parents('tr');
			var data = $('#mainContent4').DataTable().row(dom).data();
			$.SmartMessageBox({
				title : "删除提示",
				content : "确认删除？",
				buttons : '[取消][确定]'
			}, function(ButtonPressed) {
				if (ButtonPressed === "确定") {
					myTool.mask.show('删除中...');
					$.ajax({
						type : 'POST',
						url : '/DicZhiwu/delDicZhiwu',
						dataType : 'json',
						data : {
							id : data.id
						},
						success : function(json) {
							myTool.mask.hide();
							if (json != 0) {
								$('#mainContent4').DataTable().row(dom).remove().draw(false); //删除行立即显示
								toastr.success('删除成功');
							} else {
								toastr.error('删除失败');
							}
						}
					});
				}
			});
		}
	</script>
</html>
