<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.ChenBenJinDuDao" >

    <select id="getDistinctDatetime" resultType="ChenBenJinDuVo">
        SELECT DISTINCT LEFT(datetime,10) as datetime from plan_production_collection where delete_state!=0
    </select>

    <select id="getAllpdNeed"  resultType="ChenBenJinDuVo">
        select Convert(decimal(18,2),sum(pd_need)/1000) as pdNeed FROM plan_production_collection
        WHERE datetime LIKE concat(concat('%',#{datetime}),'%') and delete_state!=0
         GROUP BY LEFT(datetime,10)
    </select>

    <select id="getAllchenneng"  resultType="ChenBenJinDuVo">
        select Convert(decimal(18,2),sum(loading_weight-unloaded_weight)/1000) as chenneng FROM batch_mgt
        WHERE Convert(varchar,datetime_in,120) LIKE concat(concat('%',#{datetime}),'%') and delete_state!=0 AND batch IS NOT NULL
         GROUP BY LEFT(datetime_in,10)
    </select>

    <select id="getAllfeiliao"  resultType="ChenBenJinDuVo">
       SELECT Convert(decimal(18,2),SUM(pitch_weight)/1000) as feiliao from wh_waste_mgn where Convert(varchar,deal_time,120) LIKE concat(concat('%',#{datetime}),'%') AND warning_state=1 AND delete_state!=0
    </select>

    <select id="getAllMonth" resultType="ChenBenJinDuVo">
        SELECT DISTINCT LEFT(datetime,7) as datetime from plan_production_collection where delete_state!=0
    </select>
    <select id="getchannengBymonth" resultType="ChenBenJinDuVo">

            select Convert(decimal(18,2),sum(loading_weight-unloaded_weight)/1000) as chenneng FROM batch_mgt
            WHERE Convert(varchar,datetime_in,120) LIKE concat(concat('%',#{datetime}),'%') and delete_state!=0 AND batch IS NOT NULL
            GROUP BY CONVERT(varchar(7), datetime_in, 120 )

    </select>

    <select id="getchannengWeek" resultType="ChenBenJinDuVo">
        select  DISTINCT datepart(week,datetime_in) as datetime,Convert(decimal(18,2),sum(loading_weight-unloaded_weight)/1000) as chenneng from
            (select B.* from batch_mgt B
            Where delete_state!=0 AND batch IS NOT NULL AND Convert(varchar,datetime_in,120) LIKE concat(concat('%',#{datetime}),'%')
            ) as A
        group by datepart(week,datetime_in)
    </select>

    <!--<select id="getDayCount" resultType="map">
        SELECT
            *
        FROM
            (
                SELECT
                    SUM (weight) weight,
                    peifang_name peifangName,
                    #{datetime} AS datetime
                FROM
                    quality_by_plate_real_time_prodocution_data pbd
                WHERE
                    CONVERT (
                        VARCHAR,
                        production_time,
                        120
                    ) LIKE concat (
                        concat ('%', #{datetime}),
                        '%'
                    )
                GROUP BY
                    peifang_name
            ) a
        LEFT JOIN (
            SELECT
                CASE
            WHEN CONVERT (
                DECIMAL (18, 2),
                SUM (pitch_weight) / 1000
            ) IS NULL THEN
                0
            ELSE
                CONVERT (
                    DECIMAL (18, 2),
                    SUM (pitch_weight) / 1000
                )
            END AS feiliao
            FROM
                wh_waste_mgn
            WHERE
                CONVERT (VARCHAR, deal_time, 120) LIKE concat (
                    concat ('%', #{datetime}),
                    '%'
                )
            AND warning_state = 1
            AND delete_state != 0
        ) b ON 1 = 1
    </select>-->
    <select id="getDayCount" resultType="map">
        SELECT
            *
        FROM
            (
                 SELECT
                    Convert(decimal(18,2),sum(loading_weight-unloaded_weight)/1000) weight,
                    pitch_type peifangName,
                    #{datetime} AS datetime
                FROM
                    batch_mgt
                WHERE
                    CONVERT (
                        VARCHAR,
                        datetime_out,
                        120
                    ) LIKE concat (
                        concat ('%', #{datetime}),
                        '%'
                    )
                GROUP BY
                    pitch_type
            ) a
        LEFT JOIN (
            SELECT
                CASE
            WHEN CONVERT (
                DECIMAL (18, 2),
                SUM (pitch_weight) / 1000
            ) IS NULL THEN
                0
            ELSE
                CONVERT (
                    DECIMAL (18, 2),
                    SUM (pitch_weight) / 1000
                )
            END AS feiliao
            FROM
                wh_waste_mgn
            WHERE
                CONVERT (VARCHAR, deal_time, 120) LIKE concat (
                    concat ('%', #{datetime}),
                    '%'
                )
            AND warning_state = 1
            AND delete_state != 0
        ) b ON 1 = 1
    </select>

</mapper>