<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.DeviceInfoDao" >
	<select id="selectAllDeviceInfo" resultType="DeviceInfo">
		select 
			a.id,a.code,a.name,a.model,a.type_id,a.manufacturer,a.contact,a.status,a.remarks,a.edit_user_id,a.edit_datetime,a.delete_state,
			a.service_condition,a.device_maintenance_cycle,a.enter_time,a.quit_time,a.own_or_lease,b.type_name
		from
			device_info a
			left join dic_device_type b on a.type_id=b.id
		where a.delete_state=1
	</select>
	<select id="selectByIdDeviceInfo" resultType="DeviceInfo">
		select id,code,name,model,type_id,manufacturer,contact,status,remarks,edit_user_id,edit_datetime,service_condition,device_maintenance_cycle,enter_time,quit_time,own_or_lease
		from device_info
		where id=#{id} and delete_state
	</select>
	<insert id="addDeviceInfo" parameterType="deviceInfo">
		insert into device_info(
			id,code,name,model,type_id,manufacturer,contact,status,remarks,edit_user_id,edit_datetime,delete_state,
			service_condition,device_maintenance_cycle,enter_time,quit_time,own_or_lease)
		values(
			#{deviceInfo.id},
			#{deviceInfo.code},
			#{deviceInfo.name},
			#{deviceInfo.model},
			#{deviceInfo.typeId},
			#{deviceInfo.manufacturer},
			#{deviceInfo.contact},
			#{deviceInfo.status},
			#{deviceInfo.remarks},
			#{deviceInfo.editUserId},
			#{deviceInfo.editDatetime},
			1,
			#{deviceInfo.serviceCondition},
			#{deviceInfo.deviceMaintenanceCycle},
			#{deviceInfo.enterTime},
			#{deviceInfo.quitTime},
			#{deviceInfo.ownOrLease}
		)
	</insert>
	
	<update id="updateDeviceInfo" parameterType="deviceInfo">
		update device_info
		set
			code=#{deviceInfo.code},
			name=#{deviceInfo.name},
			model=#{deviceInfo.model},
			type_id=#{deviceInfo.typeId},
			manufacturer=#{deviceInfo.manufacturer},
			contact=#{deviceInfo.contact},
			status=#{deviceInfo.status},
			remarks=#{deviceInfo.remarks},
			edit_user_id=#{deviceInfo.editUserId},
			edit_datetime=#{deviceInfo.editDatetime},
			service_condition=#{deviceInfo.serviceCondition},
			device_maintenance_cycle=#{deviceInfo.deviceMaintenanceCycle},
			enter_time=#{deviceInfo.enterTime},
			quit_time=#{deviceInfo.quitTime},
			own_or_lease=#{deviceInfo.ownOrLease}
		where delete_state=1 and id=#{deviceInfo.id}
	</update>
	<update id="deleteDeviceInfo" >
		update device_info 
		set
			delete_state=0
		where id=#{id}
	</update>
</mapper>

