<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.DicDanweiDao" >

	<select id="getAllDicDanwei" resultType="DicDanwei">
		select id,danwei_name from dic_danwei where delete_state=1
	</select>

</mapper>