<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.NianYaCiShuDao" >
	<insert id="addNianYaCiShu" parameterType="SiteCompactionNumVo">
		insert into site_compaction_num
			(id,site_id,batch_id,road_roller_name,compaction_num,datetime,edit_user_id,edit_datetime,delete_state)
			values(#{id},#{siteid},#{batchid},#{roadrollername},#{compactionnum},#{datetime},#{edituserid},#{editdatetime},
			#{deletestate})
	</insert>

	<update id="updateNianYaCiShu" parameterType="SiteCompactionNumVo">
		update site_compaction_num
			set site_id=#{siteid},batch_id=#{batchid},
			road_roller_name=#{roadrollername},edit_user_id=#{edituserid},
			edit_datetime=#{editdatetime},
			compaction_num=#{compactionnum} where id=#{id}
	</update>

	<update id="delNianYaCiShu" parameterType="string">
		update site_compaction_num set delete_state=0 where id=#{id}
	</update>

	<select id="getAllNianYaCiShu" parameterType="string" resultType="SiteCompactionNumVo">
		SELECT
			scn.*,sfm.fl_name,bm.batch,srm.road_name,srm.road_no,uu.u_name
		FROM
			site_compaction_num scn
		LEFT JOIN batch_mgt bm ON scn.batch_id = bm.id and bm.delete_state = 1
		LEFT JOIN sys_road_mgn srm ON bm.road_id = srm.road_id and srm.delete_state = 1
		LEFT JOIN sys_formulation_management sfm ON sfm.fl_id= bm.pitch_type and sfm.delete_state = 1
		LEFT JOIN u_user uu ON uu.user_id= scn.edit_user_id and uu.delete_state = 1
		where scn.delete_state=1 ORDER BY scn.datetime desc
	</select>

</mapper>