<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.QualityByPlateAsphaltAggregateRatioDao">

	<select id="getAllQualityByPlateAsphaltAggregateRatio" resultType="QualityByPlateAsphaltAggregateRatio">
		select id,plan_id,plan_no,qbaar.now_time as nowTime,asphalt_aggregate_ratio from quality_by_plate_asphalt_aggregate_ratio qbaar order by now_time desc
	</select>

	<select id="getAllQualityByPageCondition" resultType="QualityByPlateAsphaltAggregateRatio">
		select id,plan_id,plan_no,qbaar.now_time as nowTime,asphalt_aggregate_ratio from quality_by_plate_asphalt_aggregate_ratio qbaar order by now_time desc  offset #{page} rows fetch next #{length} rows only
	</select>

	<select id="getYouShiBiVoListByTime" resultType="QualityByPlateAsphaltAggregateRatio">
		SELECT
		qba.now_time as nowTime,qba.*
		FROM
		quality_by_plate_asphalt_aggregate_ratio qba
		LEFT JOIN plan_production_collection ppc ON qba.plan_id = ppc.plan_id
		LEFT JOIN sys_formulation_management sfm ON sfm.fl_id = ppc.recipe_id
		<where>
			<if test="beginTime !=null and beginTime!=''">
				qba.now_time &gt; #{beginTime}
			</if>
			<if test="endTime !=null and endTime!=''">
				and qba.now_time &lt; #{endTime}
			</if>

			<if test="peifang !=null and peifang!=''">
				and sfm.fl_id = #{peifang}
			</if>
		</where>
		order by qba.now_time asc
	</select>
</mapper>