<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.QualityKeyMeshPassRateDao" >

	<select id="getAllQualityKeyMeshPassRate" resultType="QualityKeyMeshPassRate">
		select id,plan_id,plan_no,production_time,r1,r2,r3 from quality_key_mesh_pass_rate
	</select>

	<select id="getTongGuoLvVoListByTime" resultType="QualityKeyMeshPassRate">
		SELECT
		*
		FROM
		quality_key_mesh_pass_rate qkr
		LEFT JOIN plan_production_collection ppc ON qkr.plan_id = ppc.plan_id
		LEFT JOIN sys_formulation_management sfm ON sfm.fl_id = ppc.recipe_id
		<where>
			<if test="beginTime !=null and beginTime!=''">
				qkr.production_time &gt; #{beginTime}
			</if>
			<if test="endTime !=null and endTime!=''">
				and qkr.production_time &lt;  #{endTime}
			</if>
			<if test="peifang !=null and peifang!=''">
				and sfm.fl_id = #{peifang}
			</if>
		</where>
		order by qkr.production_time asc
	</select>
</mapper>