<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.QualityByPlateAsphaltAggregateRatioDao" >

	<select id="getAllQualityByPlateAsphaltAggregateRatio" resultType="QualityByPlateAsphaltAggregateRatio">
		select id,plan_id,plan_no,date,time,asphalt_aggregate_ratio from quality_by_plate_asphalt_aggregate_ratio
	</select>
</mapper>