<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.QualityByPlateRealTimeProdocutionDataDao" >

	<select id="getAllQualityByPlateRealTimeProdocutionData" resultType="QualityByPlateRealTimeProdocutionData">
		select ID,plan_id,plan_no,materials_use_1,materials_use_2,materials_use_3,materials_use_4,materials_use_5,materials_use_6,
			bone_flour_use,pitch_use,min_temperature,max_temperature,dry_time,wet_time,weight,production_time
		from quality_by_plate_real_time_prodocution_data
	</select>

	<select id="getPeiBiVoListByTime" resultType="QualityByPlateRealTimeProdocutionData">
		SELECT
		*,Convert(decimal(18,2),pitch_use/weight*100) baifenbi
		FROM
		quality_by_plate_real_time_prodocution_data qba
		<where>
			<if test="beginTime !=null and beginTime!=''">
				qba.production_time &gt; #{beginTime}
			</if>
			<if test="endTime !=null and endTime!=''">
				and qba.production_time &lt; #{endTime}
			</if>
		</where>
		order by qba.production_time asc
	</select>

	<select id="getPeiBiOneByTime" resultType="QualityByPlateRealTimeProdocutionData">
		SELECT
		top 1
		ISNULL(Convert(decimal(18,2),materials_use_1/weight*100), 0) baifenbi1,
		ISNULL(Convert(decimal(18,2),materials_use_2/weight*100), 0) baifenbi2,
		ISNULL(Convert(decimal(18,2),materials_use_3/weight*100), 0) baifenbi3,
		ISNULL(Convert(decimal(18,2),materials_use_4/weight*100), 0) baifenbi4,
		ISNULL(Convert(decimal(18,2),materials_use_5/weight*100), 0) baifenbi5,
		ISNULL(Convert(decimal(18,2),materials_use_6/weight*100), 0) baifenbi6,
		ISNULL(Convert(decimal(18,2),pitch_use/weight*100), 0) baifenbi_liqing,
		ISNULL(Convert(decimal(18,2),bone_flour_use/weight*100), 0) baifenbi_fen
		FROM
		quality_by_plate_real_time_prodocution_data qba
		<where>
			<if test="time !=null and time!=''">
				convert(varchar,qba.production_time ,120) like #{time}
			</if>
		</where>
		order by qba.production_time desc
	</select>

</mapper>