<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.QualityRealtimeDeviationDao" >

	<select id="getAllQualityRealtimeDeviation" resultType="QualityRealtimeDeviation">
		select id,plan_id,plan_no,Material_deviation_1,Material_deviation_2,Material_deviation_3,Material_deviation_4,Material_deviation_5,Material_deviation_6,
		Bone_flour_deviation,pitch_deviation,min_temperature,max_temperature,dry_mixing_deviation,wet_mixing_deviation,pass_475,pass_236,pass_0075,datetime
		from quality_realtime_deviation order by datetime desc
	</select>

	<select id="getPianChaVoListByTime" resultType="QualityRealtimeDeviation">
		SELECT
		*
		FROM
		quality_realtime_deviation qkr
		LEFT JOIN plan_production_collection ppc ON qkr.plan_id = ppc.plan_id
		LEFT JOIN sys_formulation_management sfm ON sfm.fl_id = ppc.recipe_id
		<where>
			<if test="beginTime !=null and beginTime!=''">
				qkr.datetime &gt; #{beginTime}
			</if>
			<if test="endTime !=null and endTime!=''">
				and qkr.datetime &lt;  #{endTime}
			</if>
			<if test="peifang !=null and peifang!=''">
				and sfm.fl_id = #{peifang}
			</if>
		</where>
		order by qkr.datetime asc
	</select>
</mapper>