<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.ShoufeizhanDao" >

	<select id="getAllshoufeizhan" resultType="Shoufeizhan">
		select * from shoufeizhan
	</select>

	<insert id="addShoufeizhan" parameterType="Shoufeizhan">
		insert into shoufeizhan(id,name) values(#{id},#{name})
	</insert>

	<update id="updShoufeizhan" parameterType="Shoufeizhan">
		update shoufeizhan set name=#{name} where id=#{id}
	</update>

	<delete id="delShoufeizhan">
		delete  from shoufeizhan where id=#{id}
	</delete>

	<select id="getCountName" resultType="int">
		select count(name) from shoufeizhan where name=#{name}
	</select>
	<select id="xggetCountName" resultType="int">
		select count(name) from shoufeizhan where name=#{name} and id!=#{id}
	</select>
</mapper>