<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.SiteRoadMileageDao" >

	<sql id="luduanquanxian_sql">
		<if test="luduanquanxian != null and luduanquanxian != ''">
			<if test="luduanquanxian.indexOf(',') != -1 ">
				sc.road_id in
				<foreach collection="luduanquanxian.split(',')" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="luduanquanxian.indexOf(',') == -1">
				sc.road_id=#{luduanquanxian}
			</if>
			and
		</if>
	</sql>

	<select id="selectAllSiteRoadMileage" resultType="SiteRoadMileage">
		select a.id,a.site_id,a.length,a.datetime,a.edit_user_id2,a.edit_datetime2,
			a.delete_state,b.site_number,c.road_name,c.road_id,u.u_name as editUName
		from site_road_mileage as a
		left JOIN (SELECT *  from site_construction sc WHERE <include refid="luduanquanxian_sql"></include>  sc.delete_state!=0) as b on a.site_id=b.id
		left join sys_road_mgn as c on c.road_id=b.road_id
		left join u_user as u on a.edit_user_id2=u.user_id
		where a.delete_state !=0 and a.site_id =b.id
	</select>
	
	<update id="updSiteRoadMileage" parameterType="SiteRoadMileage">
		update site_road_mileage set 
		 site_id=#{srm.siteId},
		 length=#{srm.length},
		 datetime=#{srm.datetime},
		 edit_user_id2=#{srm.editUserId2},
		 edit_datetime2=#{srm.editDatetime2}
		 where id=#{srm.id}
	</update>
	
	<update id="delSiteRoadMileage">
		update site_road_mileage set delete_state=0 where id=#{id}
	</update>
	
	<insert id="insertSiteRoadMileage" parameterType="SiteRoadMileage">
		insert into 
		site_road_mileage(id,site_id,length,datetime,edit_user_id2,edit_datetime2,delete_state)
		values(#{srm.id},#{srm.siteId},#{srm.length},#{srm.datetime},#{srm.editUserId2},#{srm.editDatetime2},1)
	</insert>

	<select id="getByLuDuanId" resultType="SiteRoadMileage">
		select a.id,a.site_id,a.length,a.datetime,a.edit_user_id2,a.edit_datetime2,
			a.delete_state,b.site_number,c.road_name,c.road_id,u.u_name as editUName
		from site_road_mileage as a
		left join site_construction as b on a.site_id=b.id AND b.delete_state!=0
		left join sys_road_mgn as c on c.road_id=b.road_id
		left join u_user as u on a.edit_user_id2=u.user_id
		where a.delete_state=1 AND a.site_id in (SELECT id  from site_construction  WHERE road_id=#{roadId} and delete_state!=0)
	</select>

</mapper>