<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.SiteRoadMileageTempDao" >

    <sql id="luduanquanxian_sql">
        <if test="luduanquanxian != null and luduanquanxian != ''">
            <if test="luduanquanxian.indexOf(',') != -1 ">
                sc.road_id in
                <foreach collection="luduanquanxian.split(',')" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="luduanquanxian.indexOf(',') == -1">
                sc.road_id=#{luduanquanxian}
            </if>
            and
        </if>
    </sql>

    <select id="getAllSiteRoadMileageTemp" resultType="SiteRoadMileageTemp">
        select a.id,a.site_id,a.temp,a.temp2,a.edit_user_id,a.edit_datetime,
        a.datetime,a.delete_state,b.site_number,b.road_name,c.road_id,u.u_name as editUName
        from site_road_mileage_temp a
        left join (SELECT *  from site_construction sc WHERE <include refid="luduanquanxian_sql"></include>  sc.delete_state!=0) as b on a.site_id=b.id
        left join sys_road_mgn as c on c.road_id=b.road_id
        left join u_user as u on a.edit_user_id=u.user_id
        where a.delete_state!=0 AND a.site_id =b.id
    </select>

    <update id="updSiteRoadMileageTemp" parameterType="SiteRoadMileageTemp">
        update site_road_mileage_temp set
        site_id=#{srm.siteId},
        temp=#{srm.temp},
        temp2=#{srm.temp2},
        edit_user_id=#{srm.editUserId},
        edit_datetime=#{srm.editDatetime},
        datetime=#{srm.datetime}
        where id=#{srm.id}
    </update>

    <update id="delSiteRoadMileageTemp">
        update site_road_mileage_temp set delete_state=0 where id=#{id}
    </update>

    <insert id="insertSiteRoadMileageTemp" parameterType="SiteRoadMileageTemp">
        insert into site_road_mileage_temp(id,site_id,temp,temp2,edit_user_id,edit_datetime,datetime,delete_state)
        values (#{srm.id},#{srm.siteId},#{srm.temp},#{srm.temp2},#{srm.editUserId},#{srm.editDatetime},#{srm.datetime},1)
    </insert>

    <select id="getByLuDuanId" resultType="SiteRoadMileageTemp">
		select a.id,a.site_id,a.temp,a.temp2,a.edit_datetime,a.edit_user_id,a.datetime,
			a.delete_state,b.site_number,c.road_name,c.road_id,u.u_name as editUName
		from site_road_mileage_temp as a
		left join site_construction as b on a.site_id=b.id AND b.delete_state!=0
		left join sys_road_mgn as c on c.road_id=b.road_id
		left join u_user as u on a.edit_user_id=u.user_id
		where a.delete_state!=0 AND a.site_id in (SELECT id  from site_construction  WHERE road_id=#{roadId} and delete_state!=0)
	</select>

    <select id="getTanPuWenDuVoListByTime" resultType="SiteRoadMileageTemp">
        SELECT
        qba.*,sc.road_id
        FROM
        site_road_mileage_temp qba LEFT JOIN site_construction sc on qba.site_id = sc.id
        <where>
            <if test="beginTime !=null and beginTime!=''">
                qba.datetime &gt; #{beginTime}
            </if>
            <if test="endTime !=null and endTime!=''">
                and qba.datetime &lt;  #{endTime}
            </if>
            <if test="roadId !=null and roadId!=''">
                and sc.road_id = #{roadId}
            </if>
        </where>
        order by qba.datetime asc
    </select>
    <select id="getTanPuLiXiDuVoListByTime" resultType="SiteRoadMileageTemp">
        SELECT
        ABS(qba.temp-qba.temp2) as lixidu,qba.*,sc.road_id
        FROM
        site_road_mileage_temp qba LEFT JOIN site_construction sc on qba.site_id = sc.id
        <where>
            <if test="beginTime !=null and beginTime!=''">
                qba.datetime &gt; #{beginTime}
            </if>
            <if test="endTime !=null and endTime!=''">
                and qba.datetime &lt;  #{endTime}
            </if>
            <if test="roadId !=null and roadId!=''">
                and sc.road_id = #{roadId}
            </if>
        </where>
        order by qba.datetime asc
    </select>
</mapper>