<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.SysRoadMgnDao" >
	
	<insert id="addSysRoadMgn" parameterType="sysRoadMgn">
		insert into 
			sys_road_mgn(road_id,road_no,road_name,start_lng,start_lat,end_lng,end_lat,remarks,delete_state) 
		values(#{sysRoadMgn.roadId},
			   #{sysRoadMgn.roadNo},
			   #{sysRoadMgn.roadName},
			   #{sysRoadMgn.startLng},
			   #{sysRoadMgn.startLat},
			   #{sysRoadMgn.endLng},
			   #{sysRoadMgn.endLat},
			   #{sysRoadMgn.remarks},
			   1
			   )
	</insert>
	
	<update id="updateSysRoadMgnById">
		update sys_road_mgn set 
		road_no=#{sysRoadMgn.roadNo},
		road_name=#{sysRoadMgn.roadName},
		start_lng=#{sysRoadMgn.startLng},
		start_lat=#{sysRoadMgn.startLat},
		end_lng=#{sysRoadMgn.endLng},
		end_lat=#{sysRoadMgn.endLat},
		remarks=#{sysRoadMgn.remarks}
		where road_id=#{sysRoadMgn.roadId} and delete_state=1
	</update>
	
	<select id="getAllSysRoadMgn" resultType="SysRoadMgn">
		select road_id,road_no,road_name,start_lng,start_lat,end_lng,end_lat,remarks,delete_state
	    from sys_road_mgn 
	    where delete_state=1
	</select>
	
	<update id="delSysRoadMgn">
		update sys_road_mgn set 
		delete_state =0
		where road_id=#{id} and delete_state=1
	</update>
	
	<select id="getByIdSysRoadMgn" resultType="SysRoadMgn">
		select road_id,road_no,road_name,start_lng,start_lat,end_lng,end_lat,remarks,delete_state
	    from sys_road_mgn 
	    where delete_state=1 and road_id=#{id}
	</select>
</mapper>