<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.TanPuDiDianGuanLiDao" >
	<insert id="addTanPuDiDian" parameterType="siteConstructionVo">
		insert into site_construction 
			(id,road_id,site_number,lng,lat,stake_mark,lane,remarks,delete_state)
			values(#{id},#{roadid},#{sitenumber},#{lng},#{lat},#{stakemark},
			#{lane},#{remarks},#{deletestate})
	</insert>
	
	<update id="updateTanPuDiDian" parameterType="siteConstructionVo">
		update site_construction 
			set road_id=#{roadid},
			site_number=#{sitenumber},
			lng=#{lng},lat=#{lat},
			stake_mark=#{stakemark},
			lane=#{lane},remarks=#{remarks} where id=#{id}
	</update>
	

	<update id="delTanPuDiDian" parameterType="String">
		update site_construction set delete_state=0 where id=#{id}
	</update>

	<update id="updateUser" parameterType="user" >
	  update u_user
	  set 
	    username=#{user.username,jdbcType=VARCHAR},
	    password=#{user.password,jdbcType=VARCHAR},
	    work_id = #{user.workId,jdbcType=VARCHAR},
	    record_no = #{user.recordNo,jdbcType=VARCHAR},
	    u_name = #{user.uName,jdbcType=VARCHAR},
	    sex = #{user.sex,jdbcType=VARCHAR},
	    birthday = #{user.birthday,jdbcType=VARCHAR},
	    nation = #{user.nation,jdbcType=VARCHAR},
	    marriage = #{user.marriage,jdbcType=VARCHAR},
	    political_status = #{user.politicalStatus,jdbcType=VARCHAR},
	    entry_time = #{user.entryTime,jdbcType=VARCHAR},
	    address = #{user.address,jdbcType=VARCHAR},
	    card_id = #{user.cardId,jdbcType=VARCHAR},
	    postal_code = #{user.postalCode,jdbcType=VARCHAR},
	    phone_no = #{user.phoneNo,jdbcType=VARCHAR},
	    email = #{user.email,jdbcType=VARCHAR},
	    diploma = #{user.diploma,jdbcType=VARCHAR},
	    school = #{user.school,jdbcType=VARCHAR},
	    specialty = #{user.specialty,jdbcType=VARCHAR},
	    graduation_time = #{user.graduationTime,jdbcType=VARCHAR},
	    om_id = #{user.omId,jdbcType=VARCHAR},
	    duty_id = #{user.dutyId,jdbcType=VARCHAR},
	    duty_name = #{user.dutyName,jdbcType=VARCHAR},
	    certificate = #{user.certificate,jdbcType=VARCHAR},
	    certificate_grade=#{user.certificateGrade,jdbcType=VARCHAR},
	    position=#{user.position,jdbcType=VARCHAR}
	  where user_id = #{user.userId,jdbcType=VARCHAR}
	</update>
	
	
	<select id="getDistinctTanPuDiDian" resultType="siteConstruction">
		select DISTINCT road_no,site_name from site_construction where delete_state = 1
	</select>
	
	<select id="getAllTanPuDiDian" resultType="siteConstructionVo">
		select sc.*,srm.road_no,srm.road_name from site_construction sc LEFT JOIN sys_road_mgn srm on sc.road_id = srm.road_id and srm.delete_state = 1
		where sc.delete_state = 1
	</select>
	
	<select id="getBiaoDuanByLuDuan" resultType="siteConstruction" parameterType="map">
		select * from site_construction where  road_no=#{roadno} and delete_state = 1
	</select>
	
	<select id="selectUserById" parameterType="String" resultType="user">
		select * from u_user where user_id=#{userId}
	</select>


	<select id="getByLuDuanId" resultType="SiteConstructionVo" parameterType="map">
		select sc.*,srm.road_no,srm.road_name  from site_construction sc
		LEFT JOIN sys_road_mgn srm on sc.road_id = srm.road_id and srm.delete_state = 1
		 where  sc.road_id=#{roadId} and sc.delete_state = 1
	</select>

	<select id="getIDisroadName" resultType="siteConstructionVo">
		SELECT
			DISTINCT sc.road_id,
			srm.road_name
		FROM
			site_construction sc
		LEFT JOIN sys_road_mgn srm ON sc.road_id = srm.road_id
		AND srm.delete_state = 1
		WHERE
			sc.delete_state = 1
	</select>

</mapper>