<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.TmpPlateDao" >
	<select id="getTmpPlate" resultType="TmpPlate">
		select id,plate from tmp_plate
	</select>
</mapper>