<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.TruckInfoDao" >

	<select id="getAllTruckInfo" resultType="TruckInfo">
		select id,truck_ic,truck_type,weight,driver,GPS_id,delete_state from truck_info where delete_state=1
	</select>
	
	<select id="getTruckInfoById" resultType="TruckInfo">
		select id,truck_ic,truck_type,weight,driver,GPS_id,delete_state from truck_info where id=#{id}
	</select>

	<update id="updTruckInfo" parameterType="TruckInfo">
		update truck_info set 
			truck_ic=#{t.truckIc},
			truck_type=#{t.truckType},
			weight=#{t.weight},
			driver=#{t.driver},
			GPS_id=#{t.GPSId}
		where id=#{t.id}
	</update>
	
	<delete id="delTruckInfo">
		update  truck_info set delete_state=0 where id=#{id}
	</delete>
	
	<insert id="insertTruckInfo" parameterType="TruckInfo">
		insert into truck_info(id,truck_ic,truck_type,weight,driver,GPS_id,delete_state) values(#{t.id},#{t.truckIc},#{t.truckType},#{t.weight},#{t.driver},#{t.GPSId},1)
	</insert>

</mapper>