<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.UDutyScheduleDao" >

	<select id="getAllUDutySchedule" resultType="UDutySchedule">
		select a.id,a.user_id,a.datetime_start,a.datetime_end,a.remarks,a.delete_state,a.edit_user_id,a.edit_datetime,b.work_id,b.u_name,c.u_name as userName
		from u_duty_schedule a
		left join u_user b on a.user_id=b.user_id
		left join u_user c on a.edit_user_id=c.user_id
		where a.delete_state=1
	</select>
	
	<update id="updUDutySchedule" parameterType="UDutySchedule">
		update u_duty_schedule set 
		user_id=#{us.userId},
		datetime_start=#{us.datetimeStart},
		datetime_end=#{us.datetimeEnd},
		remarks=#{us.remarks},
		edit_user_id=#{us.editUserId},
		edit_datetime=#{us.editDatetime}
		where id=#{us.id}
	</update>
	
	<update id="delUDutySchedule">
		update u_duty_schedule set delete_state=0 where id=#{id}
	</update>
	
	<insert id="insertUDutySchedule" parameterType="UDutySchedule">
		insert into u_duty_schedule(id,user_id,datetime_start,datetime_end,remarks,delete_state,edit_user_id,edit_datetime)
		values(#{us.id},#{us.userId},#{us.datetimeStart},#{us.datetimeEnd},#{us.remarks},1,#{us.editUserId},#{us.editDatetime})
	</insert>


</mapper>