<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.URoleDao" >

    <insert id="addRole" parameterType="URoleVo">
  		insert into u_role(id,role_code,role_name,role_sort)
  		values(#{id},#{roleCode},#{roleName},#{roleSort})
  	</insert>
	<update id="updURoleVoById" parameterType="URoleVo">
		update u_role set role_name=#{roleName} where id=#{id}
	</update>
    <update id="updatePersonRole" parameterType="string">
  		update u_user set user_role = #{personRoles} where user_id=#{personId}
  	</update>
    <select id="selectRoleOneByCodeLength" resultType="URoleVo">
  		select *,role_name text from u_role where len(role_code) in(#{length},#{length}+1)
  	</select>
    <select id="selectRoleTwoByCodeLength" resultType="URoleVo">
  		select *,role_name text from u_role where len(role_code) in(#{length},#{length}+1,#{length}+2)
  	</select>
    <select id="selectRoleByCodeLike" resultType="URoleVo">
  		select *,role_name text from u_role where role_code like #{code} and len(role_code) in (#{length},#{length}+1,#{length}+2)
  	</select>
    <select id="selectRolesSort" resultType="URoleVo">
  		select *,role_name text from u_role order by id desc
  	</select>
    <select id="selectRoleByRoleCode" resultType="URoleVo">
  		select *,role_name text from u_role where role_code = #{roleCode}
  	</select>
    <select id="selectRoleById" resultType="URoleVo">
  		select id,role_code,role_name,role_sort,u_persmission_coding from u_role where id = #{id}
  	</select>
    <select id="selectRoleByRoleName" resultType="URoleVo">
  		select id,role_code,role_name,role_sort,u_persmission_coding from u_role where role_name = #{name}
  	</select>

    <update id="upduPersmissionCoding" parameterType="URole">
        update u_role set u_persmission_coding=#{uPersmissionCoding} WHERE id = #{id}
    </update>

</mapper>