<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.UserDao" >
	<insert id="addUser" parameterType="user">
		insert into u_user 
			(user_Id,work_id,u_name,sex,card_id,phone_no,delete_state,zhiwu,danwei)
		values(#{user.userId,jdbcType=VARCHAR},#{user.workId,jdbcType=VARCHAR},
			#{user.uName,jdbcType=VARCHAR},#{user.sex,jdbcType=VARCHAR},#{user.cardId,jdbcType=VARCHAR},
			#{user.phoneNo,jdbcType=VARCHAR},1,#{user.zhiwu,jdbcType=VARCHAR},#{user.danwei,jdbcType=VARCHAR})
	</insert>

	<update id="deleteUser" parameterType="String">
		update u_user set delete_state=0 where user_id=#{userId}
	</update>

	<update id="updateUser" parameterType="user" >
	  update u_user
	  set 
	    work_id = #{user.workId,jdbcType=VARCHAR},
	    u_name = #{user.uName,jdbcType=VARCHAR},
	    sex = #{user.sex,jdbcType=VARCHAR},
	    card_id = #{user.cardId,jdbcType=VARCHAR},
	    phone_no = #{user.phoneNo,jdbcType=VARCHAR},
	    zhiwu=#{user.zhiwu,jdbcType=VARCHAR},
	    danwei=#{user.danwei,jdbcType=VARCHAR}
	  where user_id = #{user.userId,jdbcType=VARCHAR}
	</update>
	
	<update id="updUserup" parameterType="user">
		 update u_user
	  set 
	    username = #{user.username,jdbcType=VARCHAR},
	    password = #{user.password,jdbcType=VARCHAR}
	  where user_id = #{user.userId,jdbcType=VARCHAR}
	</update>
	
	
	<select id="selectAllUser" resultType="user">
		select * from u_user as a where a.delete_state=1
	</select>
	
	<select id="selectUserById" parameterType="String" resultType="user">
		select * from u_user where user_id=#{userId}
	</select>
	
	<select id="iscountWorkId"  resultType="int">
		select count(work_id) from u_user where work_id=#{workId} and delete_state=1
	</select>
	
	<select id="iscountUName" resultType="int">
		select count(u_name) from u_user where u_name=#{uName} and delete_state=1
	</select>
	
	<select id="iscountWorkIdEdit" parameterType="String" resultType="int">
		select count(work_id) from u_user where work_id=#{workId} and user_id !=#{userId} and delete_state=1
	</select>
	
	<select id="iscountUNameEdit" parameterType="String" resultType="int">
		select count(u_name) from u_user where u_name=#{uName} and user_id !=#{userId} and delete_state=1
	</select>
	
	<select id="getWorkIdAnduName" resultType="user">
		select user_id,work_id,u_name from u_user where delete_state=1
	</select>
	
	<select id="getWorkIdByuName" resultType="user">
		select user_id,work_id,u_name from u_user where delete_state=1 and u_name=#{uName}
	</select>
	
	<select id="getuNameByWorkId" resultType="user">
		select user_id,work_id,u_name from u_user where delete_state=1 and work_id=#{workId}
	</select>
	
	<select id="selectUserByUsername" parameterType="String" resultType="user">
		select * from u_user where username=#{username} and delete_state=1
	</select>
	
</mapper>