<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.UserDao" >
	<insert id="addUser" parameterType="user">
		insert into u_user 
			(user_Id,work_id,u_name,sex,card_id,phone_no,delete_state,zhiwu,danwei,luduanquanxian,
			om_id,department,nature_employment,contract_life,dangerous_levels,insurance_purchases,insurance_date,certificate)
		values(#{user.userId,jdbcType=VARCHAR},#{user.workId,jdbcType=VARCHAR},
			#{user.uName,jdbcType=VARCHAR},#{user.sex,jdbcType=VARCHAR},#{user.cardId,jdbcType=VARCHAR},
			#{user.phoneNo,jdbcType=VARCHAR},1,#{user.zhiwu,jdbcType=VARCHAR},#{user.danwei,jdbcType=VARCHAR},#{user.luduanquanxian,jdbcType=VARCHAR},#{user.omId,jdbcType=VARCHAR},
			#{user.department,jdbcType=VARCHAR},#{user.natureEmployment,jdbcType=VARCHAR},#{user.contractLife,jdbcType=VARCHAR},#{user.dangerousLevels,jdbcType=VARCHAR},
			#{user.insurancePurchases,jdbcType=VARCHAR},#{user.insuranceDate,jdbcType=VARCHAR},#{user.certificate,jdbcType=VARCHAR})
	</insert>

	<update id="deleteUser" parameterType="String">
		update u_user set delete_state=0 where user_id=#{userId}
	</update>

	<update id="updateUser" parameterType="user" >
	  update u_user
	  set 
	    work_id = #{user.workId,jdbcType=VARCHAR},
	    u_name = #{user.uName,jdbcType=VARCHAR},
	    sex = #{user.sex,jdbcType=VARCHAR},
	    card_id = #{user.cardId,jdbcType=VARCHAR},
	    phone_no = #{user.phoneNo,jdbcType=VARCHAR},
	    zhiwu=#{user.zhiwu,jdbcType=VARCHAR},
	    danwei=#{user.danwei,jdbcType=VARCHAR},
	    luduanquanxian=#{user.luduanquanxian,jdbcType=VARCHAR},
	    om_id=#{user.omId,jdbcType=VARCHAR},
	    department=#{user.department,jdbcType=VARCHAR},
	    nature_employment=#{user.natureEmployment,jdbcType=VARCHAR},
	    contract_life=#{user.contractLife,jdbcType=VARCHAR},
	    dangerous_levels=#{user.dangerousLevels,jdbcType=VARCHAR},
	    insurance_purchases=#{user.insurancePurchases,jdbcType=VARCHAR},
	    insurance_date=#{user.insuranceDate,jdbcType=VARCHAR},
	    certificate=#{user.certificate,jdbcType=VARCHAR}
	  where user_id = #{user.userId,jdbcType=VARCHAR}
	</update>
	
	<update id="updUserup" parameterType="user">
		 update u_user
	  set 
	    username = #{user.username,jdbcType=VARCHAR},
	    password = #{user.password,jdbcType=VARCHAR}
	  where user_id = #{user.userId,jdbcType=VARCHAR}
	</update>
	
	
	<select id="selectAllUser" resultType="UserVo">
		select *,b.danwei_name from u_user as a
		 left join dic_danwei as b on a.danwei=b.id
		 where a.delete_state=1
	</select>
	
	<select id="selectUserById" parameterType="String" resultType="user">
		select * from u_user where user_id=#{userId}
	</select>
	
	<select id="iscountWorkId"  resultType="int">
		select count(work_id) from u_user where work_id=#{workId} and delete_state=1
	</select>
	
	<select id="iscountUName" resultType="int">
		select count(u_name) from u_user where u_name=#{uName} and delete_state=1
	</select>
	
	<select id="iscountWorkIdEdit" parameterType="String" resultType="int">
		select count(work_id) from u_user where work_id=#{workId} and user_id !=#{userId} and delete_state=1
	</select>
	
	<select id="iscountUNameEdit" parameterType="String" resultType="int">
		select count(u_name) from u_user where u_name=#{uName} and user_id !=#{userId} and delete_state=1
	</select>
	
	<select id="getWorkIdAnduName" resultType="user">
		select user_id,work_id,u_name from u_user where delete_state=1
	</select>
	
	<select id="getWorkIdByuName" resultType="user">
		select user_id,work_id,u_name from u_user where delete_state=1 and u_name=#{uName}
	</select>
	
	<select id="getuNameByWorkId" resultType="user">
		select user_id,work_id,u_name from u_user where delete_state=1 and work_id=#{workId}
	</select>

	<select id="selectUserByUsername" parameterType="String" resultType="UserVo">
		select * from u_user where username=#{username} and delete_state=1
	</select>
	<update id="updatePasswordById">
		update u_user set password=#{new_password} where user_id=#{userId}
	</update>

	<select id="selectUserByRoadId" parameterType="String" resultType="User">
		select *,b.danwei_name from u_user as a
		left join dic_danwei as b on a.danwei=b.id
		where a.delete_state=1
			and a.luduanquanxian like #{roadId}
	</select>

	<update id="finishUserRoadIdIsOne" >
		update u_user set delete_state=2,luduanquanxian=#{user.luduanquanxian} where user_id=#{user.userId} and delete_state=1
	</update>

	<update id="finishUserRoadIdIsMany"  >
		update u_user set luduanquanxian=#{user.luduanquanxian} where user_id=#{user.userId} and delete_state=1
	</update>
</mapper>