<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.USigninDao">
	<select id="selectAllUSigninByState" resultType="USignin">
		select
		id,user_id,work_no,name,date,time_in,time_out,remarks,delete_state
		from u_signin

		<where>
			delete_state=1
			<if test='state=="1"'>
				and time_in>'09:00:00'
			</if>
			<if test='state=="2"'>
				and time_out&lt;'18:00:00'
			</if>
		</where>
	</select>

	<select id="selectAllUSignin" resultType="USignin">
		select
		id,user_id,work_no,name,date,time_in,time_out,remarks,delete_state
		from u_signin
		<where>
			delete_state=1
		</where>
	</select>
</mapper>