<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.WhWasteMgnDao" >

    <select id="getAllWhWasteMgn" resultType="WhWasteMgn">
        select id,waste_no,plan_id,batch_id,pitch_weight,pitch_type,unit_price,reason,warning_state,deal_user_id,deal_time,delete_state
            from wh_waste_mgn where delete_state=1
    </select>

    <update id="updwarningState">
        update wh_waste_mgn set warning_state=#{warningState} where id=#{id}
    </update>

    <insert id="insertWhWasteMgn" parameterType="WhWasteMgn">
        insert into wh_waste_mgn(id,waste_no,plan_id,batch_id,pitch_weight,pitch_type,unit_price,reason,warning_state,deal_user_id,deal_time,delete_state)
        values(#{WhWasteMgn.id},#{WhWasteMgn.wasteNo},#{WhWasteMgn.planId},#{WhWasteMgn.batchId},#{WhWasteMgn.pitchWeight},#{WhWasteMgn.pitchType},#{WhWasteMgn.unitPrice},
        #{WhWasteMgn.reason},#{WhWasteMgn.warningState},#{WhWasteMgn.dealUserId},#{WhWasteMgn.dealTime},1)
    </insert>

</mapper>