<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.WhWarehouseCountDao" >
	
	<select id="getAllWhWarehouseCount" resultType="WhWarehouseCount">
		select a.id,a.stor_no,a.datetime,a.weight,a.materials,a.meminfo,a.edit_user_id2,a.edit_datetime2,a.delete_state,a.max_weight,a.tiji,b.stones_name as stonesName,usr.u_name
		from wh_warehouse_count as a
		left join dic_stones b on a.materials=b.id
		LEFT JOIN u_user usr ON a.edit_user_id2 = usr.user_id and usr.delete_state = 1
		 where a.delete_state=1
	</select>
	
	<select id="getWhWarehouseCountById" resultType="WhWarehouseCount">
		select a.id,a.stor_no,a.datetime,a.weight,a.materials,a.meminfo,a.edit_user_id2,a.edit_datetime2,a.delete_state,b.material_name as materialsName
		from wh_warehouse_count as a
		left join dic_materials b on a.materials=b.id 
		 where a.id=#{id}
	</select>
	
	<update id="updWhWarehouseCountById" parameterType="WhWarehouseCount">
		update wh_warehouse_count set 
			stor_no=#{wwc.storNo},
			datetime=#{wwc.datetime},
			weight=#{wwc.weight},
			materials=#{wwc.materials},
			meminfo=#{wwc.meminfo},
			edit_user_id2=#{wwc.editUserId2},
			edit_datetime2=#{wwc.editDatetime2},
			tiji=#{wwc.tiji},
			max_weight=#{wwc.maxWeight}
		where id=#{wwc.id}
	</update>
	
	<update id="delWhWarehouseCountById">
		update wh_warehouse_count set delete_state=0 where id=#{id}
	</update>
	
	<insert id="insertWhWarehouseCount" parameterType="WhWarehouseCount">
		insert into wh_warehouse_count(id,stor_no,datetime,weight,materials,meminfo,edit_user_id2,edit_datetime2,delete_state,max_weight,tiji)
		values(#{wwc.id},#{wwc.storNo},#{wwc.datetime},#{wwc.weight},#{wwc.materials},#{wwc.meminfo},#{wwc.editUserId2},#{wwc.editDatetime2},1,#{wwc.maxWeight},#{wwc.tiji})
	</insert>
	<select id="getWhWarehouseCountByStorNo" resultType="WhWarehouseCount">
		select top 1 a.id,a.stor_no,a.datetime,a.weight,a.materials,a.meminfo,a.edit_user_id2,a.edit_datetime2,a.delete_state,b.material_name as materialsName,usr.u_name
		from wh_warehouse_count as a
		left join dic_materials b on a.materials=b.id
		LEFT JOIN u_user usr ON a.edit_user_id2 = usr.user_id and usr.delete_state = 1
		where a.delete_state=1 and a.stor_no=#{storNo}
	</select>


	<select id="getLiaoCangPanDian" resultType="map">
		SELECT a.*,CASE WHEN b.dayWeightIn is null THEN 0 ELSE b.dayWeightIn end as dayWeightIn ,CASE WHEN b.dayWeightIn is null THEN 0 ELSE b.dayWeightIn-a.dayWeightOut end as dayWeightCha  FROM (SELECT top 7 SUM(weight) dayWeightOut,convert(char(10),production_time ,120) dayTimeOut FROM quality_by_plate_real_time_prodocution_data GROUP BY convert(char(10),production_time ,120) ORDER BY convert(char(10),production_time ,120) desc) a
		LEFT JOIN (SELECT SUM(weight) dayWeightIn,convert(char(10),datetime ,120) dayTimeIn FROM wh_incoming_material GROUP BY convert(char(10),datetime ,120)) b on a.dayTimeOut = b.dayTimeIn
		ORDER BY a.dayTimeOut ASC
	</select>

	<select id="getLaiLiaoByTime" resultType="String">

	</select>
</mapper>