<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldxx.dao.ZhiLiangYuJingDao">
    <insert id="addZhiLiangYuJing" parameterType="PlanProductionWarningVo">
		insert into plan_production_warning
			(id,plan_id,datetime,road_no,warning_type,warning_content,warning_state,send_status,send_time,send_user_id,delete_state)
			values(#{id},#{planid},#{datetime},#{roadno},#{warningtype},#{warningcontent},#{warningstate},#{sendstatus},
			#{send_time},#{send_user_id},
			#{deletestate})
	</insert>

    <update id="updateZhiLiangYuJing" parameterType="PlanProductionWarningVo">
		update site_compaction_num
			set site_id=#{siteid},batch_id=#{batchid},
			road_roller_name=#{roadrollername},edit_user_id=#{edituserid},
			edit_datetime=#{editdatetime},
			compaction_num=#{compactionnum} where id=#{id}
	</update>

    <update id="delZhiLiangYuJing" parameterType="string">
		update site_compaction_num set delete_state=0 where id=#{id}
	</update>

    <select id="getAllZhiLiangYuJing" parameterType="string" resultType="PlanProductionWarningVo">
		SELECT
			ppw.*,ppc.plan_no,uu.u_name,srm.road_name,srm.road_no
		FROM
			plan_production_warning ppw
		LEFT JOIN plan_production_collection ppc ON ppw.plan_id = ppc.plan_id
		LEFT JOIN u_user uu on uu.user_id = ppw.send_user_id and uu.delete_state = 1
		LEFT JOIN sys_road_mgn srm on ppw.road_id = srm.road_id and srm.delete_state = 1

		WHERE ppw.delete_state = 1
	</select>

</mapper>