<!DOCTYPE html>
<html>

	<head>
		 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../font2/iconfont.css">
	<link href="../../style/bootstrap.min.css" rel="stylesheet">
    <link href="../../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../../style/jquery-editable-select.css">
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="../../easyUI/themes/icon.css" />
	<link rel="stylesheet" type="text/css" href="../../easyUI/demo/demo.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.mobile.css" />
	<link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
	<link rel="stylesheet" type="text/css" href="../../css/code.css" />
	<link rel="stylesheet" type="text/css" href="../../../js/skin/default/layer.css" />
    <link rel="stylesheet" type="text/css" href="../../css/laydate.css" />
    <link href="../../toastr/toastr.css" rel="stylesheet">
	    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
   <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-skins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/font.css">
     <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/smartadmin-rtl.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/all.css">

	</head>

	<body>
	<div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>沥青砼生产质量管理</li>
			<li>拌和生产质量监控</li>
			<li class="active">实时生产级配统计</li>
		</ul>
    </div>


		<div class="UpperPartR">

		</div> 
		<div class="layui-tab layui-tab-card layui-tab-brief" lay-filter="docDemoTabBrief">
			<ul class="layui-tab-title">
				<li class="layui-this active">实时级配曲线图</li>
				<!--<li>级配统计图</li>-->
			</ul>
			 
			<div class="layui-tab-content" style="height: 100%;background-color:white;">
				<div class="layui-tab-item layui-show">
				<div class="UpperPart" >
                <div class="UpperPartL" style="z-index:10 !important;">
                    <div class="form-inline" style="margin: 5PX;">
                        <div class="form-group">
                            <input type="text" style="width:200px;margin-left: 15px;" class="form-control" placeholder="起始时间"
                                   id="reservation" onclick="">
                        </div>
                        <span class="form-group" style="padding-top: 5px;margin-left: 5px;margin-right: 5px;">至</span>
                        <div class="form-group">
                            <input type="text" style="width:200px" class="form-control" placeholder="结束时间" id="reservationEnd"><br/>
                        </div>
						<div class="form-group">
							<select  class="form-control" id="time"  style="width: 100%;">

							</select>
						</div>
                      
                        <div class="form-group">
                            <a class="btn btn-primary btn-sm" onclick="searchBydate()">检索</a>
                        </div>
                    </div>
                </div>
                <div class="UpperPartR">

                </div>
            </div>
					<div class="bottom">
						<div id="sec" style="width: 1500px;height:400px;"></div>
					</div>
				</div>
				<!-- 三结束 -->
					<!--<div class="layui-tab-item weadmin-body">
						<div id="fou" style="width: 1500px;height:400px;"></div>
					</div>-->
			</div>
		 </div>
	</body>
	<script src="../../js/jquery.js"></script>
	<script src="../../easyUI/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../easyUI/jquery.easyui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/common-scripts.js"></script>
	<script src="../../js/jquery.dataTables.min.js"></script>
	<script src="../../js/main.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/laydate/laydate.js"></script>
	<script src="../../js/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/element.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/myTool.js"></script>
	<script src="../../toastr/toastr.js"></script>
	<script src="../../js/myUtil.js" type="text/javascript" charset="utf-8"></script>
	<script>
		let flag = 0;
		$(document).ready(function () {
			const start = new Date();
			const end = new Date();
			start.setTime(start.getTime() - 3600 * 1000 * 24 * 3);
			end.setTime(end.getTime());
			var startTime = start.Format("yyyy-MM-dd hh:mm:ss");
			var endTime = end.Format("yyyy-MM-dd hh:mm:ss");
			$("#reservation").val(startTime)
			$("#reservationEnd").val(endTime)
			getPeiBiTimeListByTime();
			flag = 1
		});


		let startTime = {
			elem: '#reservation',
			type: 'datetime',
			trigger: 'click',
			done: function (date) {
				let beginDate = date;
				let endDate = $("#reservationEnd").val();
				let d1 = beginDate;
				let d2 = endDate;
				if (beginDate != "" && endDate != "" && d1 > d2) {
					toastr.error("开始时间不能大于结束时间！");
					$("#reservation").val('');
					return false;
				}
				if(flag==1){
					getPeiBiTimeListByTime(d1,d2)
				}
			}
		};
    // 结束时间
    let endTime = {
        elem: '#reservationEnd',
        type: 'datetime',
        trigger: 'click',
        done: function (date) {
            let beginDate = $("#reservation").val();
            let endDate = date;
            let d1 = beginDate;
            let d2 = endDate;
            if (beginDate != "" && endDate != "" && d1 > d2) {
                toastr.error("开始时间不能大于结束时间！");
                $("#reservationEnd").val('');
                return false;
            }
			if(flag==1){
				getPeiBiTimeListByTime(d1,d2)
			}

        }
    };
    laydate.render(startTime);
    laydate.render(endTime);

		function showMask() {
			myTool.mask.show('查询中...');
		}
		function hidMask() {
			myTool.mask.hide();
		}



    function getPeiBiTimeListByTime(obj1,obj2){
		var begTime;
		var endTime;
		if(obj1!=""&&obj1!=undefined&&obj1!=null&&obj2!=""&&obj2!=undefined&&obj2!=null){
			begTime=obj1;
			endTime=obj2;
		}else{
			begTime=$("#reservation").val();
			endTime=$("#reservationEnd").val()
		}
		showMask()
		$.ajax({
			type: 'POST',
			url: '/QualityJiPei/getAllQualityJiPeiByTime',
			dataType: 'json',
			data: {
				beginTime:begTime,
				endTime:endTime,
			},
			error: function (msg) {
				errMessage("请求UserController失败");
			},
			success: function (json) {
				$("#time").empty()
				if(json!=null){
					for(var i=0;i<json.length;i++) {
						$("#time").append(`<option  value=${json[i].datetime}>${json[i].datetime}_${json[i].peifangName}</option>`);
					}
				}
				searchBydate()
				hidMask()
			}
		});
	}

		/*function getPeiBiTimeListByTime2(obj1,obj2){
			$.ajax({
				type: 'POST',
				url: '/QualityJiPei/getAllQualityJiPeiByTime',
				dataType: 'json',
				data: {
					beginTime:obj1,
					endTime:obj2,
				},
				error: function (msg) {
					errMessage("请求UserController失败");
				},
				success: function (json) {
					$("#time").empty()
					if(json!=null){
						for(var i=0;i<json.length;i++) {
							$("#time").append(`<option value=${json[i].datetime}>${json[i].datetime}_${json[i].peifangName}</option>`);
						}
					}
				}
			});
		}*/



	function searchBydate() {
		var peifangName = $("#time option:selected").text().split("_")[1];
		var datetime = $("#time option:selected").text().split("_")[0];
		$.ajax({
			type: 'POST',
			url: '/QualityJiPei/getAllQualityJiPeiByPeiFang',
			dataType: 'json',
			data: {
				peifangName: peifangName,
				datetime:datetime
			},
			error: function (msg) {
				errMessage("请求UserController失败");
			},
			success: function (json) {
				if(json!=null){
					setEcahrs(json.QualityJiPei,json.DicPeifangshaikong)
				}
			}
		});
	}



	//obj:集配百分比，obj2:集配上下限
	function setEcahrs(obj1,obj2){
    	var arr=[]
		arr.push(obj1.p0075*100)
		arr.push(obj1.p015*100)
		arr.push(obj1.p03*100)
		arr.push(obj1.p06*100)
		arr.push(obj1.p118*100)
		arr.push(obj1.p236*100)
		arr.push(obj1.p475*100)
		arr.push(obj1.p95*100)
		arr.push(obj1.p132*100)
		arr.push(obj1.p16*100)
		arr.push(obj1.p19*100)

		var max=[]
		max.push(obj2[0].max0075)
		max.push(obj2[0].max015)
		max.push(obj2[0].max03)
		max.push(obj2[0].max06)
		max.push(obj2[0].max118)
		max.push(obj2[0].max236)
		max.push(obj2[0].max475)
		max.push(obj2[0].max95)
		max.push(obj2[0].max132)
		max.push(obj2[0].max16)
		max.push(obj2[0].max19)

		var min=[]
		min.push(obj2[0].min0075)
		min.push(obj2[0].min015)
		min.push(obj2[0].min03)
		min.push(obj2[0].min06)
		min.push(obj2[0].min118)
		min.push(obj2[0].min236)
		min.push(obj2[0].min475)
		min.push(obj2[0].min95)
		min.push(obj2[0].min132)
		min.push(obj2[0].min16)
		min.push(obj2[0].min19)

		var myChart = echarts.init(document.getElementById('sec'));
		var option = {
			legend: {
				data: ['上限', '实时生产级配统计', '下限']
			},
			tooltip: {
				trigger: 'axis'
			},
			grid: {
				left: '3%',
				right: '4%',
				bottom: '3%',
				containLabel: true
			},
			toolbox: {
				feature: {
					saveAsImage: {}
				}
			},
			xAxis: {
				type: 'category',
				boundaryGap: false,
				data: ['0.075', '0.15', '0.3', '0.6', '1.18', '2.36', '4.75', '9.5', '13.2', '16', '19']
			},
			yAxis: {
				type: 'value',
				name: '百分比(%)',
				position: 'left',
			},
			series: [{
				name: '上限',
				type: 'line',
				data: max
			},{
				name: '实时生产级配统计',
				type: 'line',
				data: arr
			},{
				name: '下限',
				type: 'line',
				data: min
			}
			]
		};
		// 使用刚指定的配置项和数据显示图表。
		myChart.setOption(option);

	}

	
	

	</script>

</html>
