<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>tbale</title>
		<link href="../../favicon.ico" rel="shortcut icon">
		<link href="../../style/bootstrap.min.css" rel="stylesheet">
		<link href="../../style/style.css" rel="stylesheet">
		<link rel="stylesheet" href="../../font2/iconfont.css">
		<link rel="stylesheet" href="../../style/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="../../easyUI/themes/default/easyui.css"/>
		<link rel="stylesheet" type="text/css" href="../../easyUI/themes/icon.css"/>
		<link rel="stylesheet" type="text/css" href="../../easyUI/demo/demo.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/layui.mobile.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/laydate.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/code.css"/>
		<link rel="stylesheet" type="text/css" href="../../../js/skin/default/layer.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/laydate.css"/>
		<link href="../../toastr/toastr.css" rel="stylesheet">
	</head>
	<body>
	<div class="mianbao">
    	<ul class="breadcrumb">
    		<li><i class="iconfont icon-knowledgebase"></i></li>
			<li>沥青砼生产质量管理</li>
			<li>拌和生产质量监控</li>
			<li class="active">油石比走势</li>
		</ul>
    </div>
		<div class="UpperPartR">

		</div>
		<div class="layui-tab layui-tab-card">
			<ul class="layui-tab-title">
				<li class="layui-this">油石比走势</li>
				<li>油石比走势曲线图</li>
			</ul>
			<div class="layui-tab-content" style="height: 100px;">
				<div class="layui-tab-item layui-show">
					<div class="bottom">
            <table class="table table-bordered table-condensed" id="mainContent">
                <thead>
                    <tr>
                        <th>计划编号</th>
                        <th>时间</th>
						<th>油石比</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>   
            </table>
					</div>
				</div>
				<!-- 三结束 -->
					<div class="layui-tab-item weadmin-body">
						<div class="">
							<div class="pull-left col-xs-2.5">
								<input type="text" style="width:132px;margin-left: 15px;" class="form-control" placeholder="起始时间"
									   id="reservation" onclick="">
							</div>
							<span class="pull-left spa" style="padding-top: 5px;margin-left: 5px;margin-right: 5px;">至</span>
							<div class="pull-left col-xs-2.5">
								<input type="text" style="width:120px" class="form-control" placeholder="结束时间" id="reservationEnd"
									   onclick=""><br/>
							</div>
							<div class="pull-left col-sm-1">
								<a class="btn btn-primary btn-sm" onclick="searchBydate()">检索</a>
							</div>
						</div>
						<br>
						<br>
						<br>
						<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
						<div id="two" style="width: 1000px;height:600px;"></div>
					</div>
				</div>
			</div>
			<!-- allMsg -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="allMsg1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>所有信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                    <table class="table table-bordered">
                        <tr>
                        	<td style="width: 20%;">备用</td>
                        	<td style="width: 30%;">1</td>
                        	<td style="width: 20%;">备用</td>
                        	<td style="width: 30%;">1</td>
                        </tr>
                        <tr>
                        	<td>备用</td>
                        	<td>1</td>
                        	<td>备用</td>
                        	<td>1</td>
                        </tr>
                    </table>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
        </div>
    </div>
</div>
<!-- allMsg结束 -->
<!-- 修改Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="change">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><b>修改信息</b></h4>
        </div>
        <div class="modal-body">
            <div>     
                <form class="form-inline">
                        <table class="table table-bordered table-condensed" style="height:auto;">
                        	<tr>
                        		<td style="width: 20%;">序号</td>
                        		<td><input type="text" id="" placeholder="请输入" style="width: 100%;height: 100%;border: none;"></td>
                        		<td style="width: 20%;">计划编号</td>
                        		<td><input type="text" id="" placeholder="请输入" style="width: 100%;height: 100%;border: none;"></td>
                        	</tr>
                        	<tr>
                        		<td style="width: 20%;">时间</td>
                        		<td><input type="text" id="" placeholder="请输入" style="width: 100%;height: 100%;border: none;"></td>
                        		<td style="width: 20%;">油石比</td>
                        		<td><input type="text" id="" placeholder="请输入" style="width: 100%;height: 100%;border: none;"></td>
                        	</tr>
                        </table>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-success">保存</button>
        </div>
        </div>
    </div>
</div>
<!-- 修改model结束 -->
</body>
<script src="../../js/jquery.js"></script>
<script src="../../easyUI/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/jquery.dataTables.min.js"></script>
<script src="../../js/laydate/laydate.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/element.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/myEcharts.js" type="text/javascript" charset="utf-8"></script>
<script src="../../toastr/toastr.js"></script>
<script>
	$(document).ready( function () {
		initTable();
		initPeiBiEcharts();
	});

	    var table=$('#mainContent').dataTable({
	        "deferRender": true,
	        "processing": true,
	        "bDestroy": true,
	        "iDisplayLength": 10,
	        "searching": true,
	        "lengthChange": false,
	        "oLanguage": {
			    "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
			},
			"columns": [
	            { "data": "planNo"},
	            { "data": "nowTime"},
	            { "data": "asphaltAggregateRatio"},
	        ],
	        "order": [[0, 'asc']],
	        "oLanguage": { //国际化配置
	        "sProcessing": "正在获取数据，请稍后...",
	        "sLengthMenu": "显示 _MENU_ 条",
	        "sZeroRecords": "查询不到相关数据",
	        "sInfo": "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
	        "sInfoEmpty": "记录数为0",
	        "sInfoFiltered": "(全部记录数 _MAX_ 条)",
	        "sInfoPostFix": "",
	        "sSearch": "搜索",
	        "sUrl": "",
	        "oPaginate": {
	            "sFirst": "第一页",
	            "sPrevious": "上一页",
	            "sNext": "下一页",
	            "sLast": "最后一页"
	        }},
	        
		});
		
		function initTable(){
	        $.ajax({
	            type: 'POST',
	            url: '/QualityByPlateAsphaltAggregateRatio/getAllQualityByPlateAsphaltAggregateRatio',
	            dataType: 'json',
	            data: {
	            },
	            error: function (msg) {
	                errMessage("请求UserController失败");
	            },
	            success: function (json) {
	                $('#mainContent').dataTable().fnClearTable();
	                $('#mainContent').DataTable().rows.add(json).draw(false);
	            }
	        });
	    }


	function initPeiBiEcharts(startTime, endTime) {
		$.ajax({
			type: 'POST',
			url: '/QualityByPlateAsphaltAggregateRatio/getYouShiBiVoListByTime',
			dataType: 'json',
			data: {
				beginTime: startTime,
				endTime: endTime
			},
			error: function (msg) {
				errMessage("请求UserController失败");
			},
			success: function (json) {
				initMychart(json);
			}
		});
	}

	let startTime = {
		elem: '#reservation',
		type: 'datetime',
		trigger: 'click',
		done: function (date) {
			let beginDate = date;
			let endDate = $("#reservationEnd").val();
			let d1 = beginDate;
			let d2 = endDate;
			if (beginDate != "" && endDate != "" && d1 > d2) {
				toastr.error("开始时间不能大于结束时间！");
				$("#reservation").val('');
				return false;
			}
		}
	};
	// 结束时间
	let endTime = {
		elem: '#reservationEnd',
		type: 'datetime',
		trigger: 'click',
		done: function (date) {
			let beginDate = $("#reservation").val();
			let endDate = date;
			let d1 = beginDate;
			let d2 = endDate;
			if (beginDate != "" && endDate != "" && d1 > d2) {
				toastr.error("开始时间不能大于结束时间！");
				$("#reservationEnd").val('');
				return false;
			}
		}
	};
	laydate.render(startTime);
	laydate.render(endTime);

	function searchBydate() {
		let begin = $('#reservation').val();
		let start = begin.replace(/年|月/g, '-').replace('日', '');
		let end = $('#reservationEnd').val().replace(/年|月/g, '-').replace('日', '');
		initPeiBiEcharts(start, end);
		console.log(start);

	}

	function myTrim(x) {
		return x.replace(/^\s+|\s+$/gm, '');
	}

	function initMychart(list) {
		let myChart = echarts.init(document.getElementById('two'));
		// 使用刚指定的配置项和数据显示图表。
		let peibiOption = setYouShiBiOption(list);
		myChart.setOption(peibiOption);
	}


</script>
</html>
